
<div class="section-about style-two bg-white pt-60"> 
  <div class="container"> 
    <div class="row row-gap-12 flex-between">
      <div class="col-12 col-xl-5 col-lg-6">
        <div class="heading3">We are your strategic partner for business development</div>
      </div>
      <div class="col-12 col-lg-6 col-md-11">
        <div class="desc">At Bytewave, we're more than just business consultants; we're passionate allies on your journey. With a mission to respect and define the unique values of each enterprise, we're committed to crafting innovative solutions and tailored strategies that propel you towards new heights.</div><a class="text-button-small display-inline-block mt-16 border-underline-on-surface-2px" href="#!">Our Company</a>
      </div>
    </div>
    <div class="cta-block bg-linear-grey bora-16 pl-40 pr-40 pt-28 pb-28 mt-60">
      <div class="row flex-between row-gap-20">
        <div class="col-12 col-md-8">
          <div class="text-white heading4">In Search of a Premium Business Consultant?</div>
        </div>
        <div class="col-12 col-md-4 text-end"><a class="button-blue button-blue-hover border-none bora-4 text-white" href="#!"> <span>Get a free Quote</span></a></div>
      </div>
    </div>
  </div>
</div>