
<div class="section-banner style-two">
  <div class="list">
    <div class="heading4 text-uppercase text-white">We are unique</div><i class="icon-icon-logo fs-36"></i>
    <div class="heading4 text-uppercase text-white">Get Started with IT Excellence</div><i class="icon-icon-logo fs-36"></i>
    <div class="heading4 text-uppercase text-white">Let's Build Your Digital Future</div><i class="icon-icon-logo fs-36"></i>
    <div class="heading4 text-uppercase text-white">We are unique</div><i class="icon-icon-logo fs-36"></i>
    <div class="heading4 text-uppercase text-white">Get Started with IT Excellence</div><i class="icon-icon-logo fs-36"></i>
    <div class="heading4 text-uppercase text-white">Let's Build Your Digital Future</div><i class="icon-icon-logo fs-36"></i>
  </div>
</div>