
<div class="section-benefit bg-white pt-80 pb-80">
  <div class="container"> 
    <div class="row row-gap-40">
      <div class="col-12 col-lg-3 col-sm-6">
        <div class="benefit-item ">
          <div class="block-icon"> <i class="ph ph-medal fs-42"></i></div>
          <div class="heading6 mt-8">In-Depth Expertise</div>
          <div class="text-on-surface-variant1 mt-8">Receive support from professionalism with specialized knowledge, aiding efficient issue resolution and performance enhancement.</div>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-sm-6">
        <div class="benefit-item ">
          <div class="block-icon"> <i class="ph ph-hand-eye fs-42"></i></div>
          <div class="heading6 mt-8">Objective Viewpoint</div>
          <div class="text-on-surface-variant1 mt-8">Harness unbiased external perspectives, delivering fresh and effective solutions through impartial analysis and evaluation.</div>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-sm-6">
        <div class="benefit-item ">
          <div class="block-icon"> <i class="ph ph-piggy-bank fs-42"></i></div>
          <div class="heading6 mt-8">Time and Energy Savings</div>
          <div class="text-on-surface-variant1 mt-8">Through strategy determination and execution, save time and concentrate on core areas.</div>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-sm-6">
        <div class="benefit-item ">
          <div class="block-icon"> <i class="ph ph-chart-line-up fs-42"></i></div>
          <div class="heading6 mt-8">Increased Efficiency</div>
          <div class="text-on-surface-variant1 mt-8">Streamline business operations, from processes to technology, enhancing competitiveness and performance.</div>
        </div>
      </div>
    </div>
  </div>
</div>