
<div class="section-couter">
  <div class="bg-img"> <img src="assets/images/component/bg-counter2.png" alt=""/></div>
  <div class="container"> 
    <div class="row row-gap-40 text-white">
      <div class="col-md-6"> 
        <div class="heading3 text-white">Join us for a transformative journey!</div>
        <div class="mt-16">At Bytewave, we're here to amplify your growth. Our expert consultants drive innovation, enhance processes, and accelerate success. Let's shape your prosperous future together!"</div>
      </div>
      <div class="col-md-6">
        <div class="pl-55"> 
          <div class="row row-gap-24">
            <div class="col-6">
              <div class="counter-item"> 
                <div class="heading3 text-white">20</div>
                <div class="body1 mt-4 text-white">Years experiences</div>
              </div>
            </div>
            <div class="col-6">
              <div class="counter-item"> 
                <div class="heading3 text-white">1.8<span>k</span></div>
                <div class="body1 mt-4 text-white">Happy customers</div>
              </div>
            </div>
            <div class="col-6">
              <div class="counter-item"> 
                <div class="heading3 text-white">460</div>
                <div class="body1 mt-4 text-white">Project completed</div>
              </div>
            </div>
            <div class="col-6">
              <div class="counter-item"> 
                <div class="heading3 text-white">15</div>
                <div class="body1 mt-4 text-white">Awards achievement</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>