
<div class="section-news style-two bg-white pt-80 pb-80"> 
  <div class="container">
    <div class="cursor flex-center gap-12"><i class="ph ph-caret-left text-white"></i><i class="ph ph-caret-right text-white"></i></div>
    <div class="heading3 text-center">Last News</div>
    <div class="text-center mt-8">Empowering Your Success Through Expert Consulting Services</div>
    <div class="list-news mt-40">
      <div class="item">
        <div class="blog-item hover-box-shadow "><a class="main-item" href="#!">
            <div class="bg-img w-100 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/blog/item4.png" alt="Navigating Success: Insights from Business Consulting Experts"/></div>
            <div class="infor mt-28">
              <div class="text-button-small text-blue pt-4 pb-4 pl-12 pr-12 bg-grey bora-8 display-inline-block">Healthcare</div>
              <div class="heading5 mt-12">Navigating Success: Insights from Business Consulting Experts</div>
              <div class="text-on-surface-variant1 mt-12">Streamlining operations with a cloud-based EMR system for XYZ Medical Center...</div>
              <div class="text-label text-on-surface-variant1 mt-16">February 22, 2023</div>
            </div></a>
        </div>
      </div>
      <div class="item">
        <div class="blog-item hover-box-shadow "><a class="main-item" href="#!">
            <div class="bg-img w-100 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/blog/item5.png" alt="Strategies for Thriving: Unveiling Business Consulting's Impact"/></div>
            <div class="infor mt-28">
              <div class="text-button-small text-blue pt-4 pb-4 pl-12 pr-12 bg-grey bora-8 display-inline-block">E-commerce & Retail</div>
              <div class="heading5 mt-12">Strategies for Thriving: Unveiling Business Consulting's Impact</div>
              <div class="text-on-surface-variant1 mt-12">Thriving in a particular context, such as business, technology, or life....</div>
              <div class="text-label text-on-surface-variant1 mt-16">February 23, 2023</div>
            </div></a>
        </div>
      </div>
      <div class="item">
        <div class="blog-item hover-box-shadow "><a class="main-item" href="#!">
            <div class="bg-img w-100 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/blog/item3.png" alt="Elevating Business Performance: Exploring the World of Consulting"/></div>
            <div class="infor mt-28">
              <div class="text-button-small text-blue pt-4 pb-4 pl-12 pr-12 bg-grey bora-8 display-inline-block">Finance & Banking</div>
              <div class="heading5 mt-12">Elevating Business Performance: Exploring the World of Consulting</div>
              <div class="text-on-surface-variant1 mt-12">An exploration of the consulting world and its potential to enhance business performance...</div>
              <div class="text-label text-on-surface-variant1 mt-16">February 24, 2023</div>
            </div></a>
        </div>
      </div>
      <div class="item">
        <div class="blog-item hover-box-shadow "><a class="main-item" href="#!">
            <div class="bg-img w-100 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/blog/item6.png" alt="Onlineization and Virtualization Trends Driving Tech Breakthroughs."/></div>
            <div class="infor mt-28">
              <div class="text-button-small text-blue pt-4 pb-4 pl-12 pr-12 bg-grey bora-8 display-inline-block">Techlonogy</div>
              <div class="heading5 mt-12">Onlineization and Virtualization Trends Driving Tech Breakthroughs.</div>
              <div class="text-on-surface-variant1 mt-12">How the prevailing trends of onlineization and virtualization are serving as driving forces...</div>
              <div class="text-label text-on-surface-variant1 mt-16">February 25, 2023</div>
            </div></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-white">
  <div class="container">
    <div class="border-line"></div>
  </div>
</div>