
<div class="section-solution bg-linear pt-80 pb-80"> 
  <div class="container text-center">
    <div class="heading3 text-center mt-12">Our services</div>
    <div class="text-center mt-8">Empowering Your Success Through Expert Consulting Services</div>
    <div class="row row-gap-40 mt-40">
      <div class="col-12 col-xl-4 col-sm-6">
        <div class="solution-item p-40 bora-20 bg-white h-100"><a class="main-item d-flex gap-24" href="#!"><i class="icon-coin-user text-blue fs-60"></i>
            <div class="desc text-start">
              <div class="heading5">Business Strategy Analysis</div>
              <div class="text-on-surface-variant1 mt-12">Crafting strategic pathways through comprehensive market analysis to achieve business objectives.</div>
            </div></a>
        </div>
      </div>
      <div class="col-12 col-xl-4 col-sm-6">
        <div class="solution-item p-40 bora-20 bg-white h-100"><a class="main-item d-flex gap-24" href="#!"><i class="icon-user-time text-blue fs-60"></i>
            <div class="desc text-start">
              <div class="heading5">Project Management</div>
              <div class="text-on-surface-variant1 mt-12">Ensuring successful project execution by expertly managing timelines, resources, and deliverables.</div>
            </div></a>
        </div>
      </div>
      <div class="col-12 col-xl-4 col-sm-6">
        <div class="solution-item p-40 bora-20 bg-white h-100"><a class="main-item d-flex gap-24" href="#!"><i class="icon-hand-up text-blue fs-60"></i>
            <div class="desc text-start">
              <div class="heading5">Operational Optimization</div>
              <div class="text-on-surface-variant1 mt-12">Enhancing performance by streamlining processes, boosting efficiency, and reducing expenditures.</div>
            </div></a>
        </div>
      </div>
      <div class="col-12 col-xl-4 col-sm-6">
        <div class="solution-item p-40 bora-20 bg-white h-100"><a class="main-item d-flex gap-24" href="#!"><i class="icon-device-cloud text-blue fs-60"></i>
            <div class="desc text-start">
              <div class="heading5">Digital Consulting</div>
              <div class="text-on-surface-variant1 mt-12">Navigating the digital landscape, from system enhancements to transformative tech solutions.</div>
            </div></a>
        </div>
      </div>
      <div class="col-12 col-xl-4 col-sm-6">
        <div class="solution-item p-40 bora-20 bg-white h-100"><a class="main-item d-flex gap-24" href="#!"><i class="icon-target-chart text-blue fs-60"></i>
            <div class="desc text-start">
              <div class="heading5">Marketing Strategy</div>
              <div class="text-on-surface-variant1 mt-12">Developing impactful marketing blueprints, leveraging market insights for effective campaigns.</div>
            </div></a>
        </div>
      </div>
      <div class="col-12 col-xl-4 col-sm-6">
        <div class="solution-item p-40 bora-20 bg-white h-100"><a class="main-item d-flex gap-24" href="#!"><i class="icon-user-chart text-blue fs-60"></i>
            <div class="desc text-start">
              <div class="heading5">Leadership Development</div>
              <div class="text-on-surface-variant1 mt-12">Cultivating top-tier leadership skills for managerial excellence and elevated performance.</div>
            </div></a>
        </div>
      </div>
    </div>
  </div>
</div>