.slider-block.style-two.style-four
    .prev-arrow.flex-center
        i.ph-bold.ph-caret-left.text-white
    .list-slider 
        .slider-item
            .bg-img.w-100.h-100
                img(src="assets/images/slider/slider4-1.png", alt="").w-100.h-100
            .container 
                .row
                    .col-xxl-7.col-lg-8.col-md-10.col-12
                        .text-label.text-white.mt-16 Experience Digital Excellence with Us
                        .heading1.text-white Crafting Digital Success Stories Together
                        .block-button.mt-36.d-flex.gap-12.flex-wrap
                            a(href="#!").button.bg-pink.button-pink-hover.text-white.border-none Our Services
        .slider-item
            .bg-img.w-100.h-100
                img(src="assets/images/slider/slider4-3.png", alt="").w-100.h-100
            .container 
                .row
                    .col-lg-8.col-md-10.col-12
                        .text-label.text-white.mt-16 Experience Digital Excellence with Us
                        .heading1.text-white Transform Your Brand's Digital Landscape
                        .block-button.mt-36.d-flex.gap-12.flex-wrap
                            a(href="#!").button.bg-white.border-none Our Services
                            a(href="#!").button.bg-pink.button-pink-hover.border-none.text-white.bora-99
                                i.ph-fill.ph-play-circle.text-white.fs-28
                                span Watch Video
        .slider-item
            .bg-img.w-100.h-100
                img(src="assets/images/slider/slider4-2.png", alt="").w-100.h-100
            .container 
                .row
                    .col-lg-8.col-md-10.col-12
                        .text-label.text-white.mt-16 Experience Digital Excellence with Us
                        .heading1.text-white Navigate the Digital Frontier Together
                        .block-button.mt-36.d-flex.gap-12.flex-wrap
                            a(href="#!").button.bg-white.border-none Get a free Quote
                            a(href="#!").button.bg-pink.button-pink-hover.border-none.text-white.bora-99
                                i.ph-fill.ph-play-circle.text-white.fs-28
                                span Watch Video
    .next-arrow.flex-center
        i.ph-bold.ph-caret-right.text-white
                