.slider-block.style-one.mt-60
    .container 
        .row.row-gap-32
            .col-xl-4.col-12
                .text
                    .heading2.pr-55 IT services for small to mid-Sized companies
                    .body2.mt-16 We provide custom software solutions for any industry. Creating high - value software and technology for your business. 
                .block-button.mt-40.d-flex.gap-16.flex-wrap
                    a(href="#!").button.hover-button.bg-blue.text-white.border-none 
                        span Get a Free Assessment
                    a(href="#!").button.hover-button.bg-grey.border-none 
                        span Contact
            .col-xl-8.col-12
                .bg-img.w-100.scroll-right-to-left3
                    img(src="assets/images/slider/slider1.png", alt="").w-100