.slider-block.style-two.style-three
    .prev-arrow.flex-center
        i.ph-bold.ph-caret-left.text-white
    .list-slider 
        .slider-item
            .bg-img.w-100.h-100
                img(src="assets/images/slider/slider3-1.png", alt="").w-100.h-100
            .container 
                .row
                    .col-lg-8.col-md-10.col-12
                        .heading1.text-white.animate__animated.animate__fadeInUp.animate__delay-0-2s Experts engineering industrial solutions
                        .body2.text-white.mt-16.animate__animated.animate__fadeInUp.animate__delay-0-5s Collaborating to create a roadmap for your triumph.
                        .block-button.mt-36.d-flex.gap-12.flex-wrap.animate__animated.animate__fadeInUp.animate__delay-0-8s
                            a(href="#!").button.bg-white.border-none Our Services
                            a(href="#!").button.bg-yellow.button-yellow-hover.border-none.bora-99
                                i.ph-fill.ph-play-circle.fs-28
                                span Video Presentation
        .slider-item
            .bg-img.w-100.h-100
                img(src="assets/images/slider/slider3-2.png", alt="").w-100.h-100
            .container 
                .row
                    .col-lg-8.col-md-10.col-12
                        .heading1.text-white Healthcare Transformation Through IT Solutions
                        .list-feature.mt-12
                            .flex-item-center 
                                i.ph.ph-check.text-yellow.fs-28 
                                .heading6.text-white.pl-12 Flexibility & Adaptability
                            .flex-item-center.mt-12
                                i.ph.ph-check.text-yellow.fs-28 
                                .heading6.text-white.pl-12 Market Analysis & Research
                            .flex-item-center.mt-12
                                i.ph.ph-check.text-yellow.fs-28 
                                .heading6.text-white.pl-12 Customer Care & Support
                            .flex-item-center.mt-12
                                i.ph.ph-check.text-yellow.fs-28 
                                .heading6.text-white.pl-12 24/7 Support with Live Chat
                        .block-button.mt-36.d-flex.gap-12.flex-wrap
                            a(href="#!").button.bg-white.border-none Our Services
                            a(href="#!").button.bg-yellow.button-yellow-hover.border-none Contact us
        .slider-item
            .bg-img.w-100.h-100
                img(src="assets/images/slider/slider3-3.png", alt="").w-100.h-100
            .container 
                .row
                    .col-lg-8.col-md-10.col-12
                        .heading1.text-white Transforming Cargo Logistics with IT Solutions
                        .body2.text-white.mt-16 Join us in exploring the transformative impact of IT solutions in healthcare.
                        .block-button.mt-36.d-flex.gap-12.flex-wrap
                            a(href="#!").button.bg-yellow.button-yellow-hover.border-none Get a free Quote
    .next-arrow.flex-center
        i.ph-bold.ph-caret-right.text-white
                