.slider-block.style-two.style-four.style-six
    .list-slider 
        .slider-item
            .container 
                .row
                    .col-lg-6.col-md-10.col-12
                        .text-content
                            .heading1 Maximize your visibility online
                            .body2.mt-28 Empower Your Business with Expert Digital Marketing Solutions. From SEO to Social Media, We Drive Your Success!
                            .block-input.flex-item-center.mt-40
                                input(type="text" placeholder="Enter your e-mail").bg-surface.text-button.fw-500.pl-16.pr-16
                                button.bg-purple.text-white.border-none
                                    i.ph.ph-paper-plane-tilt.text-button.fs-20
                                    span.text-button.pl-8 Subscribe
                    .col-lg-6.col-12
                        .slider-img 
                            img(src="assets/images/slider/bg-slider6.png", alt="")
                            img(src="assets/images/slider/slider6.png", alt="")
            .sub-img-dots 
                .dot
                .dot
                .dot
                .dot
                .dot
                .dot
                .dot
                .dot
