.slider-block.style-two.bg-on-surface
    .prev-arrow.flex-center
        i.ph-bold.ph-caret-left.text-white
    .list-slider 
        .slider-item
            .bg-img.w-100.h-100
                img(src="assets/images/slider/slider2-1.png", alt="").w-100.h-100.animate__animated.animate__fadeIn.animate__delay-0-2s
            .container 
                .row
                    .col-xxl-7.col-lg-8.col-md-10.col-12
                        .heading1.text-white.animate__animated.animate__fadeInUp.animate__delay-0-2s Partnership for effective results
                        .body2.text-white.mt-16.animate__animated.animate__fadeInUp.animate__delay-0-5s Collaborating to create a roadmap for your triumph.
                        .block-button.mt-36.d-flex.gap-12.flex-wrap.animate__animated.animate__fadeInUp.animate__delay-0-8s
                            a(href="#!").button.bg-white.border-none Our Services
                            a(href="#!").button-blue.button-blue-hover.bora-99
                                i.ph-fill.ph-play-circle.text-white.fs-28
                                span Video Presentation
        .slider-item
            .bg-img.w-100.h-100
                img(src="assets/images/slider/slider2-3.png", alt="").w-100.h-100
            .container 
                .row
                    .col-lg-8.col-md-10.col-12
                        .heading1.text-white Tailored Solutions for Growth
                        .list-feature.mt-12
                            .flex-item-center 
                                i.ph.ph-check.text-blue.fs-28 
                                .heading6.text-white.pl-12 Flexibility & Adaptability
                            .flex-item-center.mt-12
                                i.ph.ph-check.text-blue.fs-28 
                                .heading6.text-white.pl-12 Market Analysis & Research
                            .flex-item-center.mt-12
                                i.ph.ph-check.text-blue.fs-28 
                                .heading6.text-white.pl-12 Customer Care & Support
                            .flex-item-center.mt-12
                                i.ph.ph-check.text-blue.fs-28 
                                .heading6.text-white.pl-12 24/7 Support with Live Chat
                        .block-button.mt-36.d-flex.gap-12.flex-wrap
                            a(href="#!").button.bg-white.border-none Our Services
                            a(href="#!").button-blue.button-blue-hover.bora-99
                                i.ph-fill.ph-play-circle.text-white.fs-28
                                span Video Presentation
        .slider-item
            .bg-img.w-100.h-100
                img(src="assets/images/slider/slider2-2.png", alt="").w-100.h-100
            .container 
                .row
                    .col-lg-8.col-md-10.col-12
                        .heading1.text-white Crafting Growth Strategies
                        .body2.text-white.mt-16 Navigate dynamic markets with our change management expertise.
                        .block-button.mt-36.d-flex.gap-12.flex-wrap
                            a(href="#!").button-blue.button-blue-hover Get a free Quote
    .next-arrow.flex-center
        i.ph-bold.ph-caret-right.text-white
                