.slider-block.style-seven
    .slider-item
        .row
            .col-6
                .text-label.mt-16 Experience Digital Excellence with Us
                .heading1 Crafting Digital Success Stories Together
                .block-button.mt-36.d-flex.gap-12.flex-wrap
                    a(href="#!").button.bg-blue.button-blue-hover.text-white.border-none Our Services
            .col-6
                .bg-img
                    img(src="assets/images/slider/slider7.png", alt="").w-100
                .about.bg-blue.pt-28.pb-28.pl-40.pr-40.flex-between 
                    .heading4.text-white Ready to Ignite Your Digital Presence?
                    a(href="#!").button.bg-white.border-none Get a free Quote
