.slider-block.style-two.style-five
    .prev-arrow.flex-center
        i.ph-bold.ph-caret-left.text-white
    .list-slider 
        .slider-item
            .bg-img.w-100.h-100
                img(src="assets/images/slider/slider5-1.png", alt="").w-100.h-100
            .container 
                .row
                    .col-lg-8.col-md-10.col-12
                        .heading1.text-white Master Your Financial Future with 
                            span.text-green Strategic Planning
                        .body2.text-white.mt-20 Chart a course to financial success with expert insights and strategies. Your voyage to prosperity begins here
                        .block-button.mt-36.d-flex.gap-12.flex-wrap
                            a(href="#!").button.bg-white.border-none Request a free consult
        .slider-item
            .bg-img.w-100.h-100
                img(src="assets/images/slider/slider5-2.png", alt="").w-100.h-100
            .container 
                .row
                    .col-lg-8.col-md-10.col-12
                        .heading1.text-white Master Your Financial Future with 
                            span.text-green Expert Advice
                        .body2.text-white.mt-16 Collaborating to create a roadmap for your triumph.
                        .block-button.mt-36.d-flex.gap-12.flex-wrap
                            a(href="#!").button.bg-white.border-none Request a free consult
        .slider-item
            .bg-img.w-100.h-100
                img(src="assets/images/slider/slider5-3.png", alt="").w-100.h-100
            .container 
                .row
                    .col-lg-8.col-md-10.col-12
                        .heading1.text-white Master Your Financial Future with 
                            span.text-green Professional Insights
                        .body2.text-white.mt-16 Collaborating to create a roadmap for your triumph.
                        .block-button.mt-36.d-flex.gap-12.flex-wrap
                            a(href="#!").button.bg-white.border-none Request a free consult
    .next-arrow.flex-center
        i.ph-bold.ph-caret-right.text-white
                