.section-about.style-three.bg-yellow-surface.pt-80.pb-80
    .container 
        .row.row-gap-32.flex-between
            .col-12.col-lg-6.pr-65.pr-col-lg-0
                .heading3 Empowering your future with advanced IoT services
                .desc.mt-20 Welcome to Bytewave, your trusted companion in the realm of IoT services. We take pride in being a dedicated partner, committed to delivering state-of-the-art IoT solutions that propel the future of your business.
                .counter.d-flex.mt-16
                    .item 
                        .heading3 20
                        .text-title.mt-4 Years experiences
                    .item.pl-40
                        .heading3 1.8
                            span k
                        .text-title.mt-4 Happy customers
                a(href="our-team.html").button.mt-40 Meet our team
            .col-12.col-lg-6.col-md-12.pl-65.pl-col-lg-0
                .text-box-circle.bg-white
                    .text-label 20yearsexperience20yearsexperience
                    i.icon-icon-logo
                img(src="assets/images/component/about3.png", alt="img").w-100
