.section-banner.style-two
    .list
        .heading4.text-uppercase Discover the Power of IoT for Your Business
        i.icon-icon-logo.fs-36
        .heading4.text-uppercase Ignite Your Business with IoT Solutions
        i.icon-icon-logo.fs-36
        .heading4.text-uppercase Discover the Power of IoT for Your Business
        i.icon-icon-logo.fs-36
        .heading4.text-uppercase Ignite Your Business with IoT Solutions
        i.icon-icon-logo.fs-36