include ../../mixins/benefitItem.pug

.section-benefit.bg-white.pt-80.pb-80
    .container 
        .row.row-gap-40
            .col-12.col-lg-3.col-sm-6
                +benefitItem({classname:'', icon: 'ph ph-headset fs-42', title: 'Trusted Advisor', desc: 'We are hardware and software agnostic, which means customers always get the right solutions for their needs. '})
            .col-12.col-lg-3.col-sm-6
                +benefitItem({classname:'', icon: 'ph ph-users-three fs-42', title: 'Team Augmentation', desc: 'We want to make your life easier, period. Think of us as an extremely experienced and reliable extension of your team.'})
            .col-12.col-lg-3.col-sm-6
                +benefitItem({classname:'', icon: 'ph ph-rocket fs-42', title: 'Digital Innovation', desc: 'Technology changes, which means there are more possibilities every day. With that in mind, we are always learning and adding to our solutions.'})
            .col-12.col-lg-3.col-sm-6
                +benefitItem({classname:'', icon: 'ph ph-crown fs-42', title: 'Faith-Based Morality', desc: 'At Byteware, we work as we live, guided by principles that encourage honesty, transparency, and doing right unto others.'})
            
