.section-industry.section-slide-shared.bg-on-surface.pt-80.pb-80 
    .container
        .cursor.flex-center.gap-12
            i.ph.ph-caret-left.text-white
            i.ph.ph-caret-right.text-white
        .heading3.text-center.text-white Industry
        .text-center.text-white.mt-8 Empowering Your Success Through Expert Consulting Services
    .row.row-gap-24.mt-40.list-industry.sub-nav-solution
        .col
            a(href="service-detail.html").industry-item.service-item.nav-item-main&attributes({"data-cate":"Medical Solutions", "data-item":""})
                .bg-img 
                    img(src="assets/images/industry/1.png", alt="").w-100.h-100.display-block
                .title.bg-white.flex-between
                    .service-name.heading5 Healthcare & Pharmaceuticals
                    i.ph.ph-arrow-right
        .col
            a(href="service-detail.html").industry-item.service-item.nav-item-main&attributes({"data-cate":"Transportation Solutions", "data-item":""})
                .bg-img 
                    img(src="assets/images/industry/2.png", alt="").w-100.h-100.display-block
                .title.bg-white.flex-between
                    .service-name.heading5 Transportation & Logistics
                    i.ph.ph-arrow-right
        .col
            a(href="service-detail.html").industry-item.service-item.nav-item-main&attributes({"data-cate":"Finance Consulting", "data-item":""})
                .bg-img 
                    img(src="assets/images/industry/3.png", alt="").w-100.h-100.display-block
                .title.bg-white.flex-between
                    .service-name.heading5 Finance & Banking
                    i.ph.ph-arrow-right
        .col
            a(href="service-detail.html").industry-item.service-item.nav-item-main&attributes({"data-cate":"Future Industry", "data-item":""})
                .bg-img 
                    img(src="assets/images/industry/4.png", alt="").w-100.h-100.display-block
                .title.bg-white.flex-between
                    .service-name.heading5 Manufacturing & Industry 4.0
                    i.ph.ph-arrow-right
        .col
            a(href="service-detail.html").industry-item.service-item.nav-item-main&attributes({"data-cate":"Environmental Resources", "data-item":""})
                .bg-img 
                    img(src="assets/images/industry/6.png", alt="").w-100.h-100.display-block
                .title.bg-white.flex-between
                    .service-name.heading5 Energy & Environment
                    i.ph.ph-arrow-right
        .col
            a(href="service-detail.html").industry-item.service-item.nav-item-main&attributes({"data-cate":"Electronic Commerce", "data-item":""})
                .bg-img 
                    img(src="assets/images/industry/5.png", alt="").w-100.h-100.display-block
                .title.bg-white.flex-between
                    .service-name.heading5 E-commerce & Retail
                    i.ph.ph-arrow-right
        
        