.section-news.style-three.pt-80.pb-80
        .container 
            .heading.text-center
                .heading3 Last News
                .mt-8 Empowering Your Success Through Expert Consulting Services
            .row.row-gap-32.mt-40
                div(class=`col-12 col-lg-6`)
                    a(href='blog-detail.html').blog-item-main.blog-item-filter
                        .bg-img.w-100.overflow-hidden
                            img(src=`assets/images/blog/item7.png` alt="bg-img").w-100.h-100.display-block
                        .infor
                            .category.text-button-small.bg-yellow.pt-4.pb-4.pl-12.pr-12.display-inline-block.mt-28 Industry
                            .title.heading4.mt-12 What cyber trust mark means for IoT data protection
                            .date.text-label.text-on-surface-variant1.mt-12 February 21, 2023
                .list-blog-related.col-12.col-lg-6.d-flex.flex-column.row-gap-32
                    a(href="blog-detail.html").row.row-gap-24.blog-item-filter
                        .col-12.col-sm-4.pr-12
                            .bg-img.overflow-hidden
                                img(src="assets/images/blog/item1.png", alt="").w-100.display-block
                        .infor.col-12.col-sm-8.pl-12
                            .category.text-button-small.bg-yellow.pt-4.pb-4.pl-12.pr-12.display-inline-block Healthcare
                            .title.heading6.mt-8 Moving toward a sustainable future with IoT-driven solar energy systems
                            .date.text-label.text-on-surface-variant1.mt-4 February 22, 2023
                    a(href="blog-detail.html").row.row-gap-24.blog-item-filter
                        .col-12.col-sm-4.pr-12
                            .bg-img.overflow-hidden
                                img(src="assets/images/blog/item8.png", alt="").w-100.display-block
                        .infor.col-12.col-sm-8.pl-12
                            .category.text-button-small.bg-yellow.pt-4.pb-4.pl-12.pr-12.display-inline-block Logistics
                            .title.heading6.mt-8 Why IoT is emerging as next key technology for businesses
                            .date.text-label.text-on-surface-variant1.mt-4 February 23, 2023
                    a(href="blog-detail.html").row.row-gap-24.blog-item-filter
                        .col-12.col-sm-4.pr-12
                            .bg-img.overflow-hidden
                                img(src="assets/images/blog/item9.png", alt="").w-100.display-block
                        .infor.col-12.col-sm-8.pl-12
                            .category.text-button-small.bg-yellow.pt-4.pb-4.pl-12.pr-12.display-inline-block Manufacturing
                            .title.heading6.mt-8 Public transport investment: A viable and sustainable route to economic recovery?
                            .date.text-label.text-on-surface-variant1.mt-4 February 24, 2023
                    a(href="blog-detail.html").row.row-gap-24.blog-item-filter
                        .col-12.col-sm-4.pr-12
                            .bg-img.overflow-hidden
                                img(src="assets/images/blog/item10.png", alt="").w-100.display-block
                        .infor.col-12.col-sm-8.pl-12
                            .category.text-button-small.bg-yellow.pt-4.pb-4.pl-12.pr-12.display-inline-block Technology
                            .title.heading6.mt-8 Connecting DOTs with IoT for intelligent transportation systems
                            .date.text-label.text-on-surface-variant1.mt-4 February 24, 2023
.bg-white
    .container
        .border-line