/*  Main color */
:root {
    --blue: #2D4FE1;
    --secondary: #1533B4;
    --critical: #C72929;
    --tertiary: #27AE60;
    --yellow: #F4D118;
    --pink: #E13789;
    --green: #63E483;
    --purple: #5B45F3;
    --white: #FFFFFF;
    --black-surface: #1A1A1A;
    --surface: #F3F5F9;
    --yellow-surface: #F3F2F0;
    --outline: #E4E4E4;
    --line: #DFE2E7;
    --grey: #EAEDFD;
    --blue-surface: rgba(39, 75, 227, 0.10);
    --on-surface: #0C1228;
    --on-surface-variant1: #646570;
    --on-surface-variant2: #AAB1B8;
}

@import './base/reset.scss';
@import './base/custom-bootstrap.scss';
@import './base/global.scss';

@import './components/section-about.scss';
@import './components/section-banner.scss';
@import './components/section-benefit.scss';
@import './components/section-brand.scss';
@import './components/section-contact.scss';
@import './components/section-counter.scss';
@import './components/section-industry.scss';
@import './components/section-news.scss';
@import './components/section-newsletter.scss';
@import './components/section-pricing.scss';
@import './components/section-portfolio.scss';
@import './components/section-service.scss';
@import './components/section-solution.scss';
@import './components/section-success-stories.scss';
@import './components/section-testimonial.scss';
@import './components/list-social.scss';
@import './components/modal-video.scss';
@import './components/product.scss';

@import './pages/error-404.scss';
@import './pages/faqs.scss';
@import './pages/shop.scss';
@import './pages/product-detail.scss';
@import './pages/contact-us.scss';
@import './pages/team.scss';
@import './pages/about-us.scss';
@import './pages/blog-pages.scss';
@import './pages/case-studies-pages.scss';

@import './layout/popup-newsletter.scss';
@import './layout/button-hover.scss';
@import './layout/slider.scss';
@import './layout/top-nav.scss';
@import './layout/menu.scss';
@import './layout/heading-subpage.scss';
@import './layout/footer.scss';
@import './layout/font-reduce.scss';