.section-about .content {
  padding: 40px;
  border-radius: 16px;
  background: linear-gradient(46deg, #414E62 0%, #805D5D 100%);
}
.section-about .content > .row:nth-child(1) {
  display: flex;
  justify-content: space-between;
}
.section-about .content > .row:nth-child(1) > div:nth-child(1) .text-label {
  padding: 4px 12px;
  border-radius: 2px;
  display: inline-block;
}
.section-about .content > .row:nth-child(1) > div:nth-child(2) .text-button-small {
  display: inline-block;
  border-bottom: 2px solid var(--white);
}
.section-about .content .line {
  border: 1px solid rgba(229, 229, 229, 0.1);
}
.section-about .content > .row:nth-child(3) > div .counter-item {
  border-left: 1px solid var(--white);
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 992px) {
  .section-about .content {
    padding: 28px;
  }
  .section-about .content > .row:nth-child(1) {
    padding-bottom: 32px;
  }
  .section-about .content > .row:nth-child(3) {
    padding-top: 32px;
  }
}