
<div class="section-about style-three style-four pt-80 pb-80">
  <div class="bg-img"> <img src="assets/images/component/bg-about4.png" alt=""/></div>
  <div class="container"> 
    <div class="row row-gap-40 flex-between">
      <div class="col-12 col-lg-6 pr-65 pr-col-lg-0">
        <div class="heading3 text-white">Navigating the Digital Landscape with Expertise</div>
        <div class="desc text-white mt-20">Welcome to Bytewave, your trusted companion in the realm of IoT services. We take pride in being a dedicated partner, committed to delivering state-of-the-art IoT solutions that propel the future of your business.</div>
        <div class="counter d-flex mt-16">
          <div class="item"> 
            <div class="heading3 text-white">20</div>
            <div class="text-title text-white mt-4">Years experiences</div>
          </div>
          <div class="item pl-40">
            <div class="heading3 text-white">1.8<span>k</span></div>
            <div class="text-title mt-4 text-white">Happy customers</div>
          </div>
        </div><a class="button bg-white border-none mt-40" href="#!">Meet our team</a>
      </div>
      <div class="col-12 col-lg-6 pl-65 pl-col-lg-0">
        <div class="text-box-circle bg-white">
          <div class="text-label">20yearsexperience20yearsexperience</div><i class="icon-icon-logo"></i>
        </div><img class="w-100" src="assets/images/component/about4.png" alt="img"/>
      </div>
    </div>
  </div>
</div>