
<div class="section-banner style-two">
  <div class="list">
    <div class="heading4 text-uppercase text-white">Elevate Your Digital Presence Today</div><i class="icon-icon-logo fs-36"></i>
    <div class="heading4 text-uppercase text-white">Experience Digital Excellence</div><i class="icon-icon-logo fs-36"></i>
    <div class="heading4 text-uppercase text-white">Elevate Your Digital Presence Today</div><i class="icon-icon-logo fs-36"></i>
    <div class="heading4 text-uppercase text-white">Experience Digital Excellence</div><i class="icon-icon-logo fs-36"></i>
  </div>
</div>