
<div class="section-benefit style-four bg-white pt-80 pb-80">
  <div class="container"> 
    <div class="heading3 text-center">Experience Digital Excellence with Us</div>
    <div class="row row-gap-32 mt-60 flex-center">
      <div class="col-2-4">
        <div class="benefit-item ">
          <div class="block-icon"> <i class="ph ph-headset fs-42"></i></div>
          <div class="heading6 mt-8">Trusted Advisor</div>
        </div>
      </div>
      <div class="col-2-4">
        <div class="benefit-item ">
          <div class="block-icon"> <i class="ph ph-users-three fs-42"></i></div>
          <div class="heading6 mt-8">Team Augmentation</div>
        </div>
      </div>
      <div class="col-2-4">
        <div class="benefit-item ">
          <div class="block-icon"> <i class="ph ph-rocket fs-42"></i></div>
          <div class="heading6 mt-8">Digital Innovation</div>
        </div>
      </div>
      <div class="col-2-4">
        <div class="benefit-item ">
          <div class="block-icon"> <i class="ph ph-crown fs-42"></i></div>
          <div class="heading6 mt-8">Faith-Based Morality</div>
        </div>
      </div>
      <div class="col-2-4">
        <div class="benefit-item ">
          <div class="block-icon"> <i class="ph ph-piggy-bank fs-42"></i></div>
          <div class="heading6 mt-8">Time Savings</div>
        </div>
      </div>
    </div>
    <div class="cta-block bg-linear-pink pl-40 pr-40 pt-28 pb-28 mt-70">
      <div class="row flex-between row-gap-20">
        <div class="col-12 col-md-8">
          <div class="text-white heading4">Ready to Ignite Your Digital Presence?</div>
        </div>
        <div class="col-12 col-md-4 text-end"><a class="button bg-white bora-4 border-none" href="#!">Get a free Quote</a></div>
      </div>
    </div>
  </div>
</div>