
<div class="section-newsletter bg-white pt-80 pb-80"> 
  <div class="container">
    <div class="row flex-column-center">
      <div class="heading-icon text-center"><i class="ph ph-paper-plane-tilt text-white bg-pink fs-28 p-16 bora-50 display-inline-block"></i></div>
      <div class="col-xxl-6 col-lg-7 col-md-8 col-sm-10 col-12 heading3 text-center mt-12">Receive the top blog stories directly in your inbox</div>
      <div class="col-xl-5 col-lg-6 col-md-7 col-sm-9 col-12 block-input flex-item-center mt-40">
        <input class="bg-yellow-surface border-transparent text-button fw-500 pl-16 pr-16" type="text" placeholder="Enter your e-mail"/>
        <button class="bg-pink button-pink-hover text-white text-button border-none">Subscribe</button>
      </div>
    </div>
  </div>
</div>