
<div class="section-news style-two style-four bg-yellow-surface pt-80 pb-80"> 
  <div class="container">
    <div class="cursor flex-center gap-12"><i class="ph ph-caret-left text-white"></i><i class="ph ph-caret-right text-white"></i></div>
    <div class="heading3 text-center">Last News</div>
    <div class="text-center mt-8">Empowering Your Success Through Expert Consulting Services</div>
    <div class="list-news mt-40">
      <div class="item">
        <div class="blog-item hover-box-shadow bg-white h-100 "><a class="main-item" href="#!">
            <div class="bg-img w-100 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/blog/item4.png" alt="Navigating Success: Insights from Business Consulting Experts"/>
              <div class="text-label bg-pink text-white pt-8 pb-8 pl-12 pr-12 display-inline-block">Healthcare</div>
            </div>
            <div class="infor p-28">
              <div class="heading5">Navigating Success: Insights from Business Consulting Experts</div>
              <div class="text-label text-on-surface-variant1 mt-16">February 22, 2023</div>
            </div></a>
        </div>
      </div>
      <div class="item">
        <div class="blog-item hover-box-shadow bg-white h-100 "><a class="main-item" href="#!">
            <div class="bg-img w-100 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/blog/item5.png" alt="Strategies for Thriving: Unveiling Business Consulting's Impact"/>
              <div class="text-label bg-pink text-white pt-8 pb-8 pl-12 pr-12 display-inline-block">E-commerce & Retail</div>
            </div>
            <div class="infor p-28">
              <div class="heading5">Strategies for Thriving: Unveiling Business Consulting's Impact</div>
              <div class="text-label text-on-surface-variant1 mt-16">February 23, 2023</div>
            </div></a>
        </div>
      </div>
      <div class="item">
        <div class="blog-item hover-box-shadow bg-white h-100 "><a class="main-item" href="#!">
            <div class="bg-img w-100 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/blog/item3.png" alt="Elevating Business Performance: Exploring the World of Consulting"/>
              <div class="text-label bg-pink text-white pt-8 pb-8 pl-12 pr-12 display-inline-block">Finance & Banking</div>
            </div>
            <div class="infor p-28">
              <div class="heading5">Elevating Business Performance: Exploring the World of Consulting</div>
              <div class="text-label text-on-surface-variant1 mt-16">February 24, 2023</div>
            </div></a>
        </div>
      </div>
      <div class="item">
        <div class="blog-item hover-box-shadow bg-white h-100"><a class="main-item" href="#!">
            <div class="bg-img w-100 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/blog/item6.png" alt="Onlineization and Virtualization Trends Driving Tech Breakthroughs."/>
              <div class="text-label bg-pink text-white pt-8 pb-8 pl-12 pr-12 display-inline-block">Techlonogy</div>
            </div>
            <div class="infor p-28">
              <div class="heading5">Onlineization and Virtualization Trends Driving Tech Breakthroughs.</div>
              <div class="text-label text-on-surface-variant1 mt-16">February 25, 2023</div>
            </div></a>
        </div>
      </div>
    </div>
  </div>
</div>