
<div class="section-portfolio bg-white pt-60">  
  <div class="heading3 text-center">Our portfolio</div>
  <div class="row mt-60">
    <div class="col-12 col-xl-3 col-sm-6"><a class="portfolio-item" href="#!">
        <div class="bg-img"> <img class="w-100 h-100 display-block" src="assets/images/portfolio/1.png" alt=""/></div>
        <div class="title bg-white text-center p-20">
          <div class="text-on-surface-variant1">IT Solutions</div>
          <div class="heading5 mt-4">Advanced Security Solutions</div>
        </div></a></div>
    <div class="col-12 col-xl-3 col-sm-6"><a class="portfolio-item" href="#!">
        <div class="bg-img"> <img class="w-100 h-100 display-block" src="assets/images/portfolio/2.png" alt=""/></div>
        <div class="title bg-white text-center p-20">
          <div class="text-on-surface-variant1">IT Solutions</div>
          <div class="heading5 mt-4">Transforming Online Presence</div>
        </div></a></div>
    <div class="col-12 col-xl-3 col-sm-6"><a class="portfolio-item" href="#!">
        <div class="bg-img"> <img class="w-100 h-100 display-block" src="assets/images/portfolio/3.png" alt=""/></div>
        <div class="title bg-white text-center p-20">
          <div class="text-on-surface-variant1">IT Solutions</div>
          <div class="heading5 mt-4">Enhancing Your Security</div>
        </div></a></div>
    <div class="col-12 col-xl-3 col-sm-6"><a class="portfolio-item" href="#!">
        <div class="bg-img"> <img class="w-100 h-100 display-block" src="assets/images/portfolio/4.png" alt=""/></div>
        <div class="title bg-white text-center p-20">
          <div class="text-on-surface-variant1">IT Solutions</div>
          <div class="heading5 mt-4">Data Protection</div>
        </div></a></div>
  </div>
</div>