
<div class="section-solution style-four bg-yellow-surface pt-80 pb-80"> 
  <div class="container text-center">
    <div class="heading flex-between"> 
      <div class="heading3 text-center">Our solutions</div><a class="text-button-small display-inline-block border-underline-pink-2px" href="#!">View All Solutions</a>
    </div>
    <div class="row row-gap-32 mt-40">
      <div class="col-12 col-sm-6">
        <div class="solution-item pointer h-100 p-60 bg-white bora-20"><a class="main-item d-flex gap-24" href="#!"><i class="icon-coin-user text-pink fs-60"></i>
            <div class="desc text-start">
              <div class="heading5">Business Strategy</div>
              <div class="text-on-surface-variant1 mt-12">Develop long-term plans and make informed decisions to drive corporate growth and competitiveness.</div>
            </div></a>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="solution-item pointer h-100 p-60 bg-white bora-20"><a class="main-item d-flex gap-24" href="#!"><i class="icon-hand-coin-up text-pink fs-60"></i>
            <div class="desc text-start">
              <div class="heading5">Financial Advisory</div>
              <div class="text-on-surface-variant1 mt-12">Maximize your finances with expert Financial Advisory. Smart strategies for saving, investing, debt, retirement, and asset protection</div>
            </div></a>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="solution-item pointer h-100 p-60 bg-white bora-20"><a class="main-item d-flex gap-24" href="#!"><i class="icon-user-sync text-pink fs-60"></i>
            <div class="desc text-start">
              <div class="heading5">HR Consulting</div>
              <div class="text-on-surface-variant1 mt-12">Optimize talent acquisition, employee development, performance management, and organizational design.</div>
            </div></a>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="solution-item pointer h-100 p-60 bg-white bora-20"><a class="main-item d-flex gap-24" href="#!"><i class="icon-device-cloud text-pink fs-60"></i>
            <div class="desc text-start">
              <div class="heading5">IT Solutions</div>
              <div class="text-on-surface-variant1 mt-12">Leverage technology for efficient business processes, enhanced cybersecurity, digital transformation innovation.</div>
            </div></a>
        </div>
      </div>
    </div>
  </div>
</div>