
<div class="section-about mt-60"> 
  <div class="container"> 
    <div class="content">
      <div class="row row-gap-12 pb-40">
        <div class="col-12 col-xl-5 col-md-6">
          <div class="text-label text-white bg-blue">About Us</div>
          <div class="heading3 text-white mt-16">We solve technology challenges.</div>
        </div>
        <div class="col-12 col-md-6"> 
          <div class="desc text-white">Your IT Services Partner! We offer customized IT solutions, from managed services to cloud computing and cybersecurity. Empower your business with our expertise for growth and efficiency. </div><a class="text-button-small text-white border-underline-white-2px mt-16" href="#!">Join us today!</a>
        </div>
      </div>
      <div class="line"></div>
      <div class="counter row row-gap-24 pt-40">
        <div class="col-6 col-md-3"> 
          <div class="counter-item"> 
            <div class="count-number heading3 text-white">20</div>
            <div class="body1 mt-4 text-white">Years experiences</div>
          </div>
        </div>
        <div class="col-6 col-md-3"> 
          <div class="counter-item"> 
            <div class="flex-item-center">
              <div class="count-number heading3 text-white">1.8</div><span class="heading3 text-white">k</span>
            </div>
            <div class="body1 mt-4 text-white">Happy customers</div>
          </div>
        </div>
        <div class="col-6 col-md-3"> 
          <div class="counter-item"> 
            <div class="count-number heading3 text-white">460</div>
            <div class="body1 mt-4 text-white">Project completed</div>
          </div>
        </div>
        <div class="col-6 col-md-3"> 
          <div class="counter-item"> 
            <div class="count-number heading3 text-white">15</div>
            <div class="body1 mt-4 text-white">Awards achievement</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>