
<div class="section-banner">
  <div class="list">
    <div class="heading4 text-uppercase text-white">Experience Seamless IT Solutions</div><i class="icon-icon-logo fs-36"></i>
    <div class="heading4 text-uppercase text-white">Request IT Consultation</div><i class="icon-icon-logo fs-36"></i>
    <div class="heading4 text-uppercase text-white">Experience Seamless IT Solutions</div><i class="icon-icon-logo fs-36"></i>
    <div class="heading4 text-uppercase text-white">Request IT Consultation</div><i class="icon-icon-logo fs-36"></i>
  </div>
</div>