
<div class="section-benefit mt-80">
  <div class="container"> 
    <div class="row row-gap-40">
      <div class="col-12 col-lg-3 col-sm-6">
        <div class="benefit-item ">
          <div class="block-icon"> <i class="ph ph-medal fs-42"></i></div>
          <div class="heading6 mt-8">Expertise</div>
          <div class="text-on-surface-variant1 mt-8">Access to specialized knowledge and technology expertise for effective IT solutions.</div>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-sm-6">
        <div class="benefit-item ">
          <div class="block-icon"> <i class="ph ph-money fs-42"></i></div>
          <div class="heading6 mt-8">Cost Savings</div>
          <div class="text-on-surface-variant1 mt-8">Avoiding expenses associated with maintaining an in-house IT department.</div>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-sm-6">
        <div class="benefit-item ">
          <div class="block-icon"> <i class="ph ph-fingerprint fs-42"></i></div>
          <div class="heading6 mt-8">Enhanced Security</div>
          <div class="text-on-surface-variant1 mt-8">Robust measures to protect against cyber threats and ensure data security.</div>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-sm-6">
        <div class="benefit-item ">
          <div class="block-icon"> <i class="ph ph-chart-line-up fs-42"></i></div>
          <div class="heading6 mt-8">Increased Efficiency</div>
          <div class="text-on-surface-variant1 mt-8">Streamlined operations, automation, and proactive monitoring for improved productivity.</div>
        </div>
      </div>
    </div>
  </div>
</div>