
<div class="section-case-studies section-news bg-linear mt-80 pt-80 pb-80"> 
  <div class="container">
    <div class="cursor flex-center gap-12"><i class="ph ph-caret-left text-white"></i><i class="ph ph-caret-right text-white"></i></div>
    <div class="row gy-1 flex-between">
      <div class="col-xl-5 col-md-4 col-12">
        <div class="text-label text-blue pt-4 pb-4 pl-12 pr-12 bg-grey bora-2 display-inline-block">Why we do</div>
        <div class="heading3 mt-12">Case studies</div>
      </div>
      <div class="col-xl-5 col-lg-6 col-md-7 col-12">
        <div class="body2">Case studies that showcase the agency's approach, process, and results for specific clients.</div>
      </div>
    </div>
    <div class="list-news mt-40">
      <div class="item">
        <div class="blog-item hover-box-shadow "><a class="main-item" href="#!">
            <div class="bg-img w-100 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/blog/item1.png" alt="Demystifying IT Services: Exploring Tech Trends &amp; Solutions"/></div>
            <div class="infor mt-28">
              <div class="text-button-small text-blue pt-4 pb-4 pl-12 pr-12 bg-grey bora-8 display-inline-block">Performance Enhancement</div>
              <div class="heading5 mt-12">Demystifying IT Services: Exploring Tech Trends & Solutions</div>
              <div class="text-on-surface-variant1 mt-12">Enhanced performance for a manufacturing firm by optimizing their database structure, resulting in improved efficiency and competitiveness.</div>
              <div class="text-button-small mt-16">Learn more</div>
            </div></a>
        </div>
      </div>
      <div class="item">
        <div class="blog-item hover-box-shadow "><a class="main-item" href="#!">
            <div class="bg-img w-100 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/blog/item2.png" alt="Unlocking Business Potential: The Role of IT Services Today"/></div>
            <div class="infor mt-28">
              <div class="text-button-small text-blue pt-4 pb-4 pl-12 pr-12 bg-grey bora-8 display-inline-block">Cloud Solutions</div>
              <div class="heading5 mt-12">Unlocking Business Potential: The Role of IT Services Today</div>
              <div class="text-on-surface-variant1 mt-12">Secured sensitive data during a financial company's cloud migration by designing a hybrid solution combining cloud flexibility and on-premises control.</div>
              <div class="text-button-small mt-16">Learn more</div>
            </div></a>
        </div>
      </div>
      <div class="item">
        <div class="blog-item hover-box-shadow "><a class="main-item" href="#!">
            <div class="bg-img w-100 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/blog/item3.png" alt="Tech Insights: How IT Services Drive Modern Business"/></div>
            <div class="infor mt-28">
              <div class="text-button-small text-blue pt-4 pb-4 pl-12 pr-12 bg-grey bora-8 display-inline-block">Application Development</div>
              <div class="heading5 mt-12">Tech Insights: How IT Services Drive Modern Business</div>
              <div class="text-on-surface-variant1 mt-12">Enabled a startup to launch a successful mobile app by providing end-to-end development, leading to high downloads and recognition.</div>
              <div class="text-button-small mt-16">Learn more</div>
            </div></a>
        </div>
      </div>
      <div class="item">
        <div class="blog-item hover-box-shadow "><a class="main-item" href="#!">
            <div class="bg-img w-100 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/blog/item4.png" alt="Exploring Trendy Technologies Shaping the IT Landscape"/></div>
            <div class="infor mt-28">
              <div class="text-button-small text-blue pt-4 pb-4 pl-12 pr-12 bg-grey bora-8 display-inline-block">Trendy Technologies</div>
              <div class="heading5 mt-12">Exploring Trendy Technologies Shaping the IT Landscape</div>
              <div class="text-on-surface-variant1 mt-12">Explore the trending technologies that are reshaping the IT industry, discover how they are transforming our interactions with the digital world.</div>
              <div class="text-button-small mt-16">Learn more</div>
            </div></a>
        </div>
      </div>
      <div class="item">
        <div class="blog-item hover-box-shadow "><a class="main-item" href="#!">
            <div class="bg-img w-100 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/blog/item12.png" alt="Unveiling Cybersecurity Best Practices for a Safer IT World"/></div>
            <div class="infor mt-28">
              <div class="text-button-small text-blue pt-4 pb-4 pl-12 pr-12 bg-grey bora-8 display-inline-block">Cybersecurity</div>
              <div class="heading5 mt-12">Unveiling Cybersecurity Best Practices for a Safer IT World</div>
              <div class="text-on-surface-variant1 mt-12">Immerse yourself in the realm of network security with leading principles to safeguard personal information and critical data.</div>
              <div class="text-button-small mt-16">Learn more</div>
            </div></a>
        </div>
      </div>
    </div>
  </div>
</div>