
<div class="section-service mt-80"> 
  <div class="container"> 
    <div class="row gy-2 flex-between">
      <div class="col-xl-8 col-md-9 col-12">
        <div class="text-label text-blue pt-4 pb-4 pl-12 pr-12 bg-grey bora-2 display-inline-block">What we do</div>
        <div class="heading3 mt-12">Solve technology problems in every industry that customers need.</div>
      </div>
      <div class="col-lg-2 col-md-3 col-12 text-end"><a class="text-button border-underline-blue display-inline-block" href="#!">View All industries</a></div>
    </div>
    <div class="row mt-40 row-gap-12">
      <div class="col-sm-6 col-12"> <a class="service-item bg-surface pt-16 pb-16 pl-20 pr-20 flex-item-center bora-8 h-100" href="#!"><i class="ph ph-bank fs-24"></i>
          <div class="heading6 pl-12">Finance & Banking</div></a></div>
      <div class="col-sm-6 col-12"> <a class="service-item bg-surface pt-16 pb-16 pl-20 pr-20 flex-item-center bora-8 h-100" href="#!"><i class="ph ph-rocket fs-24"></i>
          <div class="heading6 pl-12">Information Technology & Telecommunications</div></a></div>
      <div class="col-sm-6 col-12"> <a class="service-item bg-surface pt-16 pb-16 pl-20 pr-20 flex-item-center bora-8 h-100" href="#!"><i class="ph ph-first-aid-kit fs-24"></i>
          <div class="heading6 pl-12">Healthcare & Pharmaceuticals</div></a></div>
      <div class="col-sm-6 col-12"> <a class="service-item bg-surface pt-16 pb-16 pl-20 pr-20 flex-item-center bora-8 h-100" href="#!"><i class="ph ph-airplane-takeoff fs-24"></i>
          <div class="heading6 pl-12">Transportation & Logistics</div></a></div>
      <div class="col-sm-6 col-12"> <a class="service-item bg-surface pt-16 pb-16 pl-20 pr-20 flex-item-center bora-8 h-100" href="#!"><i class="ph ph-warehouse fs-24"></i>
          <div class="heading6 pl-12">Real Estate</div></a></div>
      <div class="col-sm-6 col-12"> <a class="service-item bg-surface pt-16 pb-16 pl-20 pr-20 flex-item-center bora-8 h-100" href="#!"><i class="ph ph-wrench fs-24"></i>
          <div class="heading6 pl-12">Manufacturing & Industry 4.0</div></a></div>
      <div class="col-sm-6 col-12"> <a class="service-item bg-surface pt-16 pb-16 pl-20 pr-20 flex-item-center bora-8 h-100" href="#!"><i class="ph ph-basket fs-24"></i>
          <div class="heading6 pl-12">Education & Training</div></a></div>
      <div class="col-sm-6 col-12"> <a class="service-item bg-surface pt-16 pb-16 pl-20 pr-20 flex-item-center bora-8 h-100" href="#!"><i class="ph ph-lightbulb-filament fs-24"></i>
          <div class="heading6 pl-12">Energy & Environment</div></a></div>
      <div class="col-sm-6 col-12"> <a class="service-item bg-surface pt-16 pb-16 pl-20 pr-20 flex-item-center bora-8 h-100" href="#!"><i class="ph ph-graduation-cap fs-24"></i>
          <div class="heading6 pl-12">E-commerce & Retail</div></a></div>
      <div class="col-sm-6 col-12"> <a class="service-item bg-surface pt-16 pb-16 pl-20 pr-20 flex-item-center bora-8 h-100" href="#!"><i class="ph ph-youtube-logo fs-24"></i>
          <div class="heading6 pl-12">Entertainment and Media</div></a></div>
    </div>
  </div>
</div>