
<div class="section-solution bg-linear mt-80 pt-80 pb-80"> 
  <div class="container text-center">
    <div class="text-label text-blue text-center pt-4 pb-4 pl-12 pr-12 bg-grey bora-2 display-inline-block">How we do</div>
    <div class="heading3 text-center mt-12">Our solutions</div>
    <div class="row row-gap-40 mt-40">
      <div class="col-12 col-xl-4 col-sm-6">
        <div class="solution-item p-40 bora-20 bg-white h-100"><a class="main-item flex-column-item-center" href="#!"><i class="icon-phone-sync fs-60 text-blue"></i>
            <div class="heading5 text-center mt-24">Managed IT Services</div>
            <div class="text-on-surface-variant1 text-center mt-12">Outsourcing IT management and maintenance, including network monitoring, data backup, cybersecurity, help desk support.</div></a>
        </div>
      </div>
      <div class="col-12 col-xl-4 col-sm-6">
        <div class="solution-item p-40 bora-20 bg-white h-100"><a class="main-item flex-column-item-center" href="#!"><i class="icon-user-sync fs-60 text-blue"></i>
            <div class="heading5 text-center mt-24">IT Consulting</div>
            <div class="text-on-surface-variant1 text-center mt-12">Strategic guidance on IT strategy, digital transformation, software implementation, and project management.</div></a>
        </div>
      </div>
      <div class="col-12 col-xl-4 col-sm-6">
        <div class="solution-item p-40 bora-20 bg-white h-100"><a class="main-item flex-column-item-center" href="#!"><i class="icon-device-cloud fs-60 text-blue"></i>
            <div class="heading5 text-center mt-24">Cloud Computing</div>
            <div class="text-on-surface-variant1 text-center mt-12">Access to remote servers and infrastructure for data storage, application hosting, and scalable resources.</div></a>
        </div>
      </div>
      <div class="col-12 col-xl-4 col-sm-6">
        <div class="solution-item p-40 bora-20 bg-white h-100"><a class="main-item flex-column-item-center" href="#!"><i class="icon-cloud-dots fs-60 text-blue"></i>
            <div class="heading5 text-center mt-24">Cybersecurity Solutions</div>
            <div class="text-on-surface-variant1 text-center mt-12">Protecting businesses from cyber threats through measures like network security, encryption, and training.</div></a>
        </div>
      </div>
      <div class="col-12 col-xl-4 col-sm-6">
        <div class="solution-item p-40 bora-20 bg-white h-100"><a class="main-item flex-column-item-center" href="#!"><i class="icon-phone-cloud fs-60 text-blue"></i>
            <div class="heading5 text-center mt-24">Data Analytics</div>
            <div class="text-on-surface-variant1 text-center mt-12">Services for data storage, backup, integration, governance, and analytics to drive insights and informed decisions.</div></a>
        </div>
      </div>
      <div class="col-12 col-xl-4 col-sm-6">
        <div class="solution-item p-40 bora-20 bg-white h-100"><a class="main-item flex-column-item-center" href="#!"><i class="icon-device-sync fs-60 text-blue"></i>
            <div class="heading5 text-center mt-24">Software Development</div>
            <div class="text-on-surface-variant1 text-center mt-12"> Custom software development and integration services to meet specific business needs.</div></a>
        </div>
      </div>
    </div>
  </div>
</div>