
<div class="section-testimonial style-one pb-80">
  <div class="container"> 
    <div class="row flex-center"> 
      <div class="col-md-11 col-12">
        <div class="testimonial-item bg-linear">
          <div class="content-main">
            <div class="star flex-item-center gap-1"><i class="ph-fill ph-star text-blue fs-20"></i><i class="ph-fill ph-star text-blue fs-20"></i><i class="ph-fill ph-star text-blue fs-20"></i><i class="ph-fill ph-star text-blue fs-20"></i><i class="ph-fill ph-star text-blue fs-20"></i></div>
            <div class="heading4 mt-24">Bytewave exceeded our expectations with their cloud computing solutions. Highly recommended!</div>
            <div class="infor mt-16">
              <div class="heading6">Christina Smith</div>
              <div class="text-on-surface-variant1">CEO Digital Avitex</div>
            </div>
          </div>
          <div class="content-main">
            <div class="star flex-item-center gap-1"><i class="ph-fill ph-star text-blue fs-20"></i><i class="ph-fill ph-star text-blue fs-20"></i><i class="ph-fill ph-star text-blue fs-20"></i><i class="ph-fill ph-star text-blue fs-20"></i><i class="ph-fill ph-star text-blue fs-20"></i></div>
            <div class="heading4 mt-24">Their mastery of market analysis and tailored solutions drove our growth and competive advantage.</div>
            <div class="infor mt-16">
              <div class="heading6">Alexander Parker</div>
              <div class="text-on-surface-variant1">Designer FPT</div>
            </div>
          </div>
          <div class="content-main">
            <div class="star flex-item-center gap-1"><i class="ph-fill ph-star text-blue fs-20"></i><i class="ph-fill ph-star text-blue fs-20"></i><i class="ph-fill ph-star text-blue fs-20"></i><i class="ph-fill ph-star text-blue fs-20"></i><i class="ph-fill ph-star text-blue fs-20"></i></div>
            <div class="heading4 mt-24">These consultants are true partners in success. Their thorough understanding of our industry coupled.</div>
            <div class="infor mt-16">
              <div class="heading6">Georgina Rodriguez </div>
              <div class="text-on-surface-variant1">CEO AliTechnology</div>
            </div>
          </div>
        </div>
        <div class="list-avatar"> 
          <div class="bg-img active" data-name="0"><img src="assets/images/avatar/avatar1.png" alt="avatar"/></div>
          <div class="bg-img" data-name="1"><img src="assets/images/avatar/avatar2.png" alt="avatar"/></div>
          <div class="bg-img" data-name="2"><img src="assets/images/avatar/avatar3.png" alt="avatar"/></div>
        </div>
      </div>
    </div>
  </div>
</div>