
<div class="slider-block style-one mt-60">
  <div class="container"> 
    <div class="row row-gap-32">
      <div class="col-xl-4 col-12">
        <div class="text">
          <div class="heading2 pr-55">IT services for small to mid-Sized companies</div>
          <div class="body2 mt-16">We provide custom software solutions for any industry. Creating high - value software and technology for your business. </div>
        </div>
        <div class="block-button mt-40 d-flex gap-16 flex-wrap"><a class="button hover-button bg-blue text-white border-none" href="#!"> <span>Get a Free Assessment</span></a><a class="button hover-button bg-grey border-none" href="#!"> <span>Contact</span></a></div>
      </div>
      <div class="col-xl-8 col-12">
        <div class="bg-img w-100 scroll-right-to-left3"><img class="w-100" src="assets/images/slider/slider1.png" alt=""/></div>
      </div>
    </div>
  </div>
</div>