
<div class="slider-block style-seven">
  <div class="slider-item">
    <div class="row">
      <div class="col-6">
        <div class="text-label mt-16">Experience Digital Excellence with Us</div>
        <div class="heading1">Crafting Digital Success Stories Together</div>
        <div class="block-button mt-36 d-flex gap-12 flex-wrap"><a class="button bg-blue button-blue-hover text-white border-none" href="#!">Our Services</a></div>
      </div>
      <div class="col-6">
        <div class="bg-img"><img class="w-100" src="assets/images/slider/slider7.png" alt=""/></div>
        <div class="about bg-blue pt-28 pb-28 pl-40 pr-40 flex-between"> 
          <div class="heading4 text-white">Ready to Ignite Your Digital Presence?</div><a class="button bg-white border-none" href="#!">Get a free Quote</a>
        </div>
      </div>
    </div>
  </div>
</div>