
<div class="slider-block style-two style-four style-six">
  <div class="list-slider"> 
    <div class="slider-item">
      <div class="container"> 
        <div class="row">
          <div class="col-lg-6 col-md-10 col-12">
            <div class="text-content">
              <div class="heading1">Maximize your visibility online</div>
              <div class="body2 mt-28">Empower Your Business with Expert Digital Marketing Solutions. From SEO to Social Media, We Drive Your Success!</div>
              <div class="block-input flex-item-center mt-40">
                <input class="border-transparent bg-surface text-button fw-500 pl-16 pr-16" type="text" placeholder="Enter your e-mail"/>
                <button class="bg-purple button-purple-hover text-white border-none"><i class="ph ph-paper-plane-tilt text-button fs-20"></i><span class="text-button pl-8">Subscribe</span></button>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="slider-img"> <img src="assets/images/slider/bg-slider6.png" alt=""/><img src="assets/images/slider/slider6.png" alt=""/></div>
          </div>
        </div>
      </div>
      <div class="sub-img-dots"> 
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
</div>