
<div class="slider-block style-two style-four">
  <div class="prev-arrow flex-center"><i class="ph-bold ph-caret-left text-white"></i></div>
  <div class="list-slider"> 
    <div class="slider-item">
      <div class="bg-img w-100 h-100"><img class="w-100 h-100" src="assets/images/slider/slider4-1.png" alt=""/></div>
      <div class="container"> 
        <div class="row">
          <div class="col-xxl-7 col-lg-8 col-md-10 col-12">
            <div class="text-label text-white mt-16">Experience Digital Excellence with Us</div>
            <div class="heading1 text-white">Crafting Digital Success Stories Together</div>
            <div class="block-button mt-36 d-flex gap-12 flex-wrap"><a class="button bg-pink button-pink-hover text-white border-none" href="#!">Our Services</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-item">
      <div class="bg-img w-100 h-100"><img class="w-100 h-100" src="assets/images/slider/slider4-3.png" alt=""/></div>
      <div class="container"> 
        <div class="row">
          <div class="col-lg-8 col-md-10 col-12">
            <div class="text-label text-white mt-16">Experience Digital Excellence with Us</div>
            <div class="heading1 text-white">Transform Your Brand's Digital Landscape</div>
            <div class="block-button mt-36 d-flex gap-12 flex-wrap"><a class="button bg-white border-none" href="#!">Our Services</a><a class="button bg-pink button-pink-hover border-none text-white bora-99" href="#!"><i class="ph-fill ph-play-circle text-white fs-28"></i><span>Watch Video</span></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-item">
      <div class="bg-img w-100 h-100"><img class="w-100 h-100" src="assets/images/slider/slider4-2.png" alt=""/></div>
      <div class="container"> 
        <div class="row">
          <div class="col-lg-8 col-md-10 col-12">
            <div class="text-label text-white mt-16">Experience Digital Excellence with Us</div>
            <div class="heading1 text-white">Navigate the Digital Frontier Together</div>
            <div class="block-button mt-36 d-flex gap-12 flex-wrap"><a class="button bg-white border-none" href="#!">Get a free Quote</a><a class="button bg-pink button-pink-hover border-none text-white bora-99" href="#!"><i class="ph-fill ph-play-circle text-white fs-28"></i><span>Watch Video</span></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="next-arrow flex-center"><i class="ph-bold ph-caret-right text-white"></i></div>
</div>