
<div class="slider-block style-two bg-on-surface">
  <div class="prev-arrow flex-center"><i class="ph-bold ph-caret-left text-white"></i></div>
  <div class="list-slider"> 
    <div class="slider-item">
      <div class="bg-img w-100 h-100"><img class="w-100 h-100 animate__animated animate__fadeIn animate__delay-0-2s" src="assets/images/slider/slider2-1.png" alt=""/></div>
      <div class="container"> 
        <div class="row">
          <div class="col-xxl-7 col-lg-8 col-md-10 col-12">
            <div class="heading1 text-white animate__animated animate__fadeInUp animate__delay-0-2s">Partnership for effective results</div>
            <div class="body2 text-white mt-16 animate__animated animate__fadeInUp animate__delay-0-5s">Collaborating to create a roadmap for your triumph.</div>
            <div class="block-button mt-36 d-flex gap-12 flex-wrap animate__animated animate__fadeInUp animate__delay-0-8s"><a class="button bg-white border-none" href="#!">Our Services</a><a class="button-blue button-blue-hover bora-99" href="#!"><i class="ph-fill ph-play-circle text-white fs-28"></i><span>Video Presentation</span></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-item">
      <div class="bg-img w-100 h-100"><img class="w-100 h-100" src="assets/images/slider/slider2-3.png" alt=""/></div>
      <div class="container"> 
        <div class="row">
          <div class="col-lg-8 col-md-10 col-12">
            <div class="heading1 text-white">Tailored Solutions for Growth</div>
            <div class="list-feature mt-12">
              <div class="flex-item-center"> <i class="ph ph-check text-blue fs-28"> </i>
                <div class="heading6 text-white pl-12">Flexibility & Adaptability</div>
              </div>
              <div class="flex-item-center mt-12"><i class="ph ph-check text-blue fs-28"> </i>
                <div class="heading6 text-white pl-12">Market Analysis & Research</div>
              </div>
              <div class="flex-item-center mt-12"><i class="ph ph-check text-blue fs-28"> </i>
                <div class="heading6 text-white pl-12">Customer Care & Support</div>
              </div>
              <div class="flex-item-center mt-12"><i class="ph ph-check text-blue fs-28"> </i>
                <div class="heading6 text-white pl-12">24/7 Support with Live Chat</div>
              </div>
            </div>
            <div class="block-button mt-36 d-flex gap-12 flex-wrap"><a class="button bg-white border-none" href="#!">Our Services</a><a class="button-blue button-blue-hover bora-99" href="#!"><i class="ph-fill ph-play-circle text-white fs-28"></i><span>Video Presentation</span></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-item">
      <div class="bg-img w-100 h-100"><img class="w-100 h-100" src="assets/images/slider/slider2-2.png" alt=""/></div>
      <div class="container"> 
        <div class="row">
          <div class="col-lg-8 col-md-10 col-12">
            <div class="heading1 text-white">Crafting Growth Strategies</div>
            <div class="body2 text-white mt-16">Navigate dynamic markets with our change management expertise.</div>
            <div class="block-button mt-36 d-flex gap-12 flex-wrap"><a class="button-blue button-blue-hover" href="#!">Get a free Quote</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="next-arrow flex-center"><i class="ph-bold ph-caret-right text-white"></i></div>
</div>