
<div class="slider-block style-two style-five">
  <div class="prev-arrow flex-center"><i class="ph-bold ph-caret-left text-white"></i></div>
  <div class="list-slider"> 
    <div class="slider-item">
      <div class="bg-img w-100 h-100"><img class="w-100 h-100" src="assets/images/slider/slider5-1.png" alt=""/></div>
      <div class="container"> 
        <div class="row">
          <div class="col-lg-8 col-md-10 col-12">
            <div class="heading1 text-white">Master Your Financial Future with <span class="text-green">Strategic Planning</span></div>
            <div class="body2 text-white mt-20">Chart a course to financial success with expert insights and strategies. Your voyage to prosperity begins here</div>
            <div class="block-button mt-36 d-flex gap-12 flex-wrap"><a class="button bg-white border-none" href="#!">Request a free consult</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-item">
      <div class="bg-img w-100 h-100"><img class="w-100 h-100" src="assets/images/slider/slider5-2.png" alt=""/></div>
      <div class="container"> 
        <div class="row">
          <div class="col-lg-8 col-md-10 col-12">
            <div class="heading1 text-white">Master Your Financial Future with <span class="text-green">Expert Advice</span></div>
            <div class="body2 text-white mt-16">Collaborating to create a roadmap for your triumph.</div>
            <div class="block-button mt-36 d-flex gap-12 flex-wrap"><a class="button bg-white border-none" href="#!">Request a free consult</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-item">
      <div class="bg-img w-100 h-100"><img class="w-100 h-100" src="assets/images/slider/slider5-3.png" alt=""/></div>
      <div class="container"> 
        <div class="row">
          <div class="col-lg-8 col-md-10 col-12">
            <div class="heading1 text-white">Master Your Financial Future with <span class="text-green">Professional Insights</span></div>
            <div class="body2 text-white mt-16">Collaborating to create a roadmap for your triumph.</div>
            <div class="block-button mt-36 d-flex gap-12 flex-wrap"><a class="button bg-white border-none" href="#!">Request a free consult</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="next-arrow flex-center"><i class="ph-bold ph-caret-right text-white"></i></div>
</div>