/*
*** Blog Grid Page: Start
*/
.list-blog-page .item .blog-item .bg-img {
  border-radius: 16px;
  overflow: hidden;
}
.list-blog-page .item .blog-item .bg-img img {
  transition: all ease 0.5s;
}
.list-blog-page .item .blog-item .heading5 {
  transition: all ease 0.5s;
}
.list-blog-page .item .blog-item:hover .bg-img img {
  transform: scale(1.06);
}
.list-blog-page .item .blog-item:hover .heading5 {
  text-decoration: underline;
}
.list-blog-page .list-nav-number .nav-item {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  transition: all ease 0.2s;
}
.list-blog-page .list-nav-number .nav-item:hover, .list-blog-page .list-nav-number .nav-item.active {
  color: var(--white);
  background-color: var(--blue);
}

/*
*** Blog Grid Page: End
*/
/*
*** Blog List Page: Start
*/
.blog-list-page .container > .row > div:first-child .item-main .bg-img {
  overflow: hidden;
}
.blog-list-page .container > .row > div:first-child .item-main .bg-img img {
  transition: all ease 0.5s;
  margin-top: -1px;
  margin-bottom: -1px;
  height: 101% !important;
}
.blog-list-page .container > .row > div:first-child .item-main .infor {
  padding: 32px 32px 32px 0;
}
.blog-list-page .container > .row > div:first-child .item-main .infor .heading5,
.blog-list-page .container > .row > div:first-child .item-main .infor .heading4 {
  transition: all ease 0.5s;
}
.blog-list-page .container > .row > div:first-child .item-main:hover .bg-img img {
  transform: scale(1.06);
}
.blog-list-page .container > .row > div:first-child .item-main:hover .infor .heading5,
.blog-list-page .container > .row > div:first-child .item-main:hover .infor .heading4 {
  text-decoration: underline;
}
.blog-list-page .container > .row > div:first-child .list-nav-number .nav-item {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  transition: all ease 0.2s;
}
.blog-list-page .container > .row > div:first-child .list-nav-number .nav-item:hover, .blog-list-page .container > .row > div:first-child .list-nav-number .nav-item.active {
  color: var(--white);
  background-color: var(--blue);
}
.blog-list-page .container > .row > div:last-child .search-block {
  position: relative;
  height: 44px;
}
.blog-list-page .container > .row > div:last-child .search-block input {
  height: 100%;
  padding-left: 16px;
  padding-right: 52px;
  border: 1px solid var(--outline);
  outline: none;
}
.blog-list-page .container > .row > div:last-child .search-block input:focus {
  border: 1px solid var(--blue);
}
.blog-list-page .container > .row > div:last-child .search-block i {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 8px 8px 0;
  font-size: 20px;
  color: var(--on-surface-variant1);
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease 0.3s;
}
.blog-list-page .container > .row > div:last-child .search-block i:hover {
  background-color: var(--blue);
  color: var(--white);
}
.blog-list-page .container > .row > div:last-child .cate-block .nav-item {
  position: relative;
  transition: all ease 0.3s;
}
.blog-list-page .container > .row > div:last-child .cate-block .nav-item:hover {
  color: var(--blue);
}
@media (max-width: 991.99px) {
  .blog-list-page .container > .row {
    row-gap: 50px;
  }
}
@media (max-width: 767.99px) {
  .blog-list-page .container > .row > div:first-child .item-main .infor {
    padding: 16px;
  }
}

/*
*** Blog List Page: End
*/
/*
*** Blog Standard Page: Start
*/
.blog-list-page.style-standard .container > .row > div:first-child .item-main {
  border-radius: 8px;
  border-bottom: 1px solid var(--Outline, #E4E4E4);
}
.blog-list-page.style-standard .container > .row > div:first-child .item-main .infor {
  padding: 0;
}

/*
*** Blog Standard Page: End
*/
/*
*** Blog Modern Page: Start
*/
.list-blog-page.style-modern .container > .row {
  width: calc(100% + 30px);
}
.list-blog-page.style-modern .container > .row .main-item {
  height: 100%;
  position: relative;
  transition: all ease 0.5s;
  border-bottom: 4px solid transparent;
  box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.1);
}
.list-blog-page.style-modern .container > .row .main-item .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  transition: all ease 0.5s;
}
.list-blog-page.style-modern .container > .row .main-item .infor .caption1,
.list-blog-page.style-modern .container > .row .main-item .infor .heading5,
.list-blog-page.style-modern .container > .row .main-item .infor .desc,
.list-blog-page.style-modern .container > .row .main-item .infor .text-label {
  transition: all ease 0.5s;
}
.list-blog-page.style-modern .container > .row .main-item:hover {
  border-bottom: 4px solid var(--blue);
  background-color: rgba(12, 18, 40, 0.5);
}
.list-blog-page.style-modern .container > .row .main-item:hover .bg-img {
  opacity: 1;
}
.list-blog-page.style-modern .container > .row .main-item:hover .infor .caption1 {
  color: var(--blue);
  background-color: var(--white);
}
.list-blog-page.style-modern .container > .row .main-item:hover .infor .heading5,
.list-blog-page.style-modern .container > .row .main-item:hover .infor .desc,
.list-blog-page.style-modern .container > .row .main-item:hover .infor .text-label {
  color: var(--white);
}

/*
*** Blog Modern Page: End
*/
/*
*** Blog Detail Page: Start
*/
.blog-detail-page .heading .list-social a {
  border-radius: 8px;
  border: 1px solid var(--outline);
  padding: 8px 12px;
  gap: 8px;
}
.blog-detail-page .heading .list-social a .caption1 {
  padding-left: 8px;
  border-left: 1px solid var(--line);
}
.blog-detail-page .heading .list-social a:hover .caption1 {
  color: var(--white);
}
.blog-detail-page .blog-content .quote-block .text-button {
  position: relative;
}
.blog-detail-page .blog-content .quote-block .text-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 16px;
  background: var(--placehover);
}
.blog-detail-page .blog-comment select {
  -webkit-appearance: auto;
}
.blog-detail-page .blog-comment .list-comment .comment-item .heading img {
  width: 52px;
  height: 52px;
}
.blog-detail-page .blog-comment .list-comment .comment-item .comment-infor .like i {
  transition: all ease 0.3s;
}
.blog-detail-page .blog-comment .list-comment .list-reply {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all ease 0.5s;
}
.blog-detail-page .blog-comment .list-comment .list-reply.show {
  max-height: 1000px;
  opacity: 1;
  visibility: visible;
  transition: all ease 0.8s;
}
.blog-detail-page .blog-form-contact .row {
  margin-left: -10px;
  margin-right: -10px;
}
.blog-detail-page .blog-form-contact .row > div {
  padding-left: 10px;
  padding-right: 10px;
}
.blog-detail-page .blog-form-contact .row > div input:focus {
  border: 1px solid var(--blue);
}
.blog-detail-page .blog-form-contact textarea {
  border-radius: 5px;
  width: 100%;
  height: 106px;
  padding: 12px 20px;
  border: 1px solid #e4e4e4;
}
.blog-detail-page .blog-form-contact textarea:focus {
  border: 1px solid var(--blue);
}

/*
*** Blog Detail Page: End
*/
/*
*** Blog Detail Page Style 2: Start
*/
.heading-blog-detail {
  position: relative;
  background: #E5EAFF;
}
.heading-blog-detail > .bg-img {
  width: 50%;
}
.heading-blog-detail > .bg-img img {
  min-height: 600px;
  max-height: 640px;
}
.heading-blog-detail .blog-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 1320px) {
  .heading-blog-detail .blog-title .row > div:last-child {
    padding: 0 32px;
  }
}
@media (max-width: 991.99px) {
  .heading-blog-detail .bg-img {
    width: 100%;
  }
  .heading-blog-detail .bg-img img {
    min-height: unset;
  }
  .heading-blog-detail .blog-title {
    position: relative;
  }
  .heading-blog-detail .blog-title .row > div:last-child {
    width: 100%;
    padding: 24px 15px 32px;
  }
}

/*
*** Blog Detail Page Style 2: End
*/
/*
*** Blog Detail Page Style 3: Start
*/
.heading-blog-detail.style-three {
  background-color: var(--white);
}
.heading-blog-detail.style-three::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background-color: #E5EAFF;
  z-index: 0;
}
.heading-blog-detail.style-three > .container {
  position: relative;
  z-index: 1;
}
@media (max-width: 1200px) {
  .heading-blog-detail.style-three::before {
    display: none;
  }
  .heading-blog-detail.style-three > .container {
    padding-bottom: 0;
  }
  .heading-blog-detail.style-three > .container .row > div {
    width: 100%;
  }
  .heading-blog-detail.style-three > .container .row > div:nth-child(2) {
    padding-left: 15px;
  }
}

@media (max-width: 1200px) {
  .blog-detail-page.style-three {
    padding-top: 16px;
  }
}
/*
*** Blog Detail Page Style 3: End
*/