/*
*** Blog Grid Page: Start
*/
.list-blog-page .item .blog-item .bg-img {
  border-radius: 16px;
  overflow: hidden;
}
.list-blog-page .item .blog-item .bg-img img {
  transition: all ease 0.5s;
}
.list-blog-page .item .blog-item .heading5 {
  transition: all ease 0.5s;
}
.list-blog-page .item .blog-item:hover .bg-img img {
  transform: scale(1.06);
}
.list-blog-page .item .blog-item:hover .heading5 {
  text-decoration: underline;
}
.list-blog-page .list-nav-number .nav-item {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  transition: all ease 0.2s;
}
.list-blog-page .list-nav-number .nav-item:hover, .list-blog-page .list-nav-number .nav-item.active {
  color: var(--white);
  background-color: var(--blue);
}

/*
*** Blog Grid Page: End
*/