/*
*** Case Studies 3 cols Page: Start
*/
.list-blog-page.section-case-studies .container {
  overflow: hidden;
}
.list-blog-page.section-case-studies .container .list-news .item {
  cursor: pointer;
}
.list-blog-page.section-case-studies .container .list-news .item .main-item {
  cursor: pointer;
}

/*
*** Case Studies 3 cols Page: End
*/
/*
*** Case Studies 2 cols - Style2 Page: Start
*/
.list-case-studies .row .item-main {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  transition: all ease 0.5s;
  cursor: pointer;
}
.list-case-studies .row .item-main .bg-img {
  position: relative;
}
.list-case-studies .row .item-main .bg-img img {
  transition: all ease 0.5s;
}
.list-case-studies .row .item-main .infor {
  transition: all ease 0.5s;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -150px;
}
.list-case-studies .row .item-main:hover {
  box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.1);
}
.list-case-studies .row .item-main:hover .bg-img img {
  transform: scale(1.06);
}
.list-case-studies .row .item-main:hover .infor {
  bottom: 0;
}

/*
*** Case Studies 2 cols - Style2 Page: End
*/
/*
*** Case Studies List Page: Start
*/
.case-studies-list-block .item .item-main {
  border-radius: 20px;
  background: linear-gradient(238deg, #FAF7EF 0%, #F4F6FC 99.66%);
  overflow: hidden;
  display: block;
}
.case-studies-list-block .item .item-main .bg-img {
  overflow: hidden;
  height: 100%;
}
.case-studies-list-block .item .item-main .bg-img img {
  height: 100%;
  object-fit: cover;
  transition: all ease 0.4s;
}
.case-studies-list-block .item .item-main .text-button-small {
  position: relative;
  display: inline-block;
}
.case-studies-list-block .item .item-main .text-button-small::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--on-surface);
  transition: all ease 0.4s;
}
.case-studies-list-block .item .item-main .text-button-small:hover::before {
  width: 100%;
}
.case-studies-list-block .item .item-main:hover .bg-img img {
  transform: scale(1.05);
}
.case-studies-list-block .item .item-main:hover .heading4 {
  text-decoration: underline;
}
.case-studies-list-block .list-nav-number .nav-item {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  transition: all ease 0.2s;
}
.case-studies-list-block .list-nav-number .nav-item:hover, .case-studies-list-block .list-nav-number .nav-item.active {
  color: var(--white);
  background-color: var(--blue);
}
@media (max-width: 991.99px) {
  .case-studies-list-block .item .item-main .row > div:last-child {
    padding-left: 0;
  }
  .case-studies-list-block .item .item-main .row > div:last-child .infor {
    padding: 24px 0;
  }
}
@media (max-width: 767.99px) {
  .case-studies-list-block .item .item-main {
    border-radius: 12px;
  }
  .case-studies-list-block .item .item-main .row > div:first-child {
    padding-right: 0;
  }
  .case-studies-list-block .item .item-main .row > div:last-child {
    padding-left: 15px;
  }
  .case-studies-list-block .item .item-main .row > div:last-child .infor {
    padding: 24px;
  }
}

/*
*** Case Studies List Page: End
*/
/*
*** Case Studies Detail Page: Start
*/
@media (max-width: 991.99px) {
  .benefit-block .heading .body2 {
    text-align: left !important;
  }
}

.counter-block .content-main .item .heading3 {
  white-space: nowrap;
}

.feature-block .row > div:last-child {
  border-left: 1px solid var(--outline);
}

/*
*** Case Studies Detail Page: End
*/
/*
*** Case Studies Detail Page - Style2: Start
*/
.case-studies-detail-two .section-testimonial .slick-dots {
  margin-left: 0;
  margin-top: 24px;
  padding-bottom: 0;
}
@media (max-width: 992px) {
  .case-studies-detail-two .container .row {
    flex-direction: column-reverse;
  }
}
@media (max-width: 400px) {
  .case-studies-detail-two .counter-block .content-main {
    text-align: center;
  }
  .case-studies-detail-two .counter-block .content-main .list-counter {
    flex-direction: column;
  }
}

/*
*** Case Studies Detail Page - Style2: End
*/