.checkout-block-main .container > .row > div:first-child .login .right i {
  transition: all linear 0.4s;
}
.checkout-block-main .container > .row > div:first-child .login .right i.up {
  transform: rotate(180deg);
}
.checkout-block-main .container > .row > div:first-child .form-login-block {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  margin-top: 0;
  overflow: hidden;
  transition: all linear 0.4s;
}
.checkout-block-main .container > .row > div:first-child .form-login-block.open {
  opacity: 1;
  visibility: visible;
  max-height: 250px;
  margin-top: 16px;
}
.checkout-block-main .container > .row > div:first-child .information form .row > div {
  position: relative;
}
.checkout-block-main .container > .row > div:first-child .information form .row > div i {
  position: absolute;
  bottom: 15px;
  right: 26px;
  font-size: 18px;
}
.checkout-block-main .container > .row > div:first-child .information .list-payment .type {
  transition: all linear 0.4s;
}
.checkout-block-main .container > .row > div:first-child .information .list-payment .type .infor {
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  transition: all linear 0.4s;
}
.checkout-block-main .container > .row > div:first-child .information .list-payment .type .infor .row > div {
  position: relative;
}
.checkout-block-main .container > .row > div:first-child .information .list-payment .type .infor .bg-img {
  position: absolute;
  bottom: 16px;
  right: 32px;
}
.checkout-block-main .container > .row > div:first-child .information .list-payment .type.open {
  background-color: #EFF0F3;
}
.checkout-block-main .container > .row > div:first-child .information .list-payment .type.open .infor {
  opacity: 1;
  visibility: visible;
  max-height: 450px;
}
.checkout-block-main .container > .row > div:last-child .product .bg-img {
  padding: 8px 15px;
}
.checkout-block-main .container > .row > div:last-child .product .bg-img img {
  width: 30px;
}
.checkout-block-main .container > .row > div:last-child .product .right .quantity {
  white-space: nowrap;
}
.checkout-block-main .container > .row > div:last-child .ship-block {
  align-items: flex-start;
}