.list-testimonials-block {
  padding-bottom: 140px;
}
.list-testimonials-block .container .list-more {
  position: relative;
}
.list-testimonials-block .container .list-more button {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.list-testimonials-block .container .list-more button i {
  animation: circleScroll 0.7s linear infinite;
  position: absolute;
  display: none;
}
.list-testimonials-block .container .list-more .row {
  overflow: hidden;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.5s;
}
.list-testimonials-block .container .list-more .row.open {
  opacity: 1;
  visibility: visible;
  height: auto;
}
@media (max-width: 992px) {
  .list-testimonials-block.pb-80 {
    padding-bottom: 120px;
  }
}
@media (max-width: 767.99px) {
  .list-testimonials-block.pb-80 {
    padding-bottom: 100px;
  }
}

@keyframes spinAroundCenter {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}