/*
*** List testimonials pages: Start
*/
.list-testimonials-block .container .list-more, .list-case-studies .container .list-more {
  position: relative;
}
.list-testimonials-block .container .list-more button, .list-case-studies .container .list-more button {
  position: relative;
}
.list-testimonials-block .container .list-more button i, .list-case-studies .container .list-more button i {
  animation: circleScroll 0.7s linear infinite;
  position: absolute;
  display: none;
}
.list-testimonials-block .container .list-more .row, .list-case-studies .container .list-more .row {
  overflow: hidden;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.5s;
}
.list-testimonials-block .container .list-more .row.open, .list-case-studies .container .list-more .row.open {
  opacity: 1;
  visibility: visible;
  height: auto;
}

@keyframes spinAroundCenter {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/*
*** List testimonials pages: End
*/