/*
*** Our Team Page: Start
*/
.teams-block .list-member .member-item .bg-img {
  overflow: hidden;
  border-radius: 28px;
  display: block;
}
.teams-block .list-member .member-item .bg-img img {
  transition: all ease 0.3s;
}
.teams-block .list-member .member-item .heading5 {
  display: inline-block;
  position: relative;
}
.teams-block .list-member .member-item .heading5::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--on-surface);
  transition: all ease 0.3s;
}
.teams-block .list-member .member-item:hover .bg-img img {
  transform: scale(1.04);
}
.teams-block .list-member .member-item:hover .heading5::before {
  width: 100%;
}
.teams-block .cta-block .heading6 {
  text-transform: unset;
}
.teams-block .cta-block a.button {
  transition: all ease 0.4s;
}
.teams-block .cta-block a.button:hover {
  background-color: var(--on-surface);
  color: var(--white);
}
@media (max-width: 992px) {
  .teams-block .cta-block .content-main {
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 30px;
  }
}
@media (max-width: 767.99px) {
  .teams-block .cta-block .content-main {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 24px;
  }
  .teams-block .cta-block .content-main .row {
    flex-direction: column;
  }
  .teams-block .cta-block .content-main .row > div {
    text-align: center !important;
  }
}

/*
*** Our Team Page: End
*/
/*
*** Team Detail Page: Start
*/
.team-detail-block .row .content-detail .list-social a {
  background-color: transparent;
}
.team-detail-block .row .content-detail .list-social a i {
  background-color: transparent;
}
.team-detail-block .row .content-detail .list-social a:hover i {
  color: var(--blue);
}
@media (max-width: 991.99px) {
  .team-detail-block .row {
    position: relative;
  }
  .team-detail-block .row .content-detail .user-infor {
    position: absolute;
    left: calc(50% + 16px);
    top: 0;
  }
  .team-detail-block .row .content-detail .user-desc > div:nth-child(1) {
    margin-top: 0;
  }
}
@media (max-width: 575.99px) {
  .team-detail-block .row {
    position: relative;
  }
  .team-detail-block .row .content-detail .user-infor {
    position: relative;
    left: 0;
  }
  .team-detail-block .row .content-detail .user-infor .list-social a i {
    font-size: 16px;
  }
  .team-detail-block .row .content-detail .user-desc > div:nth-child(1) {
    margin-top: 20px;
  }
  .team-detail-block .row .content-detail .user-desc .list-award img {
    width: 80px;
    height: 80px;
  }
}

/*
*** Team Detail Page: End
*/