.section-about.style-seven-second.style-seven-third.pt-80.pb-80
    .container 
        .row.row-gap-40.flex-between
            .col-12.col-lg-5.col-md-8.col-sm-10
                img(src="assets/images/component/about-third7.png", alt="img").w-100
            .col-12.col-lg-7.pl-65.pl-col-lg-0
                .text-label.bg-black-10percents.text-on-surface-variant1.pt-4.pb-4.pl-12.pr-12.display-inline-block Why choose us
                .heading3.mt-20 Elevate Productivity with Our Expert Help Desk Services
                .desc.mt-20 Welcome to Bytewave, your trusted companion in the realm of IoT services. We take pride in being a dedicated partner, committed to delivering state-of-the-art IoT solutions that propel the future of your business.
                .border-line.mt-28 
                .benefit-item.flex-item-center.mt-28 
                    i.ph-fill.ph-chart-polar.fs-42.display-block
                    .title.pl-16
                        .heading5 Efficient Technical Support
                        p Quick and effective resolution of technical issues.
                .benefit-item.flex-item-center.mt-28 
                    i.ph-fill.ph-chart-bar.fs-42.display-block
                    .title.pl-16
                        .heading5 Enhanced Productivity
                        p Time saved through prompt guidance.
                .benefit-item.flex-item-center.mt-28 
                    i.ph-fill.ph-chart-line-down.fs-42.display-block
                    .title.pl-16
                        .heading5 Minimized Incidents
                        p Consistent support to minimize disruptions.

