.section-about.style-seven-first 
    .container 
        .row.row-gap-40.p-80
            .col-12.col-lg-6.pr-65.pr-col-lg-0
                .heading3 100 Years Of History Serving The Poconos Region
                .bg-img.mt-32.video-block
                    img(src="assets/images/component/about3.png", alt="").w-100
                    i.ph-fill.ph-play.text-white.fs-28.bg-on-surface.bora-50.flex-center
                    .text-title.text-white Tony Nguyen, CEO, Bytewave
            .col-12.col-lg-6
                .content.p-40
                    .heading3 Unlock your financial potential today!
                    .list-feature.mt-28
                        .flex-item-center 
                            i.ph.ph-check.text-blue.fs-20 
                            .text-title.pl-8 Supported by experienced financial experts.
                        .flex-item-center.mt-24
                            i.ph.ph-check.text-blue.fs-20 
                            .text-title.pl-8 Optimizing investment portfolios and assets.
                        .flex-item-center.mt-24
                            i.ph.ph-check.text-blue.fs-20 
                            .text-title.pl-8 Building stable financial plans for the future.
                        .flex-item-center.mt-24
                            i.ph.ph-check.text-blue.fs-20 
                            .text-title.pl-8 Ensuring financial security through suitable insurance.
                        .block-button.mt-36
                            a(href="#!").button.bg-blue.button-blue-hover.text-white.border-none Our Services
