.section-about.style-seven-second.pt-80
    .container 
        .row.row-gap-40.flex-between
            .col-12.col-lg-7.pr-65.pr-col-lg-0
                .text-label.bg-black-10percents.text-on-surface-variant1.pt-4.pb-4.pl-12.pr-12.display-inline-block About US
                .heading3.mt-20 Simplify Tech Challenges with Our Responsive Help Desk Team
                .desc.mt-20 Welcome to Bytewave, your trusted companion in the realm of IoT services. We take pride in being a dedicated partner, committed to delivering state-of-the-art IoT solutions that propel the future of your business.
                .counter.d-flex.mt-16
                    .item 
                        .heading3 20
                        .text-title.mt-4 Years experiences
                    .item.pl-40
                        .heading3 1.8
                            span k
                        .text-title.mt-4 Happy customers
                a(href="#!").button.mt-40 Meet our team
            .col-12.col-lg-5.col-md-8.col-sm-10
                img(src="assets/images/component/about-second7.png", alt="img").w-100
