.section-newsletter.style-five.style-seven.pt-80.pb-80 
    .container
        .row.row-gap-32.flex-between
            .col-lg-6.col-12
                .heading3.text-white Receive the top blog stories directly in your inbox
            .col-xl-5.col-lg-6.col-md-8.col-sm-10.col-12
                .block-input.flex-item-center
                    input(type="text" placeholder="Enter your e-mail").border-transparent.bg-surface.text-button.fw-500.pl-16.pr-16
                    button.bg-blue.text-button.button-blue-hover.text-white.border-none Subscribe
                .flex-item-center.mt-24
                    input(type="checkbox" name="newsletter")
                    .text-white I have read the 
                        a(href="#!").text-white Privacy Policy 
                        span.text-white and agree to its terms

