.section-pricing.style-seven.pt-80.pb-80.bg-yellow-surface
    .container 
        .row.flex-between
            .col-xl-4.col-12
                .heading
                    .heading3 Reach Out for Support!
                    .mt-16  a comprehensive solution for your technical support needs. With this package, you'll experience dedicated assistance from our professional technical experts.
                    .choose-type.flex-item-center.mt-16.gap-20
                        .text-title Pay Monthly
                        .switch 
                            .bg-white.border-outline
                        .text-title.text-on-surface-variant1 Pay Yearly 
                            span.caption2 (Save 10%)
                    .list-feature.d-flex.flex-column.gap-16.pt-32
                        .item.flex-item-center.gap-8 
                            i.ph.ph-check.fs-24.text-blue
                            .text-title 24/7 Support
                        .item.flex-item-center.gap-8 
                            i.ph.ph-check.fs-24.text-blue
                            .text-title Professional Expertise
                        .item.flex-item-center.gap-8 
                            i.ph.ph-check.fs-24.text-blue
                            .text-title Time and Resource Savings
            .col-xl-7.col-12
                .list-pricing.mt-40.show
                    .row.row-gap-32
                        .col-md-6.col-12
                            .pricing-item.bg-white.p-32.bora-20.bg-white.border-outline.h-100
                                .heading5 Gold
                                .price.mt-20
                                    .heading2.text-blue $149.00
                                    .caption1.text-on-surface-variant1 / per month
                                .list-feature.mt-24.d-flex.flex-column.gap-12.pt-32
                                    .item.flex-item-center.gap-8 
                                        i.ph.ph-check.fs-24.text-blue
                                        .feature 60 keywords
                                    .item.flex-item-center.gap-8 
                                        i.ph.ph-check.fs-24.text-blue
                                        .feature 6,000 monthly website visitors
                                    .item.flex-item-center.gap-8 
                                        i.ph.ph-check.fs-24.text-blue
                                        .feature 8 blogs / month
                                    .item.flex-item-center.gap-8 
                                        i.ph.ph-check.fs-24.text-blue
                                        .feature 10 quality backlinks / month
                                    .item.flex-item-center.gap-8 
                                        i.ph.ph-check.fs-24.text-blue
                                        .feature Dedicated expert team
                                    .item.flex-item-center.gap-8 
                                        i.ph.ph-check.fs-24.text-blue
                                        .feature Monitoring & reporting
                                a(href="pricing-plan.html").button.bg-blue.text-white.border-transparent.mt-24 Choose Plan
                        .col-md-6.col-12
                            .pricing-item.bg-white.p-32.bora-20.border-outline.h-100
                                .heading.flex-between
                                    .heading5 Platinum
                                    .text-label.bg-blue.text-white.pt-4.pb-4.pl-12.pr-12.bora-99.display-inline-block Save 25%
                                .price.mt-20
                                    .heading2 $379.00
                                    .caption1.text-on-surface-variant1 / per month
                                .list-feature.mt-24.d-flex.flex-column.gap-12.pt-32
                                    .item.flex-item-center.gap-8 
                                        i.ph.ph-check.fs-24.text-blue
                                        .feature 150 keywords
                                    .item.flex-item-center.gap-8 
                                        i.ph.ph-check.fs-24.text-blue
                                        .feature 20,000 monthly website visitors
                                    .item.flex-item-center.gap-8 
                                        i.ph.ph-check.fs-24.text-blue
                                        .feature 15 blogs / month
                                    .item.flex-item-center.gap-8 
                                        i.ph.ph-check.fs-24.text-blue
                                        .feature 20 quality backlinks / month
                                    .item.flex-item-center.gap-8 
                                        i.ph.ph-check.fs-24.text-blue
                                        .feature Dedicated expert team
                                    .item.flex-item-center.gap-8 
                                        i.ph.ph-check.fs-24.text-blue
                                        .feature Monitoring & reporting
                                a(href="pricing-plan.html").button.mt-24 Choose Plan

                .list-pricing-year.mt-40.hide
                    .row.row-gap-32
                        .col-md-6.col-12
                            .pricing-item.bg-white.p-32.bora-20.border-outline.h-100
                                .heading5 Gold
                                .price.mt-20
                                    .heading2.text-blue $1609.2
                                    .caption1.text-on-surface-variant1 / per month                        
                                .list-feature.mt-24.d-flex.flex-column.gap-12.pt-32
                                    .item.flex-item-center.gap-8 
                                        i.ph.ph-check.fs-24.text-blue
                                        .feature 60 keywords
                                    .item.flex-item-center.gap-8 
                                        i.ph.ph-check.fs-24.text-blue
                                        .feature 6,000 monthly website visitors
                                    .item.flex-item-center.gap-8 
                                        i.ph.ph-check.fs-24.text-blue
                                        .feature 8 blogs / month
                                    .item.flex-item-center.gap-8 
                                        i.ph.ph-check.fs-24.text-blue
                                        .feature 10 quality backlinks / month
                                    .item.flex-item-center.gap-8 
                                        i.ph.ph-check.fs-24.text-blue
                                        .feature Dedicated expert team
                                    .item.flex-item-center.gap-8 
                                        i.ph.ph-check.fs-24.text-blue
                                        .feature Monitoring & reporting
                                a(href="pricing-plan.html").button.bg-blue.text-white.border-transparent.mt-24 Choose Plan
                        .col-md-6.col-12
                            .pricing-item.bg-white.p-32.bora-20.border-outline.h-100
                                .heading.flex-between
                                    .heading5 Platinum
                                    .text-label.bg-blue.text-white.pt-4.pb-4.pl-12.pr-12.bora-99.display-inline-block Save 25%
                                .price.mt-20
                                    .heading2 $4093.2
                                    .caption1.text-on-surface-variant1 / per month                        
                                .list-feature.mt-24.d-flex.flex-column.gap-12.pt-32
                                    .item.flex-item-center.gap-8 
                                        i.ph.ph-check.fs-24.text-blue
                                        .feature 150 keywords
                                    .item.flex-item-center.gap-8 
                                        i.ph.ph-check.fs-24.text-blue
                                        .feature 20,000 monthly website visitors
                                    .item.flex-item-center.gap-8 
                                        i.ph.ph-check.fs-24.text-blue
                                        .feature 15 blogs / month
                                    .item.flex-item-center.gap-8 
                                        i.ph.ph-check.fs-24.text-blue
                                        .feature 20 quality backlinks / month
                                    .item.flex-item-center.gap-8 
                                        i.ph.ph-check.fs-24.text-blue
                                        .feature Dedicated expert team
                                    .item.flex-item-center.gap-8 
                                        i.ph.ph-check.fs-24.text-blue
                                        .feature Monitoring & reporting
                                a(href="pricing-plan.html").button.mt-24 Choose Plan
