.section-testimonial.style-seven.pt-80.pb-80
    .container 
        .heading3.text-center Testimonials
        .text-center.mt-8 Discover exceptional experiences through testimonials from our satisfied customers.
        .list-comment.mt-40
            .col
                .item.pl-32.pr-32.pt-40.pb-40.bg-white.bora-16.flex-item-center.gap-20.border-outline
                    .content
                        .star.flex-item-center.gap-1
                            i.ph-fill.ph-star.fs-20.text-yellow
                            i.ph-fill.ph-star.fs-20.text-yellow
                            i.ph-fill.ph-star.fs-20.text-yellow
                            i.ph-fill.ph-star.fs-20.text-yellow
                            i.ph-fill.ph-star.fs-20.text-yellow
                        .body2.mt-12 Bytewave has been a transformative experience for our business. Their inventive strategies and fresh perspective have propelled our success to remarkable heights.
                        .infor.flex-item-center.mt-24
                            img(src="assets/images/avatar/avatar1.png", alt="").bora-50.w-60.h-60.object-fit-cover.display-block
                            .user.pl-12
                                .text-title Christina Smith
                                .caption1.text-on-surface-variant1 CEO Digital Avitex
            .col
                .item.pl-32.pr-32.pt-40.pb-40.bg-white.bora-16.flex-item-center.gap-20.border-outline
                    .content
                        .star.flex-item-center.gap-1
                            i.ph-fill.ph-star.fs-20.text-yellow
                            i.ph-fill.ph-star.fs-20.text-yellow
                            i.ph-fill.ph-star.fs-20.text-yellow
                            i.ph-fill.ph-star.fs-20.text-yellow
                            i.ph-fill.ph-star.fs-20.text-yellow
                        .body2.mt-12 Working with Bytewave has been an absolute game-changer for our online presence. Their innovative strategies and creative approach have taken our brand to new heights!
                        .infor.flex-item-center.mt-24
                            img(src="assets/images/avatar/avatar2.png", alt="").bora-50.w-60.h-60.object-fit-cover.display-block
                            .user.pl-12
                                .text-title Harry Bruno
                                .caption1.text-on-surface-variant1 Designer FPT
            .col
                .item.pl-32.pr-32.pt-40.pb-40.bg-white.bora-16.flex-item-center.gap-20.border-outline
                    .content
                        .star.flex-item-center.gap-1
                            i.ph-fill.ph-star.fs-20.text-yellow
                            i.ph-fill.ph-star.fs-20.text-yellow
                            i.ph-fill.ph-star.fs-20.text-yellow
                            i.ph-fill.ph-star.fs-20.text-yellow
                            i.ph-fill.ph-star.fs-20.text-yellow
                        .body2.mt-12 Choosing Bytewave was the best decision we made for our business. Their expertise in SEO and digital marketing has significantly boosted our traffic and conversions.
                        .infor.flex-item-center.mt-24
                            img(src="assets/images/avatar/avatar3.png", alt="").bora-50.w-60.h-60.object-fit-cover.display-block
                            .user.pl-12
                                .text-title Georgina Ramos
                                .caption1.text-on-surface-variant1 Developper Misa
            .col
                .item.pl-32.pr-32.pt-40.pb-40.bg-white.bora-16.flex-item-center.gap-20.border-outline
                    .content
                        .star.flex-item-center.gap-1
                            i.ph-fill.ph-star.fs-20.text-yellow
                            i.ph-fill.ph-star.fs-20.text-yellow
                            i.ph-fill.ph-star.fs-20.text-yellow
                            i.ph-fill.ph-star.fs-20.text-yellow
                            i.ph-fill.ph-star.fs-20.text-yellow
                        .body2.mt-12 I can't thank Bytewave enough for their exceptional service. From web design to social media management, they've exceeded our expectations every step of the way.
                        .infor.flex-item-center.mt-24
                            img(src="assets/images/avatar/avatar4.png", alt="").bora-50.w-60.h-60.object-fit-cover.display-block
                            .user.pl-12
                                .text-title Alexander Parker
                                .caption1.text-on-surface-variant1 Designer AhaMove
            