.top-nav.style-two.bg-white 
    .container.flex-between
        .left.flex-item-center
            .select-language.flex-item-center 
                .caption2.name English
                i.ph-bold.ph-caret-down
                .sub-menu.bg-white
                    a(href="#!").caption2 English
                    a(href="#!").caption2 France
                    a(href="#!").caption2 Espana
            .select-office.flex-item-center 
                .caption2.name New York Office
                i.ph-bold.ph-caret-down
                .sub-menu.bg-white
                    a(href="#!").caption2 New York Office
                    a(href="#!").caption2 Paris Office
                    a(href="#!").caption2 Madrid Office
        .right.flex-item-center
            .location.flex-item-center
                i.ph.ph-map-pin.fs-20
                span.pl-8.caption1 101 E 129th St, East Chicago, IN 46312, US
            .mail.pl-28.flex-item-center
                i.ph.ph-envelope.fs-20
                span.pl-8.caption1 hi.avitex@gmail.com