.top-nav.style-two.bg-white 
    .container.flex-between
        .left.flex-item-center
            .select-language 
                select.caption2
                    option(value="English") English
                    option(value="France") France
                    option(value="Espana") Espana
                i.ph-bold.ph-caret-down
            .select-office 
                select.caption2
                    option(value="New York Office") New York Office
                    option(value="Montpellier Office") Montpellier Office
                    option(value="Barcelona Office") Barcelona Office
                i.ph-bold.ph-caret-down
        .right.flex-item-center
            .location.flex-item-center
                i.ph.ph-map-pin.fs-20
                span.pl-8.caption1 101 E 129th St, East Chicago, IN 46312, US
            .mail.pl-28.flex-item-center
                i.ph.ph-envelope.fs-20
                span.pl-8.caption1 hi.avitex@gmail.com