script(src="./assets/js/jquery-3.7.1.js")
script(src="./assets/js/slick.min.js")
script(src="./assets/js/scrollreveal.js")
script(src="./assets/js/bootstrap.bundle.min.js")
script(src="./assets/js/countUp.min.js")
script(src="./assets/js/waypoints.min.js")
script(src="./assets/js/phosphor-icons.js")
script(src="./assets/js/main.min.js")