.section-about.style-two.bg-white.pt-60 
    .container 
        .row.row-gap-12.flex-between
            .col-12.col-xl-5.col-lg-6
                .heading3 We are your strategic partner for business development
            .col-12.col-lg-6.col-md-11
                .desc At Byteware, we're more than just business consultants; we're passionate allies on your journey. With a mission to respect and define the unique values of each enterprise, we're committed to crafting innovative solutions and tailored strategies that propel you towards new heights.
                a(href="#!").text-button-small.display-inline-block.mt-16.border-underline-on-surface-2px Our Company
        .cta-block.bg-linear-grey.bora-16.pl-40.pr-40.pt-28.pb-28.mt-60
            .row.flex-between.row-gap-20
                .col-12.col-md-8
                    .text-white.heading4 In Search of a Premium Business Consultant?
                .col-12.col-md-4.text-end
                    a(href="#!").button.hover-button.bg-blue.border-none.bora-4.text-white 
                        span Get a free Quote
