.section-banner.style-two
    .list
        .heading4.text-uppercase.text-white We are unique
        i.icon-icon-logo.fs-36.text-white
        .heading4.text-uppercase.text-white Get Started with IT Excellence
        i.icon-icon-logo.fs-36.text-white
        .heading4.text-uppercase.text-white Let's Build Your Digital Future
        i.icon-icon-logo.fs-36.text-white
        .heading4.text-uppercase.text-white We are unique
        i.icon-icon-logo.fs-36.text-white
        .heading4.text-uppercase.text-white Get Started with IT Excellence
        i.icon-icon-logo.fs-36.text-white
        .heading4.text-uppercase.text-white Let's Build Your Digital Future
        i.icon-icon-logo.fs-36.text-white