include ../../mixins/benefitItem.pug

.section-benefit.bg-white.pt-80.pb-80
    .container 
        .row.row-gap-40
            .col-12.col-lg-3.col-sm-6
                +benefitItem({classname:'', icon: 'ph ph-medal fs-42', title: 'In-Depth Expertise', desc: 'Receive support from professionalism with specialized knowledge, aiding efficient issue resolution and performance enhancement.'})
            .col-12.col-lg-3.col-sm-6
                +benefitItem({classname:'', icon: 'ph ph-hand-eye fs-42', title: 'Objective Viewpoint', desc: 'Harness unbiased external perspectives, delivering fresh and effective solutions through impartial analysis and evaluation.'})
            .col-12.col-lg-3.col-sm-6
                +benefitItem({classname:'', icon: 'ph ph-piggy-bank fs-42', title: 'Time and Energy Savings', desc: 'Through strategy determination and execution, save time and concentrate on core areas.'})
            .col-12.col-lg-3.col-sm-6
                +benefitItem({classname:'', icon: 'ph ph-chart-line-up fs-42', title: 'Increased Efficiency', desc: 'Streamline business operations, from processes to technology, enhancing competitiveness and performance.'})
            
