.section-couter.counter
    .bg-img 
        img(src="assets/images/component/bg-counter2.png", alt="")
    .container 
        .row.row-gap-40.text-white
            .col-md-6 
                .heading3.text-white Join us for a transformative journey!
                .mt-16 At Bytewave, we're here to amplify your growth. Our expert consultants drive innovation, enhance processes, and accelerate success. Let's shape your prosperous future together!"
            .col-md-6
                .pl-55 
                    .row.row-gap-24
                        .col-6
                            .counter-item 
                                .heading3.text-white.count-number 20
                                .body1.mt-4.text-white Years experiences
                        .col-6
                            .counter-item 
                                .flex-item-center
                                    .heading3.text-white.count-number 1.8
                                    span.heading3.text-white k
                                .body1.mt-4.text-white Happy customers
                        .col-6
                            .counter-item 
                                .heading3.text-white.count-number 460
                                .body1.mt-4.text-white Project completed
                        .col-6
                            .counter-item 
                                .heading3.text-white.count-number 15
                                .body1.mt-4.text-white Awards achievement
