include ../../mixins/solutionItem.pug

.section-solution.bg-linear.pt-80.pb-80 
    .container.text-center
        .heading3.text-center.mt-12 Our services
        .text-center.mt-8 Empowering Your Success Through Expert Consulting Services
        .row.row-gap-40.mt-40
            .col-12.col-xl-4.col-sm-6
                +solutionItem({classname:'p-40 bora-20 bg-white h-100', style:'solution-two', icon: 'icon-phone-hand fs-60', title: 'Business Strategy Analysis', desc: 'Crafting strategic pathways through comprehensive market analysis to achieve business objectives.'})
            .col-12.col-xl-4.col-sm-6
                +solutionItem({classname:'p-40 bora-20 bg-white h-100', style:'solution-two', icon: 'icon-user-sync fs-60', title: 'Project Management', desc: 'Ensuring successful project execution by expertly managing timelines, resources, and deliverables.'})
            .col-12.col-xl-4.col-sm-6
                +solutionItem({classname:'p-40 bora-20 bg-white h-100', style:'solution-two', icon: 'icon-device-cloud fs-60', title: 'Operational Optimization', desc: 'Enhancing performance by streamlining processes, boosting efficiency, and reducing expenditures.'})
            .col-12.col-xl-4.col-sm-6
                +solutionItem({classname:'p-40 bora-20 bg-white h-100', style:'solution-two', icon: 'icon-cloud-dots fs-60', title: 'Digital Consulting', desc: 'Navigating the digital landscape, from system enhancements to transformative tech solutions.'})
            .col-12.col-xl-4.col-sm-6
                +solutionItem({classname:'p-40 bora-20 bg-white h-100', style:'solution-two', icon: 'icon-user-sync fs-60', title: 'Marketing Strategy', desc: 'Developing impactful marketing blueprints, leveraging market insights for effective campaigns.'})
            .col-12.col-xl-4.col-sm-6
                +solutionItem({classname:'p-40 bora-20 bg-white h-100', style:'solution-two', icon: 'icon-target-chart fs-60', title: 'Leadership Development', desc: 'Cultivating top-tier leadership skills for managerial excellence and elevated performance.'})
            