.list-case-studies {
    .row {
        .item-main {
            position: relative;
            border-radius: 16px;
            overflow: hidden;
            transition: all ease 0.5s;
            cursor: pointer;

            .bg-img {
                position: relative;
            }

            .infor {
                transition: all ease 0.5s;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -150px;
            }

            &:hover {
                box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.10);

                .infor {
                    bottom: 0;
                }
            }
        }
    }
}