/*
*** Section Newsletter Home4: Start
*/
.section-newsletter {
    .row {
        .block-input {
            input {
                border-radius: 4px 0 0 4px;
                height: 48px;
                width: calc(100% - 128px);
            }

            button {
                height: 48px;
                width: 128px;
                border-radius: 0 4px 4px 0;
            }

            @media (max-width: 419.99px) {
                input {
                    width: calc(100% - 100px);
                }

                button {
                    width: 100px;
                }
            }
        }
    }
}
/*
*** Section Newsletter Home4: End
*/
/*
*** Section Newsletter Home5: Start
*/
.section-newsletter.style-five {
    .double-slash {
        i {
            font-size: 46px;
            width: 25px;
            display: inline-block;
        }
    }

    .row {
        >div:last-child {
            >div:last-child {
                input {
                    width: 24px;
                    height: 24px;
                }

                >div {
                    padding-left: 12px;

                    a.text-on-surface {
                        &:hover {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
/*
*** Section Newsletter Home5: End
*/

/*
*** Section Newsletter Home7: Start
*/
.section-newsletter.style-seven {
    background-color: #0D0F44;
}
/*
*** Section Newsletter Home7: End
*/