/*
*** Section Service Home1: Start
*/
.section-service {
    .container {
        .service-item {
            transition: 0.3s;

            .heading6,
            i {
                transition: 0.3s;
            }

            &:hover {
                background-color: var(--blue);

                .heading6,
                i {
                    color: var(--white);
                }
            }
        }

        @media (min-width: 1024px) {
            .service-item {

                &:hover {
                    padding-left: 32px;
                }
            }
        }

        @media (max-width: 767.99px) {
            .row:first-child {
                >div:last-child {
                    text-align: left !important;
                }
            }
        }
    }
}

/*
*** Section Service Home1: End
*/