.section-testimonial {
    .row {
        >div {
            .testimonial-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;

                .content-main {
                    width: calc((100% - (4.5 / 11) * 100%));
                    padding: 40px 60px;
                }

                .bg-img {
                    width: calc((4.5 / 11) * 100%);
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                @media (max-width: 767.99px) {
                    flex-direction: column-reverse;

                    .content-main {
                        width: 100%;
                        padding: 24px 32px;
                    }

                    .bg-img {
                        position: relative;
                        width: 100%;
                    }
                }
            }
        }
    }

    &.style-two {
        .list-comment {
            .slick-list {
                margin-left: -15px;
                margin-right: -15px;

                .slick-track>div {
                    padding-left: 15px;
                    padding-right: 15px;

                    @media (max-width: 575.99px) {
                        .item {
                            padding: 24px 20px;

                            img {
                                width: 80px;
                                height: 80px;
                            }

                            .content {
                                .star {
                                    i {
                                        font-size: 14px;
                                    }
                                }

                                .mt-12 {
                                    margin-top: 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.style-five {
        .row {
            position: relative;
            width: 100%;
            margin-left: 0;
            margin-right: 0;

            >div {
                height: 100%;
                padding-left: 0;
                padding-right: 0;
            }

            .bg-img {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 50%;

                img {
                    object-fit: cover;
                }
            }

            .testimonial-item {
                padding: 144.5px 80px;

                .content-main {
                    padding: 0;
                    width: 100%;

                    .double-slash {
                        i {
                            font-size: 46px;
                            width: 25px;
                            display: inline-block;
                        }
                    }
                }
            }

            @media (max-width: 991.99px) {
                .testimonial-item {
                    padding: 60px 40px;
                }
            }

            @media (max-width: 575.99px) {
                .bg-img {
                    position: relative;
                    width: 100%;
                }

                .testimonial-item {
                    padding: 32px 24px;

                    .mt-24 {
                        margin-top: 16px;
                    }

                    .mt-16 {
                        margin-top: 12px;
                    }
                }
            }
        }
    }

    &.style-six {
        .list-comment {
            .slick-list {
                overflow: unset;
            }
        }

        .item {
            position: relative;
            cursor: pointer;
            transition: all linear 0.3s;

            .double-slash {
                position: absolute;
                right: 10px;
                bottom: 40px;
                opacity: 0;
                transition: all linear 0.3s;

                i {
                    font-size: 32px;
                }
            }

            &:hover {
                box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.10);

                .double-slash {
                    right: 32px;
                    opacity: 1;
                }
            }
        }
    }

    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        gap: 16px;

        @media (max-width:767.99px) {
            margin-top: 30px;
        }

        li {
            position: relative;
            border: none;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            button {
                display: none;
            }

            &::after {
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: transparent;
                border: 1px solid #171717;
                transition: 0.5s;
            }

            &.slick-active {
                border: 1px solid var(--on-surface);
                background-color: #fff;

                &::after {
                    background-color: var(--on-surface);
                    border: 1px solid var(--on-surface);
                }
            }
        }
    }
}

.testimonial-style-three {
    .section-testimonial {
        background-color: var(--yellow-surface);

        .col {
            .item {
                .star {
                    i.ph-star {
                        color: var(--yellow);
                    }
                }
            }
        }
    }
}