.section-case-studies {
    .container {
        >.row:last-child {
            margin-left: -24px;
            margin-right: -24px;

            >div {
                padding-left: 24px;
                padding-right: 24px;
                border-right: 1px solid var(--outline);

                &:nth-child(3) {
                    border-right: none;
                }
            }
        }

        @media (max-width: 991.99px) {
            >.row:last-child {
                >div {
                    &:nth-child(3) {
                        border-right: 1px solid var(--outline);
                    }

                    &:nth-child(2),
                    &:last-child {
                        border-right: none;
                    }

                    &:last-child {
                        >div {
                            display: block;
                        }
                    }
                }
            }
        }

        @media (max-width: 575.99px) {
            >.row:last-child {
                >div {
                    border-right: none;
                }
            }
        }
    }
}

.section-news.style-two {
    .container {
        >.row:last-child {
            >div {
                border-right: none;
            }
        }

        @media (max-width: 991.99px) {
            >.row:last-child {
                >div {
                    &:last-child {
                        >div {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.section-news.style-four {
    .container {
        >.row {
            >div {
                .bg-img {
                    position: relative;

                    .text-label {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                    }
                }
            }
        }
    }
}