/*
*** Section Industry Home4: Start
*/
.section-industry {
    .row {
        .col {
            .industry-item {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba($color: #000000, $alpha: 0.5);
                    opacity: 0;
                    visibility: hidden;
                    transition: all linear 0.3s;
                }

                .title {
                    position: absolute;
                    padding: 20px 46px 20px 20px;
                    bottom: 20px;
                    left: 20px;
                    right: 20px;
                    overflow: hidden;
                    transition: all linear 0.3s;

                    i {
                        font-size: 24px;
                        position: absolute;
                        right: -30px;
                        transition: all linear 0.3s;
                    }
                }

                &:hover {
                    &::before {
                        opacity: 1;
                        visibility: visible;
                    }

                    .title {
                        i {
                            right: 20px;
                        }
                    }
                }
            }
        }

        .slick-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
            gap: 16px;

            @media (max-width:767.99px) {
                margin-top: 30px;
            }

            li {
                position: relative;
                border: none;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                button {
                    display: none;
                }

                &::after {
                    content: "";
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: transparent;
                    border: 1px solid var(--white);
                    transition: 0.5s;
                }

                &.slick-active {
                    border: 1px solid var(--white);
                    background-color: var(--on-surface);

                    &::after {
                        background-color: var(--white);
                        border: 1px solid var(--white);
                    }
                }
            }
        }
    }
}

/*
*** Section Industry Home4: End
*/
/*
*** Section Industry Home5: Start
*/
.section-industry-five {
    background-attachment: fixed;
    background-image: url(../images/component/industry5.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .container>.row {
        padding-top: 265px;
        padding-bottom: 60px;

        >div:first-child {
            .play-block {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-color: var(--green);
                transition: all ease 0.3s;

                &:hover {
                    background-color: var(--white);

                    i {
                        color: var(--green);
                    }
                }
            }
        }

        >div:last-child {
            .nav-item {
                a {
                    position: relative;
                    transition: all ease 0.3s;

                    &::before {
                        position: absolute;
                        content: "";
                        bottom: 0;
                        left: 0;
                        background-color: var(--green);
                        height: 2px;
                        width: 0;
                        transition: all ease 0.3s;
                    }
                }

                &:hover {
                    a {
                        color: var(--on-surface);
                        margin-left: 8px;

                        &::before {
                            width: 100%;
                        }
                    }
                }
            }
        }

        @media (max-width: 991.99px) {
            padding-top: 140px;

            >div:first-child {
                .mt-24 {
                    margin-top: 16px;
                }

                .play-block {
                    width: 60px;
                    height: 60px;

                    i {
                        font-size: 24px;
                    }
                }
            }
        }

        @media (max-width: 575.99px) {
            padding-top: 80px;
            padding-bottom: 40px;

            >div:first-child {
                .mt-24 {
                    margin-top: 12px;
                }

                .play-block {
                    width: 50px;
                    height: 50px;

                    i {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    &.style-below {
        background-image: url(../images/component/industry5-below.png);
    }
}

/*
*** Section Industry Home5: End
*/