.section-contact {
    .container {
        .form-block {
            .row {
                >div:nth-child(1) {
                    padding-right: 6px;
                }

                >div:nth-child(2) {
                    padding-left: 6px;
                }

                >div:nth-child(6) {
                    position: relative;

                    i {
                        position: absolute;
                        bottom: 13px;
                        right: 26px;
                        font-size: 18px;
                    }
                }

                @media (max-width: 576px) {
                    >div:nth-child(1) {
                        padding-right: calc(var(--bs-gutter-x) * .5);
                    }

                    >div:nth-child(2) {
                        padding-left: calc(var(--bs-gutter-x) * .5);
                    }
                }
            }
        }
    }

    &.style-three {
        .list-infor {
            a {
                text-decoration: underline;
            }
        }
    }
}