/*
*** Section Success Stories Home6: Start
*/
.section-success-stories {
    .row {
        >div {
            .item {
                position: relative;

                .title {
                    position: absolute;
                    left: 20px;
                    right: 20px;
                    bottom: 20px;
                    background: rgba(247, 243, 249, 0.70);
                    backdrop-filter: blur(4px);
                }
            }
        }
    }
}
/*
*** Section Success Stories Home6: End
*/