.section-newsletter {
    .row {
        .block-input {
            input {
                border-radius: 4px 0 0 4px;
                height: 48px;
                width: calc(100% - 128px);
            }

            button {
                height: 48px;
                width: 128px;
                border-radius: 0 4px 4px 0;
            }

            @media (max-width: 419.99px) {
                input {
                    width: calc(100% - 100px);
                }
    
                button {
                    width: 100px;
                }
            }
        }
    }
}