.section-banner {
    background-color: var(--blue);

    .list {
        display: flex;
        width: calc((603px + 435.5px) * 2 + 120px * 4 + 25.3px * 4);
        overflow: hidden;
        animation: scroll 20s linear infinite;
        padding: 28px 0;

        .heading4 {
            margin: 0 60px;
            white-space: nowrap;
        }
    }

    &.style-two {
        .list {
            width: calc((253.89px + 562.78px + 546px) * 2 + 120px * 6 + 25.3px * 6);
            animation: scroll2 20s linear infinite;
        }
    }
}

.banner-style-three {
    .section-banner {
        background-color: var(--yellow);

        .list {
            width: calc((800.17px + 704.23px) * 2 + 120px * 4 + 25.3px * 4);
            animation: scroll3 20s linear infinite;

            i {
                &::before {
                    color: var(--on-surface);
                }
            }
        }
    }
}

.banner-style-four {
    .section-banner {
        background-color: var(--pink);

        .list {
            width: calc((657px + 547px) * 2 + 120px * 4 + 25.3px * 4);
            animation: scroll3 20s linear infinite;
        }
    }
}

.section-banner.style-six {
    background-color: var(--white);

    .heading1 {
        color: #DDD5E1;
        letter-spacing: 8px;
        padding-right: 60px;
    }
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(((603px + 435.5px) * 2 + 120px * 4 + 25.3px * 4) * -0.32));
    }
}

@keyframes scroll2 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(((253.89px + 562.78px + 546px) * 2 + 120px * 6 + 25.3px * 6) * -0.32));
    }
}

@keyframes scroll3 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(((800.17px + 704.23px) * 2 + 120px * 4 + 25.3px * 4) * -0.32));
    }
}