/*
*** Main class used in ByteWave: Start
*/
.heading1 {
    color: var(--on-surface);
    font-family: 'Instrument Sans', sans-serif;
    font-size: 80px;
    font-weight: 600;
    line-height: 88px;
    text-transform: capitalize;
}

.heading2 {
    color: var(--on-surface);
    font-family: 'Instrument Sans', sans-serif;
    font-size: 56px;
    font-weight: 600;
    line-height: 68px;
    text-transform: capitalize;
}

.heading3 {
    color: var(--on-surface);
    font-family: 'Instrument Sans', sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 52px;
    text-transform: capitalize;
}

.heading4 {
    color: var(--on-surface);
    font-family: 'Instrument Sans', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-transform: capitalize;
}

.heading5 {
    color: var(--on-surface);
    font-family: 'Instrument Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-transform: capitalize;
}

.heading6 {
    color: var(--on-surface);
    font-family: 'Instrument Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-transform: capitalize;
}

.body1 {
    font-size: 20px;
    line-height: 30px;
}

.body2 {
    font-size: 18px;
    line-height: 28px;
}

.text-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-transform: capitalize;
}

.caption1 {
    font-size: 14px;
    line-height: 22px;
}

.caption2 {
    font-size: 12px;
    line-height: 20px;
}

.text-label {
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

[class^="button-"],
[class*=" button-"] {
    display: inline-flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    // text
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: capitalize;
    transition: all ease 0.4s;
    cursor: pointer;
}

.button {
    border: 1px solid var(--on-surface);
    color: var(--on-surface);
    display: inline-flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    // text
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: capitalize;
    transition: all ease 0.4s;
}

.button-disabled {
    background: var(--line);
    color: var(--on-surface-variant2);
}

.button-blue {
    background: var(--blue);
    color: var(--white);
}

.button-blue-hover {
    &:hover {
        background: var(--secondary);
        color: var(--white);
    }
}

.button-yellow-hover {
    &:hover {
        background-color: #ebb41d;
    }
}

.button-pink-hover {
    &:hover {
        background-color: #bd1476;
    }
}

.button-green-hover {
    &:hover {
        background-color: #00ff40;
    }
}

.button-purple-hover {
    &:hover {
        background-color: #5700c9;
    }
}

.text-button {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: capitalize;
}

.text-button-small {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.text-blue {
    color: var(--blue);
}

.text-yellow {
    color: var(--yellow);
}

.text-pink {
    color: var(--pink);
}

.text-green {
    color: var(--green);
}

.text-purple {
    color: var(--purple);
}

.text-white {
    color: var(--white);
}

.text-on-surface {
    color: var(--on-surface);
}

.text-critical {
    color: var(--critical);
}

.text-on-surface-variant1 {
    color: var(--on-surface-variant1);
}

.text-on-surface-variant2 {
    color: var(--on-surface-variant2);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-blue-surface {
    background-color: var(--blue-surface);
}

.bg-on-surface {
    background-color: var(--on-surface);
}

.bg-black-surface {
    background-color: var(--black-surface);
}

.bg-outline {
    background-color: var(--outline);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-pink {
    background-color: var(--pink);
}

.bg-green {
    background-color: var(--green);
}

.bg-purple {
    background-color: var(--purple);
}

.bg-critical {
    background-color: var(--critical);
}

.bg-black-10percents {
    background-color: rgba($color: #000000, $alpha: 0.1);
}

.bg-breadcrum {
    background-color: #EFF0F3;
}

.bg-linear {
    background: linear-gradient(225deg, #FAF7EF 0%, #F4F6FC 100%);
}

.bg-linear-gradient {
    background: linear-gradient(180deg, #FAF7EF 65%, #FFFFFF 100%);
}

.bg-linear-grey {
    background: linear-gradient(46deg, #414E62 53.13%, #805D5D 100%);
}

.bg-linear-pink {
    background: linear-gradient(46deg, #231A87 0%, #E13789 100%);
}

.bg-linear-purple {
    background: linear-gradient(180deg, #F5ECF9 0%, rgba(243, 242, 240, 0.00) 100%);
}

.bg-white {
    background-color: var(--white);
}

.bg-yellow-surface {
    background-color: var(--yellow-surface);
}

.bg-surface {
    background-color: var(--surface);
}

.bg-grey {
    background-color: var(--grey);
}

.bg-outline {
    background-color: var(--outline);
}

.col-xl-2-4 {
    @media (min-width: 1200px) {
        flex: 0 0 auto;
        width: 20%;
    }
}

.col-2-4 {
    flex: 0 0 auto;
    width: 20%;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-item-center {
    display: flex;
    align-items: center;
}

.flex-column-item-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-column-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gap-60 {
    gap: 60px;
}

.gap-40 {
    gap: 40px;
}

.gap-32 {
    gap: 32px;
}

.gap-24 {
    gap: 24px;
}

.gap-20 {
    gap: 20px;
}

.gap-16 {
    gap: 16px;
}

.gap-12 {
    gap: 12px;
}

.gap-10 {
    gap: 10px;
}

.gap-8 {
    gap: 8px;
}

.gap-4 {
    gap: 4px !important;
}

.row-gap-60 {
    row-gap: 60px;
}

.row-gap-40 {
    row-gap: 40px;
}

.row-gap-32 {
    row-gap: 32px;
}

.row-gap-24 {
    row-gap: 24px;
}

.row-gap-20 {
    row-gap: 20px;
}

.row-gap-16 {
    row-gap: 16px;
}

.row-gap-12 {
    row-gap: 12px;
}

.row-gap-8 {
    row-gap: 8px;
}

.fs-64 {
    font-size: 64px;
}

.fs-60 {
    font-size: 60px;
}

.fs-48 {
    font-size: 48px;
}

.fs-42 {
    font-size: 42px;
}

.fs-36 {
    font-size: 36px;
}

.fs-32 {
    font-size: 32px;
}

.fs-28 {
    font-size: 28px;
}

.fs-24 {
    font-size: 24px;
}

.fs-20 {
    font-size: 20px;
}

.fs-18 {
    font-size: 18px;
}

.fs-14 {
    font-size: 14px;
}

.fs-12 {
    font-size: 12px;
}

.fw-700 {
    font-weight: 700;
}

.fw-600 {
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}

.fw-400 {
    font-weight: 400;
}

.p-80 {
    padding: 80px;
}

.p-60 {
    padding: 60px;
}

.p-40 {
    padding: 40px;
}

.p-32 {
    padding: 32px;
}

.p-28 {
    padding: 28px;
}

.p-24 {
    padding: 24px;
}

.p-20 {
    padding: 20px;
}

.p-16 {
    padding: 16px;
}

.p-12 {
    padding: 12px;
}

.p-8 {
    padding: 8px;
}

.p-4 {
    padding: 4px !important;
}

.p-1 {
    padding: 1px !important;
}

.pr-125 {
    padding-right: 125px;
}

.pr-80 {
    padding-right: 80px;
}

.pr-65 {
    padding-right: 65px;
}

.pr-60 {
    padding-right: 60px;
}

.pr-55 {
    padding-right: 55px;
}

.pr-45 {
    padding-right: 45px;
}

.pr-40 {
    padding-right: 40px;
}

.pr-36 {
    padding-right: 36px;
}

.pr-32 {
    padding-right: 32px;
}

.pr-28 {
    padding-right: 28px;
}

.pr-24 {
    padding-right: 24px;
}

.pr-20 {
    padding-right: 20px;
}

.pr-16 {
    padding-right: 16px;
}

.pr-12 {
    padding-right: 12px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-8 {
    padding-right: 8px;
}

.pr-4 {
    padding-right: 4px !important;
}

.pr-0 {
    padding-right: 0;
}

.pl-0 {
    padding-left: 0;
}

.pl-125 {
    padding-left: 125px;
}

.pl-80 {
    padding-left: 80px;
}

.pl-65 {
    padding-left: 65px;
}

.pl-60 {
    padding-left: 60px;
}

.pl-55 {
    padding-left: 55px;
}

.pl-45 {
    padding-left: 45px;
}

.pl-40 {
    padding-left: 40px;
}

.pl-36 {
    padding-left: 36px;
}

.pl-32 {
    padding-left: 32px;
}

.pl-28 {
    padding-left: 28px;
}

.pl-24 {
    padding-left: 24px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-16 {
    padding-left: 16px;
}

.pl-12 {
    padding-left: 12px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-8 {
    padding-left: 8px;
}

.pl-4 {
    padding-left: 4px !important;
}

.pr-col-lg-0 {
    @media (max-width: 991.99px) {
        padding-right: 15px;
    }
}

.pl-col-lg-0 {
    @media (max-width: 991.99px) {
        padding-left: 15px;
    }
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-36 {
    padding-bottom: 36px;
}

.pb-32 {
    padding-bottom: 32px;
}

.pb-28 {
    padding-bottom: 28px;
}

.pb-24 {
    padding-bottom: 24px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-16 {
    padding-bottom: 16px;
}

.pb-14 {
    padding-bottom: 14px;
}

.pb-12 {
    padding-bottom: 12px;
}

.pb-8 {
    padding-bottom: 8px;
}

.pb-6 {
    padding-bottom: 6px;
}

.pb-4 {
    padding-bottom: 4px !important;
}

.pt-80 {
    padding-top: 80px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-36 {
    padding-top: 36px;
}

.pt-32 {
    padding-top: 32px;
}

.pt-28 {
    padding-top: 28px;
}

.pt-24 {
    padding-top: 24px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-16 {
    padding-top: 16px;
}

.pt-14 {
    padding-top: 14px;
}

.pt-12 {
    padding-top: 12px;
}

.pt-8 {
    padding-top: 8px;
}

.pt-6 {
    padding-top: 6px;
}

.pt-4 {
    padding-top: 4px !important;
}

.ml-65 {
    margin-left: 65px;
}

.ml-40 {
    margin-left: 40px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-col-lg-0 {
    @media (max-width: 991.99px) {
        margin-left: 0;
    }
}

.mt-80 {
    margin-top: 80px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-36 {
    margin-top: 36px;
}

.mt-32 {
    margin-top: 32px;
}

.mt-28 {
    margin-top: 28px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-4 {
    margin-top: 4px !important;
}

.mb-24 {
    margin-bottom: 24px;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.display-inline-flex {
    display: inline-flex;
}

.hidden {
    visibility: hidden;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.w-120 {
    width: 120px;
}

.h-120 {
    height: 120px;
}

.w-80 {
    width: 80px;
}

.h-80 {
    height: 80px;
}

.w-60 {
    width: 60px;
}

.h-60 {
    height: 60px;
}

.w-48 {
    width: 48px;
}

.h-48 {
    height: 48px;
}

.w-40 {
    width: 40px;
}

.h-40 {
    height: 40px;
}

.bora-50 {
    border-radius: 50%;
}

.bora-99 {
    border-radius: 99px;
}

.bora-32 {
    border-radius: 32px;
}

.bora-28 {
    border-radius: 28px;
}

.bora-24 {
    border-radius: 24px;
}

.bora-20 {
    border-radius: 20px;
}

.bora-16 {
    border-radius: 16px;
}

.bora-12 {
    border-radius: 12px;
}

.bora-8 {
    border-radius: 8px;
}

.bora-4 {
    border-radius: 4px;
}

.bora-2 {
    border-radius: 2px;
}

.border-line {
    width: 100%;
    height: 1px;
    background-color: var(--outline);
}

.border-line-y {
    width: 1px;
    height: 100%;
    background-color: var(--outline);
}

.line {
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.border-none {
    border: none;
}

.border-transparent {
    border: 1px solid transparent;
}

.border-outline {
    border: 1px solid var(--outline);
}

.border-on-surface {
    border: 1px solid var(--on-surface);
}

.border-underline-outline {
    border-bottom: 1px solid var(--outline);
}

.border-underline-blue {
    border-bottom: 1px solid var(--blue);
}

.border-underline-blue-2px {
    border-bottom: 2px solid var(--blue);
}

.border-underline-on-surface-2px {
    border-bottom: 2px solid var(--on-surface);
}

.border-underline-white-2px {
    border-bottom: 2px solid var(--white);
}

.border-underline-yellow-2px {
    border-bottom: 2px solid var(--yellow);
}

.border-underline-pink-2px {
    border-bottom: 2px solid var(--pink);
}

.border-underline-green-2px {
    border-bottom: 2px solid var(--green);
}

.border-underline-purple-2px {
    border-bottom: 2px solid var(--purple);
}

.hover-underline {
    &:hover {
        text-decoration: underline;
    }
}

.hover-button-blue {
    transition: all ease 0.3s;

    &:hover {
        background-color: var(--blue);
        color: var(--white);
        border-color: transparent;
    }
}

.hover-button-black {
    transition: all ease 0.3s;

    &:hover {
        background-color: var(--on-surface);
        color: var(--white);
    }
}

.hover-boxshadow {
    transition: 0.3s;

    &:hover {
        box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.15);
    }
}

.pointer {
    cursor: pointer;
}

.object-fit-cover {
    object-fit: cover;
}

/*
*** Main class used in ByteWave: End
*/