
<div id="popup-newsletter-block">
  <div class="popup-newsletter-main">
    <div class="bg-img"> <img class="w-100 h-100" src="assets/images/component/bg-popup-newsletter.png" alt=""/></div>
    <div class="content"> 
      <div class="close-block text-end"><i class="ph-bold ph-x d-block fs-18 pointer"></i></div>
      <div class="heading4">Get Our Newsletter</div>
      <div class="caption1 text-on-surface-variant1 mt-16">Gain access to in-depth articles and analysis from our team of IT experts.</div>
      <form class="mt-32">
        <div class="form-input">
          <input type="text" placeholder="Email"/>
          <button><i class="ph ph-paper-plane-tilt text-on-surface-variant1"></i></button>
        </div>
        <div class="flex-item-center gap-8 mt-12">
          <input class="prevent-popup-input" type="checkbox" name="prevent"/>
          <div class="caption1 text-on-surface-variant1">Prevent this Pop-up</div>
        </div>
      </form>
    </div>
  </div>
</div>