
<div class="section-about style-seven-first"> 
  <div class="container"> 
    <div class="row row-gap-40 p-80">
      <div class="col-12 col-lg-6 pr-65 pr-col-lg-0">
        <div class="heading3">100 Years Of History Serving The Poconos Region</div>
        <div class="bg-img mt-28 video-block"><img class="w-100" src="assets/images/component/about3.png" alt=""/><i class="ph-fill ph-play text-white fs-28 bg-on-surface bora-50 flex-center"></i>
          <div class="text-title text-white">Tony Nguyen, CEO, Bytewave</div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="content p-40">
          <div class="heading3">Unlock your financial potential today!</div>
          <div class="list-feature mt-28">
            <div class="d-flex"> <i class="ph ph-check text-blue fs-20 pt-4"></i>
              <div class="text-title pl-8">Supported by experienced financial experts.</div>
            </div>
            <div class="d-flex mt-24"><i class="ph ph-check text-blue fs-20 pt-4"></i>
              <div class="text-title pl-8">Optimizing investment portfolios and assets.</div>
            </div>
            <div class="d-flex mt-24"><i class="ph ph-check text-blue fs-20 pt-4"></i>
              <div class="text-title pl-8">Building stable financial plans for the future.</div>
            </div>
            <div class="d-flex mt-24"><i class="ph ph-check text-blue fs-20 pt-4"></i>
              <div class="text-title pl-8">Ensuring financial security through suitable insurance.</div>
            </div>
            <div class="d-flex mt-24"><i class="ph ph-check text-blue fs-20 pt-4"></i>
              <div class="text-title pl-8">Supported by experienced financial experts.</div>
            </div>
            <div class="block-button mt-36"><a class="button bg-blue button-blue-hover text-white border-none" href="#!">Our Services</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>