
<div class="section-newsletter style-five style-seven pt-80 pb-80"> 
  <div class="container">
    <div class="row row-gap-32 flex-between">
      <div class="col-lg-6 col-12">
        <div class="heading3 text-white">Receive the top blog stories directly in your inbox</div>
      </div>
      <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-12">
        <div class="block-input flex-item-center">
          <input class="border-transparent bg-surface text-button fw-500 pl-16 pr-16" type="text" placeholder="Enter your e-mail"/>
          <button class="bg-blue text-button button-blue-hover text-white border-none">Subscribe</button>
        </div>
        <div class="flex-item-center mt-24">
          <input type="checkbox" name="newsletter"/>
          <div class="text-white">I have read the <a class="text-white" href="#!">Privacy Policy </a><span class="text-white">and agree to its terms</span></div>
        </div>
      </div>
    </div>
  </div>
</div>