
<div class="section-solution style-seven pt-80 pb-80">
  <div class="container text-center">
    <div class="text-label bg-blue text-white pt-4 pb-4 pl-12 pr-12 display-inline-block">How we do</div>
    <div class="heading3 text-center mt-20">Your Trusted Help Desk Partner</div>
    <div class="row mt-40 row-gap-32">
      <div class="col-12 col-xl-4 col-sm-6">
        <div class="solution-item p-40 bora-20 bg-white h-100 border-outline"><a class="main-item flex-column-item-center" href="#!"><i class="icon-phone-sync fs-60"></i>
            <div class="heading5 text-center mt-24">Managed IT Services</div>
            <div class="text-on-surface-variant1 text-center mt-12">Outsourcing IT management and maintenance, including network monitoring, data backup, cybersecurity, help desk support.</div></a>
        </div>
      </div>
      <div class="col-12 col-xl-4 col-sm-6">
        <div class="solution-item p-40 bora-20 bg-white h-100 border-outline"><a class="main-item flex-column-item-center" href="#!"><i class="icon-user-sync fs-60"></i>
            <div class="heading5 text-center mt-24">IT Consulting</div>
            <div class="text-on-surface-variant1 text-center mt-12">Strategic guidance on IT strategy, digital transformation, software implementation, and project management.</div></a>
        </div>
      </div>
      <div class="col-12 col-xl-4 col-sm-6">
        <div class="solution-item p-40 bora-20 bg-white h-100 border-outline"><a class="main-item flex-column-item-center" href="#!"><i class="icon-device-cloud fs-60"></i>
            <div class="heading5 text-center mt-24">Cloud Computing</div>
            <div class="text-on-surface-variant1 text-center mt-12">Access to remote servers and infrastructure for data storage, application hosting, and scalable resources.</div></a>
        </div>
      </div>
    </div>
  </div>
</div>