
<div class="section-banner style-two">
  <div class="list">
    <div class="heading4 text-uppercase">Discover the Power of IoT for Your Business</div><i class="icon-icon-logo fs-36"></i>
    <div class="heading4 text-uppercase">Ignite Your Business with IoT Solutions</div><i class="icon-icon-logo fs-36"></i>
    <div class="heading4 text-uppercase">Discover the Power of IoT for Your Business</div><i class="icon-icon-logo fs-36"></i>
    <div class="heading4 text-uppercase">Ignite Your Business with IoT Solutions</div><i class="icon-icon-logo fs-36"></i>
  </div>
</div>