
<div class="section-benefit bg-white pt-80 pb-80">
  <div class="container"> 
    <div class="row row-gap-40">
      <div class="col-12 col-lg-3 col-sm-6">
        <div class="benefit-item ">
          <div class="block-icon"> <i class="ph ph-headset fs-42"></i></div>
          <div class="heading6 mt-8">Trusted Advisor</div>
          <div class="text-on-surface-variant1 mt-8">We are hardware and software agnostic, which means customers always get the right solutions for their needs. </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-sm-6">
        <div class="benefit-item ">
          <div class="block-icon"> <i class="ph ph-users-three fs-42"></i></div>
          <div class="heading6 mt-8">Team Augmentation</div>
          <div class="text-on-surface-variant1 mt-8">We want to make your life easier, period. Think of us as an extremely experienced and reliable extension of your team.</div>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-sm-6">
        <div class="benefit-item ">
          <div class="block-icon"> <i class="ph ph-rocket fs-42"></i></div>
          <div class="heading6 mt-8">Digital Innovation</div>
          <div class="text-on-surface-variant1 mt-8">Technology changes, which means there are more possibilities every day. With that in mind, we are always learning and adding to our solutions.</div>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-sm-6">
        <div class="benefit-item ">
          <div class="block-icon"> <i class="ph ph-crown fs-42"></i></div>
          <div class="heading6 mt-8">Faith-Based Morality</div>
          <div class="text-on-surface-variant1 mt-8">At Bytewave, we work as we live, guided by principles that encourage honesty, transparency, and doing right unto others.</div>
        </div>
      </div>
    </div>
  </div>
</div>