
<div class="section-industry bg-on-surface pt-80 pb-80"> 
  <div class="heading3 text-center text-white">Industry</div>
  <div class="text-center text-white mt-8">Empowering Your Success Through Expert Consulting Services</div>
  <div class="row row-gap-24 mt-40 list-industry">
    <div class="col"><a class="industry-item" href="#!">
        <div class="bg-img"> <img class="w-100 h-100 display-block" src="assets/images/industry/1.png" alt=""/></div>
        <div class="title bg-white flex-between">
          <div class="heading5">Healthcare & Pharmaceuticals</div><i class="ph ph-arrow-right"></i>
        </div></a></div>
    <div class="col"><a class="industry-item" href="#!">
        <div class="bg-img"> <img class="w-100 h-100 display-block" src="assets/images/industry/2.png" alt=""/></div>
        <div class="title bg-white flex-between">
          <div class="heading5">Transportation & Logistics</div><i class="ph ph-arrow-right"></i>
        </div></a></div>
    <div class="col"><a class="industry-item" href="#!">
        <div class="bg-img"> <img class="w-100 h-100 display-block" src="assets/images/industry/3.png" alt=""/></div>
        <div class="title bg-white flex-between">
          <div class="heading5">Finance & Banking</div><i class="ph ph-arrow-right"></i>
        </div></a></div>
    <div class="col"><a class="industry-item" href="#!">
        <div class="bg-img"> <img class="w-100 h-100 display-block" src="assets/images/industry/4.png" alt=""/></div>
        <div class="title bg-white flex-between">
          <div class="heading5">Manufacturing & Industry 4.0</div><i class="ph ph-arrow-right"></i>
        </div></a></div>
    <div class="col"><a class="industry-item" href="#!">
        <div class="bg-img"> <img class="w-100 h-100 display-block" src="assets/images/industry/6.png" alt=""/></div>
        <div class="title bg-white flex-between">
          <div class="heading5">Energy & Environment</div><i class="ph ph-arrow-right"></i>
        </div></a></div>
    <div class="col"><a class="industry-item" href="#!">
        <div class="bg-img"> <img class="w-100 h-100 display-block" src="assets/images/industry/5.png" alt=""/></div>
        <div class="title bg-white flex-between">
          <div class="heading5">E-commerce & Retail</div><i class="ph ph-arrow-right"></i>
        </div></a></div>
  </div>
</div>