
<div class="section-news style-three pt-80 pb-80">
  <div class="container"> 
    <div class="heading text-center">
      <div class="heading3">Last News</div>
      <div class="mt-8">Empowering Your Success Through Expert Consulting Services</div>
    </div>
    <div class="row row-gap-32 mt-40">
      <div class="col-12 col-lg-6"><a class="blog-item-main" href="#!">
          <div class="bg-img w-100 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/blog/item7.png"/></div>
          <div class="infor">
            <div class="text-button-small bg-yellow pt-4 pb-4 pl-12 pr-12 display-inline-block mt-28">Industry</div>
            <div class="heading4 mt-12">What cyber trust mark means for IoT data protection</div>
            <div class="text-label text-on-surface-variant1 mt-12">February 21, 2023</div>
          </div></a></div>
      <div class="list-blog-related col-12 col-lg-6 d-flex flex-column row-gap-32"><a class="row row-gap-24" href="#!">
          <div class="col-12 col-sm-4 pr-12">
            <div class="bg-img overflow-hidden"><img class="w-100 display-block" src="assets/images/blog/item1.png" alt=""/></div>
          </div>
          <div class="infor col-12 col-sm-8 pl-12">
            <div class="text-button-small bg-yellow pt-4 pb-4 pl-12 pr-12 display-inline-block">Healthcare</div>
            <div class="heading6 mt-8">Moving toward a sustainable future with IoT-driven solar energy systems</div>
            <div class="text-label text-on-surface-variant1 mt-4">February 22, 2023</div>
          </div></a><a class="row row-gap-24" href="#!">
          <div class="col-12 col-sm-4 pr-12">
            <div class="bg-img overflow-hidden"><img class="w-100 display-block" src="assets/images/blog/item8.png" alt=""/></div>
          </div>
          <div class="infor col-12 col-sm-8 pl-12">
            <div class="text-button-small bg-yellow pt-4 pb-4 pl-12 pr-12 display-inline-block">Logistics</div>
            <div class="heading6 mt-8">Why IoT is emerging as next key technology for businesses</div>
            <div class="text-label text-on-surface-variant1 mt-4">February 23, 2023</div>
          </div></a><a class="row row-gap-24" href="#!">
          <div class="col-12 col-sm-4 pr-12">
            <div class="bg-img overflow-hidden"><img class="w-100 display-block" src="assets/images/blog/item9.png" alt=""/></div>
          </div>
          <div class="infor col-12 col-sm-8 pl-12">
            <div class="text-button-small bg-yellow pt-4 pb-4 pl-12 pr-12 display-inline-block">Manufacturing</div>
            <div class="heading6 mt-8">Public transport investment: A viable and sustainable route to economic recovery?</div>
            <div class="text-label text-on-surface-variant1 mt-4">February 24, 2023</div>
          </div></a><a class="row row-gap-24" href="#!">
          <div class="col-12 col-sm-4 pr-12">
            <div class="bg-img overflow-hidden"><img class="w-100 display-block" src="assets/images/blog/item10.png" alt=""/></div>
          </div>
          <div class="infor col-12 col-sm-8 pl-12">
            <div class="text-button-small bg-yellow pt-4 pb-4 pl-12 pr-12 display-inline-block">Technology</div>
            <div class="heading6 mt-8">Connecting DOTs with IoT for intelligent transportation systems</div>
            <div class="text-label text-on-surface-variant1 mt-4">February 24, 2023</div>
          </div></a></div>
    </div>
  </div>
</div>
<div class="bg-white">
  <div class="container">
    <div class="border-line"></div>
  </div>
</div>