.section-case-studies .container .list-news,
.section-news .container .list-news {
  margin-left: -24px;
  margin-right: -23px;
}
.section-case-studies .container .list-news .item,
.section-news .container .list-news .item {
  padding-left: 24px;
  padding-right: 24px;
  border-right: 1px solid var(--outline);
}
.section-case-studies .container .slick-dots,
.section-news .container .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 16px;
}
@media (max-width: 767.99px) {
  .section-case-studies .container .slick-dots,
  .section-news .container .slick-dots {
    margin-top: 30px;
  }
}
.section-case-studies .container .slick-dots li,
.section-news .container .slick-dots li {
  position: relative;
  border: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.section-case-studies .container .slick-dots li button,
.section-news .container .slick-dots li button {
  display: none;
}
.section-case-studies .container .slick-dots li::after,
.section-news .container .slick-dots li::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #171717;
  transition: 0.5s;
}
.section-case-studies .container .slick-dots li.slick-active,
.section-news .container .slick-dots li.slick-active {
  border: 1px solid var(--on-surface);
  background-color: #fff;
}
.section-case-studies .container .slick-dots li.slick-active::after,
.section-news .container .slick-dots li.slick-active::after {
  background-color: var(--on-surface);
  border: 1px solid var(--on-surface);
}
@media (max-width: 991.99px) {
  .section-case-studies .container > .row:last-child > div:nth-child(3),
  .section-news .container > .row:last-child > div:nth-child(3) {
    border-right: 1px solid var(--outline);
  }
  .section-case-studies .container > .row:last-child > div:nth-child(2), .section-case-studies .container > .row:last-child > div:last-child,
  .section-news .container > .row:last-child > div:nth-child(2),
  .section-news .container > .row:last-child > div:last-child {
    border-right: none;
  }
  .section-case-studies .container > .row:last-child > div:last-child > div,
  .section-news .container > .row:last-child > div:last-child > div {
    display: block;
  }
}
@media (max-width: 575.99px) {
  .section-case-studies .container > .row:last-child > div,
  .section-news .container > .row:last-child > div {
    border-right: none;
  }
}

.section-news.style-two .container > .row:last-child > div {
  border-right: none;
}
@media (max-width: 991.99px) {
  .section-news.style-two .container > .row:last-child > div:last-child > div {
    display: block;
  }
}

.section-news.style-four .container .list-news {
  margin-left: -15px;
  margin-right: -15px;
}
.section-news.style-four .container .list-news .item {
  padding-left: 15px;
  padding-right: 15px;
  border-right: none;
  height: 100%;
}
.section-news.style-four .container .list-news .item .bg-img {
  position: relative;
}
.section-news.style-four .container .list-news .item .bg-img .text-label {
  position: absolute;
  left: 0;
  bottom: 0;
}

.section-news.style-six {
  background-color: #F7F3F9;
}
.section-news.style-six .bg-pink {
  background-color: var(--purple);
}