/*
*** Section Solution Home1,2: Start
*/
.section-solution .solution-item {
  transition: 0.3s;
}
.section-solution .solution-item .heading5,
.section-solution .solution-item .text-on-surface-variant1 {
  transition: 0.3s;
}
.section-solution .solution-item:hover {
  box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.15);
}
.section-solution .solution-item:hover .heading5 {
  color: var(--blue);
}
.section-solution .solution-item:hover .text-on-surface-variant1 {
  text-decoration: underline;
}

/*
*** Section Solution Home1,2: End
*/
/*
*** Section Solution Home3: Start
*/
.section-solution.style-three .solution-item:hover {
  box-shadow: none;
}
.section-solution.style-three .solution-item:hover .heading5 {
  color: var(--yellow);
}

/*
*** Section Solution Home3: End
*/
/*
*** Section Solution Home4: Start
*/
.section-solution.style-four .solution-item:hover .heading5 {
  color: var(--pink);
}

/*
*** Section Solution Home4: End
*/
/*
*** Section Solution Home5: Start
*/
.section-solution.style-five .container > .row {
  margin-left: 0;
  margin-right: 0;
}
.section-solution.style-five .container > .row > div {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  border-right: 1px solid var(--outline);
}
.section-solution.style-five .container > .row > div:last-child {
  border-right: none;
}
.section-solution.style-five .container > .row > div .double-slash {
  position: absolute;
  top: -16px;
  right: 30px;
  transition: all linear 0.3s;
  opacity: 0;
}
.section-solution.style-five .container > .row > div .double-slash i {
  font-size: 46px;
  width: 25px;
  display: inline-block;
}
.section-solution.style-five .container > .row > div .solution-item .heading5 {
  transition: all linear 0.3s;
}
.section-solution.style-five .container > .row > div:hover {
  cursor: pointer;
}
.section-solution.style-five .container > .row > div:hover .double-slash {
  opacity: 1;
  right: 40px;
}
.section-solution.style-five .container > .row > div:hover .solution-item .heading5 {
  color: var(--green);
  text-decoration: underline;
}
.section-solution.style-five .container > .row > div:hover .solution-item .text-on-surface-variant1 {
  text-decoration: none;
}

/*
*** Section Solution Home5: End
*/
/*
*** Section Solution Home6: Start
*/
.section-solution.style-six .row > div .solution-item {
  border-right: 1px solid var(--outline);
  transition: all linear 0.3s;
}
.section-solution.style-six .row > div .solution-item:hover {
  box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.1);
}
.section-solution.style-six .row > div .solution-item:hover .heading5 {
  color: var(--purple);
}
.section-solution.style-six .row > div .solution-item:hover .text-on-surface-variant1 {
  text-decoration: none;
}

/*
*** Section Solution Home6: End
*/
/*
*** Section Solution Home7: Start
*/
.section-solution.style-seven .solution-item .heading5 {
  position: relative;
}
.section-solution.style-seven .solution-item .heading5::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  opacity: 0;
  background-color: var(--on-surface);
  transition: all ease 0.2s;
}
.section-solution.style-seven .solution-item:hover .heading5 {
  color: var(--on-surface);
}
.section-solution.style-seven .solution-item:hover .heading5::before {
  opacity: 1;
}
.section-solution.style-seven .solution-item:hover .text-on-surface-variant1 {
  text-decoration: none;
}
@media (max-width: 1199.99px) {
  .section-solution.style-seven .container > .row {
    justify-content: center;
  }
}

/*
*** Section Solution Home7: End
*/