.section-newsletter .row .block-input input {
  border-radius: 4px 0 0 4px;
  height: 48px;
  width: calc(100% - 128px);
}
.section-newsletter .row .block-input button {
  height: 48px;
  width: 128px;
  border-radius: 0 4px 4px 0;
}
@media (max-width: 419.99px) {
  .section-newsletter .row .block-input input {
    width: calc(100% - 100px);
  }
  .section-newsletter .row .block-input button {
    width: 100px;
  }
}
.section-newsletter.style-five .double-slash i {
  font-size: 46px;
  width: 25px;
  display: inline-block;
}
.section-newsletter.style-five .row > div:last-child > div:last-child input {
  width: 24px;
  height: 24px;
}
.section-newsletter.style-five .row > div:last-child > div:last-child > div {
  padding-left: 12px;
}
.section-newsletter.style-five .row > div:last-child > div:last-child > div a.text-on-surface:hover {
  text-decoration: underline;
  cursor: pointer;
}