/*
*** Section Benefit: Start
*/
/*
*** Section Benefit Main: Start
*/
.section-benefit .benefit-item .block-icon i {
  transition: all linear 0.3s;
}
.section-benefit .benefit-item:hover .block-icon i {
  transform: rotateY(360deg);
}

/*
*** Section Benefit Main: End
*/
/*
*** Section Benefit Home4: Start
*/
.section-benefit.style-four .cta-block a.button.bg-white:hover {
  background-color: var(--on-surface);
  color: var(--white);
}
@media (max-width: 1169.99px) {
  .section-benefit.style-four .container > .row > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
  }
}
@media (max-width: 575.99px) {
  .section-benefit.style-four .container > .row {
    align-items: flex-start;
  }
  .section-benefit.style-four .container > .row > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section-benefit.style-four .container > .row > div > div .heading6 {
    text-align: center;
  }
}
@media (max-width: 767.99px) {
  .section-benefit.style-four .cta-block .row > div {
    text-align: center !important;
  }
}

/*
*** Section Benefit Home4: End
*/
/*
*** Section Benefit Home5: Start
*/
.section-benefit.style-five .row .bg-img {
  position: relative;
}
.section-benefit.style-five .row .bg-img .double-slash {
  position: absolute;
  top: -16px;
  right: 115px;
}
.section-benefit.style-five .row .bg-img .double-slash i {
  font-size: 46px;
  width: 25px;
  display: inline-block;
}
@media (max-width: 575.99px) {
  .section-benefit.style-five .row .mt-24 {
    margin-top: 12px;
  }
}

/*
*** Section Benefit Home5: End
*/
/*
*** Section Benefit Home6: Start
*/
.section-benefit.style-six a.button.bg-purple {
  transition: all ease 0.4s;
}
.section-benefit.style-six a.button.bg-purple:hover {
  background-color: #5700c9;
}
@media (max-width: 991.99px) {
  .section-benefit.style-six .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-benefit.style-six .row .mt-28 {
    margin-top: 20px;
  }
  .section-benefit.style-six .row .mt-16 {
    margin-top: 12px;
  }
  .section-benefit.style-six .row .mt-36 {
    margin-top: 24px;
  }
}

/*
*** Section Benefit Home6: End
*/
/*
*** Section Benefit: End
*/