/*
*** Section About: Start
*/
/*
*** Section About Main: Start
*/
.section-about .content {
  padding: 40px;
  border-radius: 16px;
  background: linear-gradient(46deg, #414E62 0%, #805D5D 100%);
}
.section-about .content > .row:nth-child(1) {
  display: flex;
  justify-content: space-between;
}
.section-about .content > .row:nth-child(1) > div:nth-child(1) .text-label {
  padding: 4px 12px;
  border-radius: 2px;
  display: inline-block;
}
.section-about .content > .row:nth-child(1) > div:nth-child(2) .text-button-small {
  display: inline-block;
  border-bottom: 2px solid var(--white);
}
.section-about .content .line {
  border: 1px solid rgba(229, 229, 229, 0.1);
}
.section-about .content > .row:nth-child(3) > div .counter-item {
  border-left: 1px solid var(--white);
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 992px) {
  .section-about .content {
    padding: 28px;
  }
  .section-about .content > .row:nth-child(1) {
    padding-bottom: 32px;
  }
  .section-about .content > .row:nth-child(3) {
    padding-top: 32px;
  }
}

/*
*** Section About Main: End
*/
/*
*** Section About Home2: Start
*/
.section-about.style-two a.text-button-small:hover {
  color: var(--blue);
}
@media (max-width: 767.99px) {
  .section-about.style-two .cta-block .row > div {
    text-align: center !important;
  }
}

/*
*** Section About Home2: End
*/
/*
*** Section About Home3: Start
*/
.section-about.style-three .row .col-12.col-lg-6 a.button:hover {
  background-color: var(--yellow);
  border-color: var(--yellow);
}
.section-about.style-three .row > div:last-child {
  position: relative;
}
.section-about.style-three .row > div:last-child .text-box-circle {
  position: absolute;
  bottom: 42px;
  left: 0;
  border-radius: 50%;
  width: 152px;
  height: 152px;
}
.section-about.style-three .row > div:last-child .text-box-circle i {
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-about.style-three .row > div:last-child .text-box-circle i::before {
  color: var(--on-surface);
}
.section-about.style-three .row > div:last-child .text-box-circle .text-label {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: circleScroll 30s linear infinite;
}
.section-about.style-three .row > div:last-child .text-box-circle .text-label span {
  position: absolute;
  left: 50%;
  transform-origin: 0 76px;
  font-size: 10px;
}
@media (max-width: 992px) {
  .section-about.style-three .row > div:last-child .text-box-circle {
    display: none;
  }
}

/*
*** Section About Home3: End
*/
/*
*** Section About Home4: Start
*/
.section-about.style-four {
  position: relative;
}
.section-about.style-four .row .col-12.col-lg-6 a.button:hover {
  background-color: var(--pink);
  color: var(--white);
}
.section-about.style-four .bg-img {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.section-about.style-four img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*
*** Section About Home4: End
*/
/*
*** Section About Home5: Start
*/
.section-about.style-five .row .counter .item i.icon-slash {
  font-size: 36px;
}
.section-about.style-five .row > div:last-child {
  position: relative;
}
.section-about.style-five .row > div:last-child .double-slash {
  position: absolute;
  top: -16px;
  right: 115px;
}
.section-about.style-five .row > div:last-child .double-slash i {
  font-size: 46px;
  width: 25px;
  display: inline-block;
}

/*
*** Section About Home5: End
*/
/*
*** Section About Home6: Start
*/
.section-about.style-six .row > div:last-child > .counter .item {
  width: 50%;
}
.section-about.style-six .row > div:last-child > .counter .item i {
  font-size: 36px;
}
.section-about.style-six .row > div:last-child > .counter .item i::before {
  color: var(--purple);
}
@media (max-width: 575.99px) {
  .section-about.style-six .row > div:last-child > .counter .item {
    padding-left: 0;
  }
}

/*
*** Section About Home6: End
*/
@keyframes circleScroll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*
*** Section About Home7: Start
*/
/*
*** Section About Home7 - First : Start
*/
.section-about.style-seven-first .container .row {
  margin-left: 0;
  margin-right: 0;
  background: #F8EEEF;
  border-radius: 40px;
}
.section-about.style-seven-first .container .row > div:first-child {
  padding-left: 0;
}
.section-about.style-seven-first .container .row > div:first-child .bg-img {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.section-about.style-seven-first .container .row > div:first-child .bg-img i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all ease 0.3s;
}
.section-about.style-seven-first .container .row > div:first-child .bg-img i:hover {
  background-color: var(--error);
  color: var(--white);
}
.section-about.style-seven-first .container .row > div:first-child .bg-img .text-title {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.section-about.style-seven-first .container .row > div:last-child {
  padding-right: 0;
}
.section-about.style-seven-first .container .row > div:last-child .content {
  background: #fff;
  border-radius: 20px;
}
@media (max-width: 1199.99px) {
  .section-about.style-seven-first .container .row > div:first-child {
    padding-right: 0;
  }
  .section-about.style-seven-first .container .row > div:last-child {
    padding-left: 0;
  }
}
@media (max-width: 575.99px) {
  .section-about.style-seven-first .container .row {
    border-radius: 12px;
    padding: 20px;
  }
  .section-about.style-seven-first .container .row > div:first-child .bg-img {
    border-radius: 12px;
  }
  .section-about.style-seven-first .container .row > div:last-child .content {
    border-radius: 12px;
    padding: 20px;
  }
}

/*
*** Section About Home7 - First : End
*/
/*
*** Section About Home7 - Second : Start
*/
@media (max-width: 991.99px) {
  .section-about.style-seven-second .row {
    justify-content: center;
    flex-direction: column-reverse;
  }
}

/*
*** Section About Home7 - Second : End
*/
/*
*** Section About Home7: End
*/
/*
*** Section About: End
*/