/*
*** Section Testimonial Home1: Start
*/
.section-testimonial .row > .col-md-11 {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.section-testimonial .row > .col-md-11 .testimonial-item {
  width: calc(100% - 12px - 40.9090909091%);
  border-radius: 32px 0 0 32px;
  overflow: hidden;
}
.section-testimonial .row > .col-md-11 .testimonial-item .content-main {
  padding: 40px 60px 24px;
  overflow: hidden;
}
.section-testimonial .row > .col-md-11 .bg-img {
  width: 40.9090909091%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  overflow: hidden;
  border-radius: 0 32px 32px 0;
  opacity: 0;
  transition: all ease 0.5s;
}
.section-testimonial .row > .col-md-11 .bg-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-testimonial .row > .col-md-11 .bg-img.active {
  opacity: 1;
}
@media (max-width: 991.99px) {
  .section-testimonial .row > .col-md-11 .testimonial-item .content-main {
    width: 100%;
    padding: 32px 32px 24px;
  }
  .section-testimonial .row > .col-md-11 .testimonial-item .content-main .mt-24 {
    margin-top: 12px;
  }
  .section-testimonial .row > .col-md-11 .slick-dots {
    padding-bottom: 24px;
    margin-left: 32px;
  }
}
@media (max-width: 575.99px) {
  .section-testimonial .row > .col-md-11 {
    display: flex;
    flex-direction: column-reverse;
  }
  .section-testimonial .row > .col-md-11 .testimonial-item {
    border-radius: 0 0 16px 16px;
    width: 100%;
  }
  .section-testimonial .row > .col-md-11 .testimonial-item .content-main .star i {
    font-size: 16px;
  }
  .section-testimonial .row > .col-md-11 .testimonial-item .content-main .text-on-surface-variant1 {
    font-size: 12px;
  }
  .section-testimonial .row > .col-md-11 .bg-img {
    position: relative;
    visibility: hidden;
    display: none;
    width: 100%;
    right: 0;
    border-radius: 16px 16px 0 0;
  }
  .section-testimonial .row > .col-md-11 .bg-img.active {
    visibility: visible;
    display: block;
    animation: showAvatar ease 2s;
  }
}
@keyframes showAvatar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section-testimonial .slick-dots {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 16px;
  margin-left: 60px;
  padding-bottom: 40px;
}
.section-testimonial .slick-dots li {
  position: relative;
  border: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.section-testimonial .slick-dots li button {
  display: none;
}
.section-testimonial .slick-dots li::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #171717;
  transition: 0.5s;
}
.section-testimonial .slick-dots li.slick-active {
  border: 1px solid var(--on-surface);
  background-color: #fff;
}
.section-testimonial .slick-dots li.slick-active::after {
  background-color: var(--on-surface);
  border: 1px solid var(--on-surface);
}

/*
*** Section Testimonial Home1: End
*/
/*
*** Section Testimonial Home2: Start
*/
.section-testimonial.style-two .list-comment .slick-list {
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 40px;
}
.section-testimonial.style-two .list-comment .slick-list .slick-track > div {
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 575.99px) {
  .section-testimonial.style-two .list-comment .slick-list .slick-track > div .item {
    padding: 24px 20px;
  }
  .section-testimonial.style-two .list-comment .slick-list .slick-track > div .item img {
    width: 80px;
    height: 80px;
  }
  .section-testimonial.style-two .list-comment .slick-list .slick-track > div .item .content .star i {
    font-size: 14px;
  }
  .section-testimonial.style-two .list-comment .slick-list .slick-track > div .item .content .mt-12 {
    margin-top: 8px;
  }
}
.section-testimonial.style-two .list-comment .slick-dots {
  position: relative;
  margin-top: 0;
  margin-left: 0;
  padding-bottom: 0;
  justify-content: center;
}

/*
*** Section Testimonial Home2: End
*/
/*
*** Section Testimonial Home3: Start
*/
.testimonial-style-three .section-testimonial {
  background-color: var(--yellow-surface);
}
.testimonial-style-three .section-testimonial .col .item .star i.ph-star {
  color: var(--yellow);
}

/*
*** Section Testimonial Home3: End
*/
/*
*** Section Testimonial Home4: Start
*/
.section-testimonial.style-four .container > .row {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.section-testimonial.style-four .container > .row > div:first-child {
  width: 50%;
  padding-left: 0;
  padding-right: 0;
}
.section-testimonial.style-four .container > .row > div:first-child .testimonial-item {
  width: 100%;
  border-radius: 0;
}
.section-testimonial.style-four .container > .row > div:first-child .testimonial-item .content-main {
  padding: 0;
}
.section-testimonial.style-four .container > .row > div:last-child {
  width: 41.66666667%;
  padding-right: 0;
}
.section-testimonial.style-four .container > .row > div:last-child .bg-img {
  width: 100%;
  position: relative;
  border-radius: 24px;
  right: 0;
  display: none;
}
.section-testimonial.style-four .container > .row > div:last-child .bg-img.active {
  visibility: visible;
  display: block;
  animation: showAvatar ease 1s;
}
.section-testimonial.style-four .container > .row .slick-dots {
  margin-top: 24px;
  margin-left: 0;
  padding-bottom: 0;
}
@media (max-width: 575.99px) {
  .section-testimonial.style-four .container > .row {
    flex-direction: column-reverse;
    row-gap: 24px;
  }
  .section-testimonial.style-four .container > .row > div:first-child,
  .section-testimonial.style-four .container > .row > div:last-child {
    width: 100%;
    padding-left: 0;
  }
  .section-testimonial.style-four .container > .row .slick-dots {
    justify-content: center;
  }
}

/*
*** Section Testimonial Home4: End
*/
/*
*** Section Testimonial Home5: Start
*/
.section-testimonial.style-five .row {
  position: relative;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.section-testimonial.style-five .row > div {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}
.section-testimonial.style-five .row .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  display: none;
}
.section-testimonial.style-five .row .bg-img img {
  object-fit: cover;
}
.section-testimonial.style-five .row .bg-img.active {
  display: block;
  animation: showAvatar ease-in-out 1s;
}
.section-testimonial.style-five .row .testimonial-item {
  padding: 144.5px 80px;
}
.section-testimonial.style-five .row .testimonial-item .content-main {
  padding: 0;
  width: 100%;
}
.section-testimonial.style-five .row .testimonial-item .content-main .double-slash i {
  font-size: 46px;
  width: 25px;
  display: inline-block;
}
.section-testimonial.style-five .row .testimonial-item .slick-dots {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 16px;
  left: 80px;
  margin-left: 0px;
  bottom: 40px;
}
@media (max-width: 991.99px) {
  .section-testimonial.style-five .row .testimonial-item {
    padding: 60px 40px;
  }
}
@media (max-width: 575.99px) {
  .section-testimonial.style-five .row .bg-img {
    position: relative;
    width: 100%;
  }
  .section-testimonial.style-five .row .testimonial-item {
    padding: 32px 24px;
  }
  .section-testimonial.style-five .row .testimonial-item .mt-24 {
    margin-top: 16px;
  }
  .section-testimonial.style-five .row .testimonial-item .mt-16 {
    margin-top: 12px;
  }
}

/*
*** Section Testimonial Home5: End
*/
/*
*** Section Testimonial Home6: Start
*/
.section-testimonial.style-six .list-comment .slick-list {
  overflow: unset;
}
.section-testimonial.style-six .item {
  position: relative;
  cursor: pointer;
  transition: all linear 0.3s;
}
.section-testimonial.style-six .item .double-slash {
  position: absolute;
  right: 10px;
  bottom: 40px;
  opacity: 0;
  transition: all linear 0.3s;
}
.section-testimonial.style-six .item .double-slash i {
  font-size: 32px;
}
.section-testimonial.style-six .item:hover {
  box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.1);
}
.section-testimonial.style-six .item:hover .double-slash {
  right: 32px;
  opacity: 1;
}

/*
*** Section Testimonial Home6: End
*/
/*
*** Section Testimonial Home7: Start
*/
.section-testimonial.style-seven .list-comment .slick-list {
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 40px;
}
.section-testimonial.style-seven .list-comment .slick-list .slick-track > div {
  padding-left: 15px;
  padding-right: 15px;
}
.section-testimonial.style-seven .list-comment .slick-list .slick-track > div .item {
  transition: all ease 0.3s;
  cursor: pointer;
}
.section-testimonial.style-seven .list-comment .slick-list .slick-track > div .item:hover {
  box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.1);
}
.section-testimonial.style-seven .list-comment .slick-dots {
  margin-top: 0;
  margin-left: 0;
  justify-content: center;
}

/*
*** Section Testimonial Home7: End
*/
/*
*** Section Testimonial Case Studies Page: Start
*/
.style-case-studies .section-testimonial.style-four {
  padding: 0;
}
.style-case-studies .section-testimonial.style-four .container .row {
  margin-left: 0;
  margin-right: 0;
  padding: 60px;
  border-radius: 28px;
  background: linear-gradient(238deg, #FAF7EF 0%, #F4F6FC 99.66%);
}
.style-case-studies .section-testimonial.style-four .container .row > div:last-child .bg-img img {
  width: 100%;
  border-radius: 24px;
}
@media (max-width: 991.99px) {
  .style-case-studies .section-testimonial.style-four .container .row {
    padding: 40px;
    border-radius: 24px;
  }
  .style-case-studies .section-testimonial.style-four .container .row > div:last-child .bg-img img {
    border-radius: 20px;
  }
}
@media (max-width: 575.99px) {
  .style-case-studies .section-testimonial.style-four .container .row {
    padding: 32px;
    border-radius: 20px;
  }
  .style-case-studies .section-testimonial.style-four .container .row > div:last-child .bg-img img {
    border-radius: 16px;
  }
}

/*
*** Section Testimonial Case Studies Page: End
*/