/*
*** Section Portfolio Home6: Start
*/
.section-pricing .heading .switch .bg-white {
  display: block;
  width: 80px;
  height: 40px;
  border-radius: 99px;
  border: 1px solid #e4e4e4;
  outline: none;
  position: relative;
  transition: all linear 0.3s;
  overflow: hidden;
  cursor: pointer;
}
.section-pricing .heading .switch .bg-white::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
  background-color: var(--purple);
  border-radius: 50%;
  transition: all linear 0.3s;
}
.section-pricing .heading .switch.enable .bg-white {
  background-color: var(--purple);
}
.section-pricing .heading .switch.enable .bg-white::before {
  left: 42px;
  background-color: var(--white);
}
.section-pricing .heading .switch.enable .body3:first-child {
  color: var(--placehover);
}
.section-pricing .heading .switch.enable .body3:last-child {
  color: var(--on-surface);
}
.section-pricing .list-pricing .pricing-item,
.section-pricing .list-pricing-year .pricing-item {
  cursor: pointer;
  transition: all linear 0.3s;
}
.section-pricing .list-pricing .pricing-item .list-feature,
.section-pricing .list-pricing-year .pricing-item .list-feature {
  border-top: 1px solid var(--outline);
}
.section-pricing .list-pricing .pricing-item .price,
.section-pricing .list-pricing-year .pricing-item .price {
  display: flex;
  align-items: end;
}
.section-pricing .list-pricing .pricing-item a.button,
.section-pricing .list-pricing-year .pricing-item a.button {
  transition: all ease 0.3s;
}
.section-pricing .list-pricing .pricing-item a.button:hover,
.section-pricing .list-pricing-year .pricing-item a.button:hover {
  background-color: var(--purple);
  color: var(--white);
  border: 1px solid var(--purple);
}
.section-pricing .list-pricing .pricing-item a.button.bg-purple:hover,
.section-pricing .list-pricing-year .pricing-item a.button.bg-purple:hover {
  background-color: #5700c9;
}
.section-pricing .list-pricing .pricing-item:hover,
.section-pricing .list-pricing-year .pricing-item:hover {
  box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.15);
}
@keyframes showList {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section-pricing .list-pricing.hide,
.section-pricing .list-pricing-year.hide {
  display: none;
}
.section-pricing .list-pricing.show,
.section-pricing .list-pricing-year.show {
  display: block;
  animation: showList ease-in-out 0.7s;
}

/*
*** Section Portfolio Home6: End
*/
/*
*** Section Portfolio Home7: Start
*/
.section-pricing.style-seven .container > .row .switch .bg-white::before {
  background-color: var(--blue);
}
.section-pricing.style-seven .container > .row .switch.enable .bg-white {
  background-color: var(--blue);
}
.section-pricing.style-seven .container > .row .switch.enable .bg-white::before {
  left: 42px;
  background-color: var(--white);
}
.section-pricing.style-seven .container > .row .list-pricing .pricing-item a.button:hover,
.section-pricing.style-seven .container > .row .list-pricing-year .pricing-item a.button:hover {
  background-color: var(--blue);
  border: 1px solid var(--blue);
}
.section-pricing.style-seven .container > .row .list-pricing .pricing-item a.button.bg-blue:hover,
.section-pricing.style-seven .container > .row .list-pricing-year .pricing-item a.button.bg-blue:hover {
  background-color: var(--secondary);
}
.section-pricing.style-seven .container > .row > div:last-child {
  padding-left: 0;
}
@media (max-width: 1199.99px) {
  .section-pricing.style-seven .container > .row > div:last-child {
    padding-left: 15px;
  }
}

/*
*** Section Portfolio Home7: End
*/