
<div class="section-case-studies section-news bg-linear pt-80 pb-80"> 
  <div class="container">
    <div class="cursor flex-center gap-12"><i class="ph ph-caret-left text-white"></i><i class="ph ph-caret-right text-white"></i></div>
    <div class="heading text-center">
      <div class="text-label pt-4 pb-4 pl-12 pr-12 bg-green bora-2 display-inline-block">Our Blog</div>
      <div class="heading3 text-center mt-8">Recent posts</div>
    </div>
    <div class="list-news mt-40">
      <div class="item col-4 h-100">
        <div class="blog-item hover-box-shadow "><a class="main-item" href="#!">
            <div class="bg-img w-100 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/blog/item11.png" alt="Mastering Financial Success: Insights from Finance Consulting"/></div>
            <div class="infor mt-28">
              <div class="text-label text-on-surface-variant1 display-inline-block">Performance Enhancement</div>
              <div class="heading5 mt-12">Mastering Financial Success: Insights from Finance Consulting</div>
              <div class="text-label text-on-surface-variant1 mt-16">February 25, 2023</div>
            </div></a>
        </div>
      </div>
      <div class="item col-4 h-100">
        <div class="blog-item hover-box-shadow "><a class="main-item" href="#!">
            <div class="bg-img w-100 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/blog/item12.png" alt="Navigating Wealth: Unveiling the Power of Finance Consulting"/></div>
            <div class="infor mt-28">
              <div class="text-label text-on-surface-variant1 display-inline-block">Cloud Solutions</div>
              <div class="heading5 mt-12">Navigating Wealth: Unveiling the Power of Finance Consulting</div>
              <div class="text-label text-on-surface-variant1 mt-16">February 24, 2023</div>
            </div></a>
        </div>
      </div>
      <div class="item col-4 h-100">
        <div class="blog-item hover-box-shadow "><a class="main-item" href="#!">
            <div class="bg-img w-100 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/blog/item3.png" alt="Empowering Your Finances: Exploring the World of Financial"/></div>
            <div class="infor mt-28">
              <div class="text-label text-on-surface-variant1 display-inline-block">Application Development</div>
              <div class="heading5 mt-12">Empowering Your Finances: Exploring the World of Financial</div>
              <div class="text-label text-on-surface-variant1 mt-16">February 24, 2023</div>
            </div></a>
        </div>
      </div>
      <div class="item col-4 h-100">
        <div class="blog-item hover-box-shadow "><a class="main-item" href="#!">
            <div class="bg-img w-100 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/blog/item13.png" alt="Digital Banking Innovations Reshaping the Future of Finance."/></div>
            <div class="infor mt-28">
              <div class="text-label text-on-surface-variant1 display-inline-block">Finance & Banking</div>
              <div class="heading5 mt-12">Digital Banking Innovations Reshaping the Future of Finance.</div>
              <div class="text-label text-on-surface-variant1 mt-16">February 23, 2023</div>
            </div></a>
        </div>
      </div>
    </div>
  </div>
</div>