
<div class="section-contact style-three style-five bg-yellow-surface pt-60 pb-60">
  <div class="bg-img"> <img src="assets/images/component/contact5.png" alt=""/></div>
  <div class="container"> 
    <div class="row row-gap-40">
      <div class="col-12 col-lg-5">
        <div class="text-label pt-4 pb-4 pl-12 pr-12 bg-green bora-2 display-inline-block">Contact us</div>
        <div class="heading3 mt-12">Unlock Your Financial Potential Today!</div>
        <div class="desc mt-16">Unlock your business's potential with a free consultation. Our expert consultants will analyze your challenges and craft strategies for growth and success.</div>
        <div class="list-infor mt-16">
          <div class="flex-item-center"><i class="ph ph-envelope fs-20"></i>
            <div class="body2 pl-12">hi.avitex@gmail.com</div>
          </div>
          <div class="flex-item-center mt-8"><i class="ph ph-phone-call fs-20"></i>
            <div class="body2 pl-12">1-333-345-6868</div>
          </div>
          <div class="flex-item-center mt-8"><i class="ph ph-map-pin fs-20"></i>
            <div class="body2 pl-12">101 E 129th St, East Chicago, IN 46312, US</div>
          </div><a class="mt-8 display-inline-block" href="https://www.google.com/maps" target="_blank">Open map</a>
        </div>
      </div>
      <div class="col-12 col-xl-4 col-lg-5 pl-40 pl-col-lg-0">
        <form action=""> 
          <div class="form bora-16 bg-white pt-24 pb-24 pl-28 pr-28 d-flex flex-column gap-20">
            <div class="heading5">Schedule a free consultation</div>
            <div class="row gy-2">
              <div class="col-12">
                <label class="caption1 text-on-surface-variant1 pb-8" for="">Name</label>
                <input class="w-100 bg-white pl-16 pr-16 pt-8 pb-8 bora-4 border-outline" type="text" placeholder=""/>
              </div>
              <div class="col-12">
                <label class="caption1 text-on-surface-variant1 pb-8" for="">Phone</label>
                <input class="w-100 bg-white pl-16 pr-16 pt-8 pb-8 bora-4 border-outline" type="text" placeholder=""/>
              </div>
              <div class="col-12">
                <label class="caption1 text-on-surface-variant1 pb-8" for="">Company Email</label>
                <input class="w-100 bg-white pl-16 pr-16 pt-8 pb-8 bora-4 border-outline" type="text" placeholder=""/>
              </div>
              <div class="col-12">
                <label class="caption1 text-on-surface-variant1 pb-8" for="">Company/ Organization</label>
                <input class="w-100 bg-white pl-16 pr-16 pt-8 pb-8 bora-4 border-outline" type="text" placeholder=""/>
              </div>
              <div class="col-12"> 
                <label class="caption1 text-on-surface-variant1 pb-8" for="">How can we help you?</label>
                <textarea class="w-100 bg-white pl-16 pr-16 pt-8 pb-8 bora-4 border-outline display-block" name="" rows="3" placeholder="Your message"></textarea>
              </div>
            </div>
            <div class="block-button">
              <button class="button bg-green button-green-hover border-none w-100">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>