
<div class="section-industry-five style-below">
  <div class="container"> 
    <div class="row row-gap-32 flex-between">
      <div class="col-12 col-lg-7">
        <div class="heading2 text-white mt-24">Discover our dedicated professionals</div>
        <div class="text-title text-white mt-24">At Bytewave, we view our clients as more than just business relationships.</div>
        <div class="block-button flex-item-center flex-wrap gap-24 mt-24"><a class="button bg-green button-green-hover border-none text-button-small" href="#!">Our Team</a><a class="text-button-small text-white border-underline-green-2px" href="#!">Join Our Team</a></div>
      </div>
    </div>
  </div>
</div>