
<div class="section-industry-five style-above">
  <div class="container"> 
    <div class="row row-gap-32 flex-between">
      <div class="col-12 col-lg-6 video-block">
        <div class="play-block flex-center pointer"><i class="ph-fill ph-play fs-28 p-20 bora-50"></i></div>
        <div class="heading2 text-white mt-24">Start building your wealth journey!</div>
        <div class="heading6 text-white mt-24">Let us guide you towards a secure financial future.</div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="bg-white p-40">
          <div class="row row-gap-12">
            <div class="col-12 col-sm-6"> 
              <div class="nav-item"><a class="display-inline-block text-title text-on-surface-variant1" href="#!">Personal Finance</a></div>
              <div class="nav-item"><a class="display-inline-block text-title text-on-surface-variant1 mt-12" href="#!">Business & Corporate</a></div>
              <div class="nav-item"><a class="display-inline-block text-title text-on-surface-variant1 mt-12" href="#!">Real Estate</a></div>
              <div class="nav-item"><a class="display-inline-block text-title text-on-surface-variant1 mt-12" href="#!">Healthcare</a></div>
              <div class="nav-item"><a class="display-inline-block text-title text-on-surface-variant1 mt-12" href="#!">Technology</a></div>
            </div>
            <div class="col-12 col-sm-6"> 
              <div class="nav-item"><a class="display-inline-block text-title text-on-surface-variant1" href="#!">Energy</a></div>
              <div class="nav-item"><a class="display-inline-block text-title text-on-surface-variant1 mt-12" href="#!">Construction & Architecture</a></div>
              <div class="nav-item"><a class="display-inline-block text-title text-on-surface-variant1 mt-12" href="#!">Food & Beverage</a></div>
              <div class="nav-item"><a class="display-inline-block text-title text-on-surface-variant1 mt-12" href="#!">Manufacturing & Industrial</a></div>
              <div class="nav-item"><a class="display-inline-block text-title text-on-surface-variant1 mt-12" href="#!">Education & Training</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>