
<div class="section-newsletter style-five bg-yellow-surface pt-80 pb-80"> 
  <div class="container">
    <div class="row row-gap-32 flex-between">
      <div class="col-lg-6 col-12">
        <div class="double-slash"><i class="icon-slash"></i><i class="icon-slash"></i></div>
        <div class="heading3 mt-12">Receive the top blog stories directly in your inbox</div>
      </div>
      <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-12">
        <div class="block-input flex-item-center mt-40">
          <input class="bg-surface border-transparent text-button fw-500 pl-16 pr-16" type="text" placeholder="Enter your e-mail"/>
          <button class="bg-green text-button button-green-hover border-none">Subscribe</button>
        </div>
        <div class="flex-item-center mt-24">
          <input type="checkbox" name="checksave"/>
          <div class="text-on-surface-variant1">I have read the <a class="text-on-surface" href="#!">Privacy Policy </a><span class="text-on-surface-variant1">and agree to its terms</span></div>
        </div>
      </div>
    </div>
  </div>
</div>