
<div class="section-solution style-five bg-yellow-surface pt-80 pb-80"> 
  <div class="container text-center">
    <div class="heading flex-between"> 
      <div class="heading3 text-center mt-12">Our solutions</div><a class="text-button-small display-inline-block border-underline-green-2px" href="#!">View All Solutions</a>
    </div>
    <div class="row row-gap-32 mt-40">
      <div class="col-12 col-lg-3 col-sm-6">
        <div class="double-slash"><i class="icon-slash"></i><i class="icon-slash"></i></div>
        <div class="solution-item h-100 p-40 bg-white"><a class="main-item" href="#!"><i class="icon-coin-user fs-60 display-block text-start"></i>
            <div class="desc text-start mt-24">
              <div class="heading5">Financial Advisory</div>
              <div class="text-on-surface-variant1 mt-12">Tailored guidance for individuals and businesses, managing debt, budgeting, and future financial plans.</div>
            </div></a>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-sm-6">
        <div class="double-slash"><i class="icon-slash"></i><i class="icon-slash"></i></div>
        <div class="solution-item h-100 p-40 bg-white"><a class="main-item" href="#!"><i class="icon-hand-coin-up fs-60 display-block text-start"></i>
            <div class="desc text-start mt-24">
              <div class="heading5">Investment Management</div>
              <div class="text-on-surface-variant1 mt-12">Optimizing investment portfolios, digital analysis, and smart investment strategies.</div>
            </div></a>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-sm-6">
        <div class="double-slash"><i class="icon-slash"></i><i class="icon-slash"></i></div>
        <div class="solution-item h-100 p-40 bg-white"><a class="main-item" href="#!"><i class="icon-coin-up fs-60 display-block text-start"></i>
            <div class="desc text-start mt-24">
              <div class="heading5">Retirement Planning</div>
              <div class="text-on-surface-variant1 mt-12">Ensuring stable post-retirement finances through savings and wise investments.</div>
            </div></a>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-sm-6">
        <div class="double-slash"><i class="icon-slash"></i><i class="icon-slash"></i></div>
        <div class="solution-item h-100 p-40 bg-white"><a class="main-item" href="#!"><i class="icon-money-transfer fs-60 display-block text-start"></i>
            <div class="desc text-start mt-24">
              <div class="heading5">Risk Management & Insurance</div>
              <div class="text-on-surface-variant1 mt-12">Protecting assets with tailored insurance solutions against unexpected events.</div>
            </div></a>
        </div>
      </div>
    </div>
  </div>
</div>