.section-about.style-five.bg-white.pt-80.pb-80
    .container 
        .row.row-gap-40.flex-between
            .col-12.col-lg-6.pr-65.pr-col-lg-0
                .heading3 Empowering your financial future with expertise
                .desc.mt-16 Welcome to us - a dedicated and professional finance company committed to elevating your financial prosperity. Leveraging our extensive financial knowledge, we craft tailored solutions to help you achieve personal
                .counter.d-flex.mt-16
                    .item 
                        .flex-item-center
                            i.icon-slash
                            .count-number.heading3 20
                        .text-title.mt-4 Years experiences
                    .item.pl-40
                        .flex-item-center
                            i.icon-slash
                            .flex-item-center
                                .count-number.heading3 1.8
                                span.heading3 k
                        .text-title.mt-4 Happy customers
                .counter.d-flex.mt-16
                    .item 
                        .flex-item-center
                            i.icon-slash
                            .count-number.heading3 250
                        .text-title.mt-4 Project completed
                    .item.pl-40
                        .flex-item-center
                            i.icon-slash
                            .count-number.heading3 10
                        .text-title.mt-4 Awards achievement
                a(href="about-us.html").text-button-small.border-underline-green-2px.display-inline-block.mt-32 About Us
            .col-12.col-lg-6.pl-65.pl-col-lg-0
                img(src="assets/images/component/about5.png", alt="img").w-100
                .double-slash
                        i.icon-slash
                        i.icon-slash
