.section-benefit.style-five.bg-white.pt-80.pb-80
    .container 
        .row.row-gap-32.flex-between
            .col-12.col-lg-6
                .bg-img 
                    img(src="assets/images/component/benefit5.png", alt="").w-100
                    .double-slash
                        i.icon-slash
                        i.icon-slash
            .col-12.col-lg-6.pl-55.pl-col-lg-0
                .content
                    .heading3 Unlock your financial potential today!
                    .list-feature.mt-28
                        .flex-item-center 
                            i.ph.ph-check.text-green.fs-28 
                            .heading6.pl-12 Supported by experienced financial experts.
                        .flex-item-center.mt-24
                            i.ph.ph-check.text-green.fs-28 
                            .heading6.pl-12 Optimizing investment portfolios and assets.
                        .flex-item-center.mt-24
                            i.ph.ph-check.text-green.fs-28 
                            .heading6.pl-12 Building stable financial plans for the future.
                        .flex-item-center.mt-24
                            i.ph.ph-check.text-green.fs-28 
                            .heading6.pl-12 Ensuring financial security through suitable insurance.
                        .block-button.mt-36.d-flex.gap-12.flex-wrap
                            a(href="#!").button.bg-green.border-none Our Services