include ../../mixins/blogItem.pug

.section-case-studies.bg-linear.pt-80.pb-80 
    .container
        .col-xl-5.col-md-4.col-12.text-center
            .text-label.pt-4.pb-4.pl-12.pr-12.bg-green.bora-2.display-inline-block Our Blog
            .heading3.mt-8 Recent posts
        .row.row-gap-24.mt-40
            .col-12.col-lg-4.col-sm-6
                +blogItem({classname:'', style:'style-five', img:'assets/images/blog/item11.png', category:'Performance Enhancement', title:'Mastering Financial Success: Insights from Finance Consulting', date:'February 25, 2023'})
            .col-12.col-lg-4.col-sm-6
                +blogItem({classname:'', style:'style-five', img:'assets/images/blog/item12.png', category:'Cloud Solutions', title:'Navigating Wealth: Unveiling the Power of Finance Consulting', date:'February 24, 2023'})
            .col-12.col-lg-4.col-sm-6
                +blogItem({classname:'', style:'style-five', img:'assets/images/blog/item3.png', category:'Application Development', title:'Empowering Your Finances: Exploring the World of Financial', date:'February 24, 2023'})
            .col-12.col-lg-4.col-sm-6
                +blogItem({classname:'display-none', style:'style-five', img:'assets/images/blog/item13.png', category:'Finance & Banking', title:'Optimizing database system', date:'February 23, 2023'})
            