.section-industry-five.style-below
    .container 
        .row.row-gap-32.flex-between
            .col-12.col-lg-7
                .heading2.text-white.mt-24 Discover our dedicated professionals
                .text-title.text-white.mt-24 At Bytewave, we view our clients as more than just business relationships.
                .block-button.flex-item-center.flex-wrap.gap-24.mt-24
                    a(href="#!").button.bg-green.border-none.text-button-small Our Team
                    a(href="#!").text-button-small.text-white.border-underline-green-2px Join Our Team

