.section-industry-five.style-above
    .container 
        .row.row-gap-32.flex-between
            .col-12.col-lg-6.video-block
                .play-block.flex-center.pointer
                    i.ph-fill.ph-play.fs-28.p-20.bora-50
                .heading2.text-white.mt-24 Start building your wealth journey!
                .heading6.text-white.mt-24 Let us guide you towards a secure financial future.
            .col-12.col-lg-6
                .bg-white.p-40
                    .row.row-gap-12.sub-nav-solution
                        .col-12.col-sm-6 
                            .nav-item.service-item.nav-item-main&attributes({"data-cate":"Finace Solutions", "data-item":""})
                                a(href="service-detail.html").service-name.display-inline-block.text-title.text-on-surface-variant1 Personal Finance
                            .nav-item.service-item.nav-item-main&attributes({"data-cate":"Finace Solutions", "data-item":""})
                                a(href="service-detail.html").service-name.display-inline-block.text-title.text-on-surface-variant1.mt-12 Business & Corporate
                            .nav-item.service-item.nav-item-main&attributes({"data-cate":"Finace Solutions", "data-item":""})
                                a(href="service-detail.html").service-name.display-inline-block.text-title.text-on-surface-variant1.mt-12 Real Estate
                            .nav-item.service-item.nav-item-main&attributes({"data-cate":"Finace Solutions", "data-item":""})
                                a(href="service-detail.html").service-name.display-inline-block.text-title.text-on-surface-variant1.mt-12 Healthcare
                            .nav-item.service-item.nav-item-main&attributes({"data-cate":"Finace Solutions", "data-item":""})
                                a(href="service-detail.html").service-name.display-inline-block.text-title.text-on-surface-variant1.mt-12 Technology
                        .col-12.col-sm-6 
                            .nav-item.service-item.nav-item-main&attributes({"data-cate":"Finace Solutions", "data-item":""})
                                a(href="service-detail.html").service-name.display-inline-block.text-title.text-on-surface-variant1 Energy
                            .nav-item.service-item.nav-item-main&attributes({"data-cate":"Finace Solutions", "data-item":""})
                                a(href="service-detail.html").service-name.display-inline-block.text-title.text-on-surface-variant1.mt-12 Construction & Architecture
                            .nav-item.service-item.nav-item-main&attributes({"data-cate":"Finace Solutions", "data-item":""})
                                a(href="service-detail.html").service-name.display-inline-block.text-title.text-on-surface-variant1.mt-12 Food & Beverage
                            .nav-item.service-item.nav-item-main&attributes({"data-cate":"Finace Solutions", "data-item":""})
                                a(href="service-detail.html").service-name.display-inline-block.text-title.text-on-surface-variant1.mt-12 Manufacturing & Industrial
                            .nav-item.service-item.nav-item-main&attributes({"data-cate":"Finace Solutions", "data-item":""})
                                a(href="service-detail.html").service-name.display-inline-block.text-title.text-on-surface-variant1.mt-12 Education & Training
