.section-industry-five.style-above
    .container 
        .row.row-gap-32.flex-between
            .col-12.col-lg-6
                .play-block.flex-center
                    i.ph-fill.ph-play.fs-28
                .heading2.text-white.mt-24 Start building your wealth journey!
                .heading6.text-white.mt-24 Let us guide you towards a secure financial future.
            .col-12.col-lg-6
                .bg-white.p-40
                    .row.row-gap-12
                        .col-12.col-sm-6 
                            .nav-item
                                a(href="#!").display-inline-block.text-title.text-on-surface-variant1 Personal Finance
                            .nav-item
                                a(href="#!").display-inline-block.text-title.text-on-surface-variant1.mt-12 Business & Corporate
                            .nav-item
                                a(href="#!").display-inline-block.text-title.text-on-surface-variant1.mt-12 Real Estate
                            .nav-item
                                a(href="#!").display-inline-block.text-title.text-on-surface-variant1.mt-12 Healthcare
                            .nav-item
                                a(href="#!").display-inline-block.text-title.text-on-surface-variant1.mt-12 Technology
                        .col-12.col-sm-6 
                            .nav-item
                                a(href="#!").display-inline-block.text-title.text-on-surface-variant1 Energy
                            .nav-item
                                a(href="#!").display-inline-block.text-title.text-on-surface-variant1.mt-12 Construction & Architecture
                            .nav-item
                                a(href="#!").display-inline-block.text-title.text-on-surface-variant1.mt-12 Food & Beverage
                            .nav-item
                                a(href="#!").display-inline-block.text-title.text-on-surface-variant1.mt-12 Manufacturing & Industrial
                            .nav-item
                                a(href="#!").display-inline-block.text-title.text-on-surface-variant1.mt-12 Education & Training
