.section-newsletter.style-five.bg-yellow-surface.pt-80.pb-80 
    .container
        .row.row-gap-32.flex-between
            .col-lg-6.col-12
                .double-slash
                    i.icon-slash
                    i.icon-slash
                .heading3.mt-12 Receive the top blog stories directly in your inbox
            .col-xl-5.col-lg-6.col-md-8.col-sm-10.col-12
                .block-input.flex-item-center.mt-40
                    input(type="text" placeholder="Enter your e-mail").bg-surface.text-button.fw-500.pl-16.pr-16
                    button.bg-green.text-button.button-green-hover.border-none Subscribe
                .flex-item-center.mt-24
                    input(type="checkbox" name="")
                    .text-on-surface-variant1 I have read the 
                        a(href="#!").text-on-surface Privacy Policy 
                        span.text-on-surface-variant1 and agree to its terms

