.section-about.mt-60 
    .container 
        .content
            .row.row-gap-12.pb-40
                .col-12.col-xl-5.col-md-6
                    .text-label.text-white.bg-blue About Us
                    .heading3.text-white.mt-16 We solve technology challenges.
                .col-12.col-md-6 
                    .desc.text-white Your IT Services Partner! We offer customized IT solutions, from managed services to cloud computing and cybersecurity. Empower your business with our expertise for growth and efficiency. 
                    a(href="about-us.html").text-button-small.text-white.border-underline-white-2px.mt-16 Join us today!
            .line
            .counter.row.row-gap-24.pt-40
                .col-6.col-md-3 
                    .counter-item 
                        .count-number.heading3.text-white 20
                        .body1.mt-4.text-white Years experiences
                .col-6.col-md-3 
                    .counter-item 
                        .flex-item-center
                            .count-number.heading3.text-white 1.8
                            span.heading3.text-white k
                        .body1.mt-4.text-white Happy customers
                .col-6.col-md-3 
                    .counter-item 
                        .count-number.heading3.text-white 460
                        .body1.mt-4.text-white Project completed
                .col-6.col-md-3 
                    .counter-item 
                        .count-number.heading3.text-white 15
                        .body1.mt-4.text-white Awards achievement
