.section-banner
    .list
        .heading4.text-uppercase.text-white Experience Seamless IT Solutions
        i.icon-icon-logo.fs-36.text-white
        .heading4.text-uppercase.text-white Request IT Consultation
        i.icon-icon-logo.fs-36.text-white
        .heading4.text-uppercase.text-white Experience Seamless IT Solutions
        i.icon-icon-logo.fs-36.text-white
        .heading4.text-uppercase.text-white Request IT Consultation
        i.icon-icon-logo.fs-36.text-white