.section-brand.pt-80.pb-80
    .container 
        .heading5.text-center Trusted by specialists all around the world
        .row.mt-28.flex-center
            .col-11 
                .row 
                    .col-xl-2-4.col-md-4.col-6
                        img(src="assets/images/brand/van.svg", alt="img").w-100
                    .col-xl-2-4.col-md-4.col-6
                        img(src="assets/images/brand/slack.svg", alt="img").w-100
                    .col-xl-2-4.col-md-4.col-6
                        img(src="assets/images/brand/pana.svg", alt="img").w-100
                    .col-xl-2-4.col-md-4.col-6
                        img(src="assets/images/brand/shang.svg", alt="img").w-100
                    .col-xl-2-4.col-md-4.col-6
                        img(src="assets/images/brand/spotify.svg", alt="img").w-100
