include ../../mixins/blogItem.pug

.section-case-studies.section-news.section-slide-shared.bg-linear.mt-80.pt-80.pb-80 
    .container
        .cursor.flex-center.gap-12
            i.ph.ph-caret-left.text-white
            i.ph.ph-caret-right.text-white
        .row.gy-1.flex-between
            .col-xl-5.col-md-4.col-12
                .text-label.text-blue.pt-4.pb-4.pl-12.pr-12.bg-grey.bora-2.display-inline-block Why we do
                .heading3.mt-12 Case studies
            .col-xl-5.col-lg-6.col-md-7.col-12
                .body2 Case studies that showcase the agency's approach, process, and results for specific clients.
        .list-news.mt-40
            .item
                +blogItem({classname:'', style:'style-one', href:'blog-detail.html', img:'assets/images/blog/item1.png', category:'Performance Enhancement', title:'Demystifying IT Services: Exploring Tech Trends & Solutions', desc:'Enhanced performance for a manufacturing firm by optimizing their database structure, resulting in improved efficiency and competitiveness.', date: 'September 18, 2023'})
            .item
                +blogItem({classname:'', style:'style-one', href:'blog-detail.html', img:'assets/images/blog/item2.png', category:'Cloud Solutions', title:'Unlocking Business Potential: The Role of IT Services Today', desc:"Secured sensitive data during a financial company's cloud migration by designing a hybrid solution combining cloud flexibility and on-premises control.", date: 'September 11, 2023'})
            .item
                +blogItem({classname:'', style:'style-one', href:'blog-detail.html', img:'assets/images/blog/item3.png', category:'Application Development', title:'Tech Insights: How IT Services Drive Modern Business', desc:'Enabled a startup to launch a successful mobile app by providing end-to-end development, leading to high downloads and recognition.', date: 'August 20, 2023'})
            .item
                +blogItem({classname:'', style:'style-one', href:'blog-detail.html', img:'assets/images/blog/item4.png', category:'Trendy Technologies', title:'Exploring Trendy Technologies Shaping the IT Landscape', desc:'Explore the trending technologies that are reshaping the IT industry, discover how they are transforming our interactions with the digital world.', date: 'August 12, 2023'})
            .item
                +blogItem({classname:'', style:'style-one', href:'blog-detail.html', img:'assets/images/blog/item12.png', category:'Cybersecurity', title:'Unveiling Cybersecurity Best Practices for a Safer IT World', desc:'Immerse yourself in the realm of network security with leading principles to safeguard personal information and critical data.', date: 'August 10, 2023'})
        