.section-contact.bg-linear-grey.pt-60.pb-60
    .container 
        .row.flex-between.row-gap-40
            .col-12.col-xl-7.text-white
                .text-label.text-white.pt-4.pb-4.pl-12.pr-12.bg-blue.bora-2.display-inline-block Contact us
                .heading3.text-white.mt-12 Free consultation - discover IT solutions for your business
                p.desc.mt-24 Unlock the full potential of your business with our free consultation. Our expert team will assess your IT needs, recommend tailored solutions, and chart a path to success. Book your consultation now and take the first step towards empowering your business with cutting-edge technology.
                .list-features.gy-2.mt-16
                    .item.flex-item-center 
                        i.ph.ph-check.fs-20
                        .body2.pl-12 Confirmation of appointment details
                    .item.flex-item-center.mt-8
                        i.ph.ph-check.fs-20
                        .body2.pl-12 Research and preparation by the IT services company
                    .item.flex-item-center.mt-8
                        i.ph.ph-check.fs-20
                        .body2.pl-12 Consultation to discuss technology solutions
                    .item.flex-item-center.mt-8
                        i.ph.ph-check.fs-20
                        .body2.pl-12 Needs assessment for tailored solutions
                    .item.flex-item-center.mt-8
                        i.ph.ph-check.fs-20
                        .body2.pl-12 Presentation of proposed solutions
                    .item.flex-item-center.mt-8
                        i.ph.ph-check.fs-20
                        .body2.pl-12 Project execution and ongoing support
                    .item.flex-item-center.mt-8
                        i.ph.ph-check.fs-20
                        .body2.pl-12 Follow-up to evaluate effectiveness and satisfaction
                .line.mt-24
                .flex-item-center.mt-24
                    i.ph.ph-envelope.fs-20
                    .body2.pl-12 hi.avitex@gmail.com
                .flex-item-center.mt-8
                    i.ph.ph-phone-call.fs-20
                    .body2.pl-12 1-333-345-6868
                .flex-item-center.mt-8
                    i.ph.ph-map-pin.fs-20
                    .body2.pl-12 101 E 129th St, East Chicago, IN 46312, US
                
            .col-12.col-xl-4
                .form-block.bora-16.bg-white.pt-24.pb-24.pl-28.pr-28.d-flex.flex-column.gap-20
                    .heading5 Schedule a free consultation
                    .row.gy-2
                        .col-12.col-sm-6 
                            label(for="firstName").caption1.text-on-surface-variant1.pb-8 First Name
                            input(type="text" id="firstName" placeholder="").w-100.bg-white.pl-16.pr-16.pt-8.pb-8.bora-4.border-outline
                        .col-12.col-sm-6 
                            label(for="lastName").caption1.text-on-surface-variant1.pb-8 Last Name
                            input(type="text" id="lastName" placeholder="").w-100.bg-white.pl-16.pr-16.pt-8.pb-8.bora-4.border-outline
                        .col-12
                            label(for="phone").caption1.text-on-surface-variant1.pb-8 Phone
                            input(type="number" id="phone" placeholder="").w-100.bg-white.pl-16.pr-16.pt-8.pb-8.bora-4.border-outline
                        .col-12
                            label(for="companyEmail").caption1.text-on-surface-variant1.pb-8 Company Email
                            input(type="email" id="companyEmail" placeholder="").w-100.bg-white.pl-16.pr-16.pt-8.pb-8.bora-4.border-outline
                        .col-12
                            label(for="company").caption1.text-on-surface-variant1.pb-8 Company/ Organization
                            input(type="text" id="company" placeholder="").w-100.bg-white.pl-16.pr-16.pt-8.pb-8.bora-4.border-outline
                        .col-12 
                            label(for="cate").caption1.text-on-surface-variant1.pb-8 How can we help you?
                            select(name="form" id="cate").w-100.bg-white.pl-16.pr-24.pt-8.pb-8.bora-4.border-outline
                                option(value="Financial Planning") Financial Planning
                                option(value="Business Planning") Business Planning
                                option(value="Development Planning") Development Planning
                            i.ph.ph-caret-down
                        .col-12 
                            label(for="message").caption1.text-on-surface-variant1.pb-8 Your message
                            textarea(name="message" rows="3" id="message" placeholder="").w-100.bg-white.pl-16.pr-16.pt-8.pb-8.bora-4.border-outline.display-block
                    .block-button
                        button.button-blue.button-blue-hover.w-100 Submit