/*
*** Hover button animation: Start
*/
.hover-button {
    position: relative;
    overflow: hidden;

    span {
        transition: all linear 0.4s;
        z-index: 2;
    }
}

.hover-button::before {
    position: absolute;
    content: "";
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: var(--blue);
    transition: all linear 0.3s;
    z-index: 1;
}

.hover-button:hover {

    i,
    span {
        color: var(--white);
    }

    &::before {
        width: 300px;
        height: 300px;
    }
}

.hover-button {
    &.bg-blue::before {
        background-color: var(--secondary);
    }

    &.bg-blue:hover {
        &::before {
            width: 500px;
        }
    }
}


a.border-underline-white-2px,
a.border-underline-on-surface-2px {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: var(--blue);
        transition: all linear 0.3s;
    }

    &:hover {
        &::before {
            width: 100%;
        }
    }
}

a.border-underline-blue {
    transition: all linear 0.3s;

    &:hover {
        color: var(--blue);
    }
}

a.border-underline-green-2px {
    transition: all linear 0.3s;

    &:hover {
        color: var(--green);
    }
}

a.border-underline-purple-2px {
    transition: all linear 0.3s;

    &:hover {
        color: var(--purple);
    }
}
/*
*** Hover button animation: End
*/