/*
*** Section Footer: Start
*/
/*
*** Section Footer main: Start
*/
.footer-block {
    .row {
        .footer-navigate {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .company-contact {
            .send-block {
                position: relative;
                height: 50px;
                width: 100%;

                >i {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    display: block;
                    color: var(--on-surface-variant1);
                }

                input {
                    color: var(--on-surface);
                    background: transparent;
                    height: 50px;
                    width: 100%;
                    padding: 14px 28px;
                    border-bottom: 1px solid var(--on-surface);

                    &:focus,
                    &:active {
                        background-color: transparent;
                    }
                }

                button {
                    padding: 0;
                    background-color: transparent;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);

                    i {
                        display: block;
                        font-size: 20px;
                        color: var(--on-surface);
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

@media (max-width: 767.99px) {
    .footer-block {
        .footer-bottom {
            flex-direction: column;
            row-gap: 6px;
        }
    }
}

@media (max-width: 575.99px) {
    .footer-block {
        .row {
            .footer-navigate {
                justify-content: space-between;
            }

            .company-contact {
                .mt-20 {
                    margin-top: 8px;
                }
            }
        }

        .footer-bottom {
            .nav-link {
                gap: 6px;

                .caption1 {
                    font-size: 12px;
                }
            }
        }
    }
}
/*
*** Section Footer main: End
*/
/*
*** Section Footer Home3: Start
*/
.footer-style-three {
    .footer-block {
        background-color: var(--on-surface);
        color: var(--on-surface-variant2);

        a {
            color: var(--on-surface-variant2);
        }

        .border-line {
            background-color: rgba(255, 255, 255, 0.10);
        }

        .bg-white {
            background-color: var(--on-surface);
        }

        .logo {
            svg {
                path {
                    fill: var(--white);
                }
            }
        }

        .item-heading,
        .company-contact .heading {
            color: var(--white);
        }

        .list-social {
            .item {
                border: 1px solid var(--on-surface-variant2);
            }
        }

        .row {
            .company-contact {
                .send-block {
                    input {
                        color: var(--white);
                        border-bottom: 1px solid var(--white);
                    }

                    button {
                        i {
                            color: var(--white);
                        }
                    }
                }
            }
        }
    }
}

/*
*** Section Footer Home3: End
*/
/*
*** Section Footer Home4: Start
*/
.footer-style-four {
    .footer-block {
        background-color: var(--black-surface);

        .container {
            >.row {
                .footer-navigate {
                    align-items: flex-start;
                }
            }
        }

        .footer-bottom {
            .list-social {
                margin-top: 0;
                gap: 0;

                a {
                    border: none;

                    i {
                        &::before {
                            color: var(--white);
                        }
                    }
                }
            }
        }
    }
}

/*
*** Section Footer Home4: End
*/
/*
*** Section Footer: End
*/