/*
*** Section Menu Header Home1: Start
*/
#header {
    position: relative;
    z-index: 3;
}

.header-menu {
    border-bottom: 1px solid var(--outline);
    position: relative;
    transition: all linear 0.5s;

    &.style-one {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 2;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 74px;
    }

    .menu-main {
        height: 100%;

        >ul {
            height: 100%;

            li {
                cursor: pointer;
                position: relative;
                height: 100%;
                display: flex;

                a {
                    padding: 24px 12px;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 24px;
                }

                .sub-nav {
                    position: absolute;
                    width: 260px;
                    left: -10px;
                    top: 100px;
                    padding-top: 4px;
                    padding-bottom: 8px;
                    background-color: #fff;
                    z-index: 5;
                    box-shadow: 0px 5px 25px rgba(58, 64, 67, 0.1);
                    transition: all ease-in-out 0.3s;
                    opacity: 0;

                    .sub-nav-item {
                        padding: 16px 24px;

                        a {
                            position: relative;
                            transition: all ease 0.3s;
                            padding: 0;
                            display: inline-block;

                            &::before {
                                content: "";
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                transform: translateY(-50%);
                                width: 0;
                                height: 2px;
                                background-color: var(--blue);
                                border-radius: 6px;
                                transition: all ease 0.3s;
                            }
                        }

                        &:hover {
                            a {
                                color: var(--blue);
                                padding-left: 12px;

                                &::before {
                                    width: calc(100% - 12px);
                                    left: 12px;
                                }
                            }
                        }
                    }

                    .sub-nav-item.active {
                        a {
                            color: var(--blue);
                            padding-left: 12px;

                            &::before {
                                width: calc(100% - 12px);
                                left: 12px;
                            }
                        }
                    }
                }

                &:hover {
                    >a {
                        color: var(--blue);
                    }

                    .sub-nav {
                        top: 74px;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }

    .right-block {
        justify-content: right;

        .call-block {
            margin-right: 16px;
            border-radius: 999px;
            background: rgba(39, 75, 227, 0.10);
            display: flex;
            align-items: center;
            height: 42px;
            padding: 4px 12px 4px 6px;

            i {
                font-size: 18px;
                color: var(--blue);
                padding: 7px;
                background-color: var(--white);
                border-radius: 50%;
                display: inline-block;
            }

            span {
                padding-left: 8px;
                font-weight: 700;
                line-height: 28px;
                text-transform: capitalize;
            }
        }

        a {
            margin-right: 40px;
        }

        .search-icon {
            margin-right: 16px;
            cursor: pointer;

            i {
                font-size: 18px;
                display: block;
                padding: 3px;
            }
        }

        .bag-icon {
            position: relative;
            cursor: pointer;

            i {
                font-size: 18px;
                display: block;
                padding: 3px;
            }

            span {
                position: absolute;
                color: var(--white);
                border-radius: 50%;
                font-size: 10px;
                line-height: 12px;
                padding: 2px 5px;
                top: -4px;
                right: -6px;
            }
        }
    }

    .menu-humburger {
        display: none;
    }

    @media (max-width: 1200px) {
        .right-block {
            .call-block {
                display: none;
            }
        }
    }

    @media (max-width: 1024px) {
        .menu-main {
            display: none;
        }

        .right-block {
            a {
                display: none;
            }

            .search-icon,
            .bag-icon {
                i {
                    font-size: 24px;
                }
            }

            .menu-humburger {
                display: block;
                font-size: 24px;
                padding-left: 16px;
            }
        }
    }

    @media (max-width: 576px) {
        .container {
            height: 60px;
        }

        .right-block {

            .search-icon,
            .bag-icon {
                i {
                    font-size: 20px;
                }
            }

            .menu-humburger {
                font-size: 20px;
            }
        }
    }
}

/*
*** Section Menu Header Home1: End
*/
/*
*** Section Menu Header Home2: Start
*/
.menu-style-two {
    .header-menu {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 10;
        transition: all linear 0.5s;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);

        .right-block {
            .call-block {
                background: rgba(255, 255, 255, 0.10);
                backdrop-filter: blur(4px);

                i {
                    color: var(--on-surface);
                }
            }
        }
    }

    .header-menu.sticky {
        top: 0;
        position: fixed;
        background-color: #fff;
        color: var(--on-surface);
        box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.15);

        .logo {
            svg {
                path {
                    fill: var(--on-surface);
                    transition: all linear 0.5s;
                }
            }
        }

        .menu-main ul li {
            a {
                color: var(--on-surface);
                transition: all linear 0.5s;
            }
        }

        .right-block {
            .call-block {
                background: rgba(0, 0, 0, 0.10);
                backdrop-filter: blur(4px);

                span {
                    color: var(--on-surface);
                }
            }

            >div i {
                color: var(--on-surface);
            }
        }
    }

    @media (min-width: 1850px) {
        .header-menu {
            .logo {
                margin-left: -250px;
            }

            .right-block {
                margin-right: -250px;
            }
        }
    }

    @media (max-width: 1849.99px) {
        .header-menu {
            .container {
                justify-content: center;
            }

            .logo {
                position: absolute;
                left: 15px;
            }

            .right-block {
                position: absolute;
                right: 15px;
            }
        }
    }
}

/*
*** Section Menu Header Home2: End
*/
/*
*** Section Menu Header Home3: Start
*/
.menu-style-three {
    .header-menu {
        .container {
            justify-content: space-between;
        }

        .logo {
            margin-left: 0;
            left: 0;
            position: relative;
        }

        .right-block {
            margin-right: 0;
            right: 0;
            position: relative;

            a {
                margin-right: 0;
            }

            .bag-icon {
                span {
                    color: var(--on-surface);
                }
            }
        }
    }

    .header-menu.sticky {
        .container {
            .right-block {
                a {
                    background-color: var(--yellow);
                }
            }
        }
    }
}

/*
*** Section Menu Header Home3: End
*/
/*
*** Section Menu Header Home4: Start
*/
.menu-style-four {
    .header-menu {
        .container {
            justify-content: center;
        }

        .logo {
            margin-left: 0;
            position: absolute;
            left: 80px;
        }

        .right-block {
            margin-right: 0;
            position: absolute;
            right: 80px;

            a {
                margin-right: 0;
            }
        }

        @media (max-width: 1560px) {
            .container {
                justify-content: space-between;
            }

            .logo {
                margin-left: 0;
                position: relative;
                left: 0;
            }

            .right-block {
                margin-right: 0;
                position: relative;
                right: 0;
            }
        }
    }
}

/*
*** Section Menu Header Home4: End
*/
/*
*** Section Menu Header Home5: Start
*/
.menu-style-five {
    .header-menu {
        .right-block {
            .call-block {
                background-color: transparent;
                position: relative;

                i {
                    background-color: transparent;
                    font-size: 20px;
                    color: var(--white);
                }

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    width: 1px;
                    background-color: var(--green);
                    height: 75%;
                    transform: rotate(20deg);
                }

                &::before {
                    left: 0;
                }

                &::after {
                    right: 0;
                }
            }
        }
    }

    .header-menu.sticky {
        .container {
            .right-block {
                .call-block {
                    background-color: transparent;
                }

                a {
                    background-color: var(--green);
                }
            }
        }
    }
}

/*
*** Section Menu Header Home5: End
*/

/*
*** Section Menu Header Home7: Start
*/
.menu-style-seven {
    .header-menu {
        .container {
            justify-content: space-between;
        }
    }
}

/*
*** Section Menu Header Home7: End
*/