/*
*** Section Slider Home1: Start
*/
.slider-block {
    &.style-one {
        @media (max-width: 1199.99px) {
            .row {
                flex-direction: column-reverse;

                .text {
                    .pr-55 {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    @media (max-width: 576px) {
        .block-button.mt-40 {
            margin-top: 20px;
        }
    }
}

/*
*** Section Slider Home1: End
*/

/*
*** Section Slider Home2: Start
*/
.slider-block.style-two {
    width: 100%;
    height: calc(100vh - 44px);
    position: relative;

    .slider-item {
        width: 100%;
        height: calc(100vh - 44px);
        position: relative;

        .bg-img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;

            img {
                object-fit: cover;
            }
        }

        .container {
            width: 100%;
            height: 100%;
            position: relative;

            .row {
                position: absolute;
                top: calc(44px + 50%);
                left: 15px;
                transform: translateY(-50%);

                .button.bg-white {
                    &:hover {
                        background-color: var(--blue);
                        color: var(--white);
                    }
                }
            }
        }
    }

    .prev-arrow,
    .next-arrow {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba($color: #000000, $alpha: 0.3);
        cursor: pointer;
        display: flex !important;
        position: absolute;
        top: calc(44px + 50%);
        transform: translateY(-50%);
        transition: all ease 0.5s;
        z-index: 10;
        opacity: 0;
        visibility: hidden;

        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.6);
        }
    }

    .prev-arrow {
        left: 20px;
    }

    .next-arrow {
        right: 20px;
    }

    &:hover {

        .prev-arrow,
        .next-arrow {
            opacity: 1;
            visibility: visible;
        }
    }

    .prev-arrow.slick-disabled,
    .next-arrow.slick-disabled {
        display: none !important;
    }

    @media (max-width: 767.99px) {

        .prev-arrow,
        .next-arrow {
            display: none !important;
        }
    }

    @media (max-width: 1350px) {
        .container {
            .row {
                left: 15px;
            }
        }
    }

    @media (max-width: 991.99px) {
        height: calc(80vh - 44px);

        .slider-item {
            height: calc(80vh - 44px);
        }
    }

    @media (max-width: 575.00px) {
        height: calc(80vh - 44px);

        .slider-item {
            height: calc(80vh - 44px);

            .mt-16 {
                margin-top: 8px !important;
            }
        }
    }
}

/*
*** Section Slider Home2: End
*/

/*
*** Section Slider Home3: Start
*/
.slider-block.style-three {
    .slider-item {
        .container {
            .row {
                .button.bg-white {
                    &:hover {
                        background-color: var(--yellow);
                        color: var(--on-surface);
                    }
                }
            }
        }
    }
}

/*
*** Section Slider Home3: End
*/

/*
*** Section Slider Home4: Start
*/
.slider-block.style-four {
    height: 100vh;

    .slider-item {
        height: 100vh;

        .container {
            .row {
                top: calc(20px + 50%);

                .button.bg-white {
                    &:hover {
                        background-color: var(--pink);
                        color: var(--white);
                    }
                }
            }
        }
    }

    @media (max-width: 991.99px) {
        height: calc(80vh - 44px);

        .slider-item {
            height: calc(80vh - 44px);
        }
    }

    @media (max-width: 575.00px) {
        height: calc(70vh - 44px);

        .slider-item {
            height: calc(70vh - 44px);
        }
    }
}

/*
*** Section Slider Home4: End
*/

/*
*** Section Slider Home5: Start
*/
.slider-block.style-five {
    height: 100vh;

    .slider-item {
        height: 100vh;

        .container {
            .row {
                top: unset;
                transform: unset;
                bottom: 80px;

                .button.bg-white {
                    &:hover {
                        background-color: var(--green);
                        color: var(--on-surface);
                    }
                }
            }
        }
    }

    @media (max-width: 991.99px) {
        height: calc(80vh - 44px);

        .slider-item {
            height: calc(80vh - 44px);
        }
    }

    @media (max-width: 575.00px) {
        height: calc(70vh - 44px);

        .slider-item {
            height: calc(70vh - 44px);
        }
    }
}

/*
*** Section Slider Home5: End
*/
/*
*** Section Slider Home6: Start
*/
.slider-block.style-six {
    height: 90vh;
    background: linear-gradient(180deg, #EDDEF4 0%, rgba(255, 255, 255, 0.50) 100%);

    .container .row {
        width: 100%;
        height: 100%;

        >div {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .slider-item {
        height: 90vh;
        position: relative;

        .heading1 {
            background: linear-gradient(90deg, #5B45F3 0%, #EFCA60 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .block-input {
            padding-right: 90px;
            width: 100%;
            background-color: transparent;

            input {
                height: 56px;
                padding-left: 16px;
                padding-right: 16px;
                border-radius: 4px 0 0 4px;
                background-color: #fff;
                width: 100%;
                box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.10);
            }

            button {
                height: 56px;
                padding-left: 24px;
                padding-right: 24px;
                border-radius: 0 4px 4px 0;
                transition: all ease 0.4s;

                &:hover {
                    background-color: #5700c9;
                }
            }
        }

        .slider-img {
            width: 100%;
            height: 100%;
            position: relative;

            img {
                position: absolute;
                top: 24%;

                &:first-child {
                    width: 75%;
                    right: 0;
                }

                &:last-child {
                    width: 101%;
                    right: 20px;
                    animation: slideY 10s linear infinite;
                }
            }
        }

        .sub-img-dots {
            .dot {
                position: absolute;
                border-radius: 50%;

                &:nth-child(1),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(8) {
                    width: 32px;
                    height: 32px;
                }

                &:nth-child(2),
                &:nth-child(7) {
                    width: 48px;
                    height: 48px;
                }

                &:nth-child(1),
                &:nth-child(3),
                &:nth-child(8) {
                    background: linear-gradient(90deg, #B84CA0, #B4AEE1);
                }

                &:nth-child(2),
                &:nth-child(4) {
                    background: linear-gradient(90deg, #5B45F3, #EFCA60);
                }

                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7) {
                    background: linear-gradient(90deg, #82B84C, #AED5E1);
                }

                &:nth-child(1) {
                    left: 82px;
                    top: 165px;
                    animation: slide_1 15s ease-in-out alternate infinite;
                }

                &:nth-child(2) {
                    left: 140px;
                    top: 270px;
                    animation: slide_2 10s ease-in-out alternate infinite;
                }

                &:nth-child(3) {
                    left: 822px;
                    top: 120px;
                    animation: slide_1 20s ease-in-out alternate infinite;
                }

                &:nth-child(4) {
                    right: 722px;
                    top: 160px;
                    animation: slide_2 15s ease-in-out alternate infinite;
                }

                &:nth-child(5) {
                    right: 120px;
                    top: 140px;
                    animation: slide_1 21s ease-in-out alternate infinite;
                }

                &:nth-child(6) {
                    left: 60px;
                    bottom: 140px;
                    animation: slide_2 12s ease-in-out alternate infinite;
                }

                &:nth-child(7) {
                    left: 820px;
                    bottom: 40px;
                    animation: slide_2 25s ease-in-out alternate infinite;
                }

                &:nth-child(8) {
                    right: 160px;
                    bottom: 140px;
                    animation: slide_2 22s ease-in-out alternate infinite;
                }

                @keyframes slide_1 {
                    0% {
                        transform: translate(0) rotate(0deg);
                    }

                    15% {
                        transform: translate(10px, 10px) rotate(45deg);
                    }

                    30% {
                        transform: translate(10px, -15px) rotate(20deg);
                    }

                    45% {
                        transform: translate(-10px, -25px) rotate(50deg);
                    }

                    60% {
                        transform: translate(0, 25px) rotate(35deg);
                    }

                    75% {
                        transform: translate(-10px, -15px) rotate(-20deg);
                    }

                    90% {
                        transform: translate(-5, -5px) rotate(-20deg);
                    }

                    100% {
                        transform: translate(0) rotate(0deg);
                    }
                }

                @keyframes slide_2 {
                    0% {
                        transform: translate(0) rotate(0deg);
                    }

                    25% {
                        transform: translate(15px, -5px) rotate(15deg);
                    }

                    50% {
                        transform: translate(-10px, 10px) rotate(10deg);
                    }

                    75% {
                        transform: translate(5px, -5px) rotate(25deg);
                    }

                    100% {
                        transform: translate(0) rotate(0deg);
                    }
                }
            }
        }
    }

    @media (max-width: 991.99px) {
        height: 400px;

        .sub-img-dots {
            display: none;
        }

        .container .row {
            >div:last-child {
                display: none;
            }
        }

        .slider-item {
            height: 400px;
        }
    }

    @media (max-width: 575.99px) {
        height: 400px;

        .slider-item {
            height: 400px;

            .block-input {
                padding-right: 0;

                input,
                button {
                    height: 48px;
                }

                button {
                    padding-left: 16px;
                    padding-right: 16px;
                }
            }
        }
    }
}

@keyframes slideY {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-20px);
    }
}

/*
*** Section Slider Home6: End
*/

/*
*** Section Slider Home7: Start
*/
.slider-block.style-seven {
    position: relative;
    background-color: var(--yellow-surface);

    .slider-item {
        .row {
            justify-content: end;

            >div:first-child {
                position: absolute;
                left: 65px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    @media (max-width: 1465px) {
        .slider-item {
            height: 580px;
            width: 100%;
            max-width: 1320px;
            padding-right: 15px;
            padding-left: 15px;
            margin: auto;
            position: relative;

            .row {
                >div:first-child {
                    left: 0;
                }

                >div:last-child {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    width: 50%;
                    height: 100%;
                }
            }
        }
    }
}

/*
*** Section Slider Home7: End
*/