.section-about.style-six.mt-80.pb-80
    .container 
        .row.row-gap-32.flex-between
            .col-12.col-lg-6.video-block
                .heading3 Ready to Dominate the Online Market?
                .desc.mt-16 Welcome to us - a dedicated and professional finance company committed to elevating your financial prosperity. Leveraging our extensive financial knowledge, we craft tailored solutions to help you achieve personal
                .block-button.mt-32.d-flex.gap-12.flex-wrap
                    a(href="contact-us.html").button.bg-purple.button-purple-hover.text-white.border-none Let's Talk!
                    a(href="#!").button.bora-99.ph-play
                        i.ph-fill.ph-play-circle.fs-28
                        span Video Presentation
            .col-12.col-xxl-5.col-lg-6.col-md-8.pl-65.pl-col-lg-0
                .counter.d-flex.mt-16
                    .item 
                        .flex-item-center
                            i.icon-slash-bora
                            .heading3.pl-8 20
                        .text-title.mt-4 Years experiences
                    .item.pl-40
                        .flex-item-center
                            i.icon-slash-bora
                            .heading3.pl-8 1.8
                                span k
                        .text-title.mt-4 Happy customers
                .counter.d-flex.mt-16
                    .item 
                        .flex-item-center
                            i.icon-slash-bora
                            .heading3.pl-8 250
                        .text-title.mt-4 Project completed
                    .item.pl-40
                        .flex-item-center
                            i.icon-slash-bora
                            .heading3.pl-8 10
                        .text-title.mt-4 Awards achievement