.section-benefit.style-six
    .container 
        .row.row-gap-32.flex-between
            .col-12.col-lg-6.col-sm-10
                img(src="assets/images/component/benefit-below6.png", alt="").w-100
            .col-12.col-lg-6.pl-12.pl-col-lg-0
                .content
                    .heading3 Transform Your Brand's Digital Landscape
                    .list-feature.mt-28
                        .flex-item-center 
                            i.ph.ph-check.text-purple.fs-28 
                            .text-title.pl-12 We're your reliable allies, ensuring confidence and success.
                        .flex-item-center.mt-16
                            i.ph.ph-check.text-purple.fs-28 
                            .text-title.pl-12 Our creative minds amplify your uniqueness for growth.
                        .flex-item-center.mt-16
                            i.ph.ph-check.text-purple.fs-28 
                            .text-title.pl-12 Solutions aligned with your goals, resonating with your audience.
                        .flex-item-center.mt-16
                            i.ph.ph-check.text-purple.fs-28 
                            .text-title.pl-12 Tangible results showcased through transparent reporting.
                        .block-button.mt-36
                            a(href="#!").button.bg-purple.text-white.border-none Our Services
    