include ../../mixins/blogItem.pug

.section-news.style-two.style-four.style-six.bg-yellow-surface.pt-80.pb-80 
    .container
        .heading3.text-center Last News
        .text-center.mt-8 Empowering Your Success Through Expert Consulting Services
        .list-news.mt-40
            .col-4.item
                +blogItem({classname:'bg-white bora-20 overflow-hidden h-100 ', style:'style-four', img:'assets/images/blog/item4.png', category:'SEO Marketing', title:'Unveiling the Impact: New SEO Strategies for Enhanced Online Visibility', date:'February 22, 2023'})
            .col-4.item
                +blogItem({classname:'bg-white bora-20 overflow-hidden h-100 ', style:'style-four', img:'assets/images/blog/item5.png', category:'SEO Marketing', title:"Mastering Algorithm Shifts: Navigating SEO Tactics in Modern Marketing", date:'February 23, 2023'})
            .col-4.item
                +blogItem({classname:'bg-white bora-20 overflow-hidden h-100 ', style:'style-four', img:'assets/images/blog/item3.png', category:'SEO Marketing', title:"Optimal SEO: Leveraging Content Strategies for Effective Campaigns", date:'February 24, 2023'})
            .col-4.item
                +blogItem({classname:'bg-white bora-20 overflow-hidden h-100 ', style:'style-four', img:'assets/images/blog/item6.png', category:'SEO Marketing', title:"Community Connection: Exploring Local SEO for Proximity Marketing", date:'February 25, 2023'})
