.section-pricing.pt-80.pb-80.bg-linear-purple
    .container 
        .heading.flex-column-center
            .heading3.text-center SEO Packages
            .choose-type.flex-item-center.mt-16.gap-20
                .text-title Pay Monthly
                .switch 
                    .bg-white.border-outline
                .text-title.text-on-surface-variant1 Pay Yearly (Save 10%)
        .list-pricing.mt-40.show
            .row.row-gap-32
                .col-12.col-lg-4
                    .pricing-item.bg-white.p-40.bora-20.border-outline
                        .heading5 Silver
                        .price.gap-8.mt-12
                            .heading2 $99.00
                            .caption1.text-on-surface-variant1 / per month
                        .list-feature.mt-24.d-flex.flex-column.gap-12.pt-32
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature 20 keywords
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature 2,000 monthly website visitors
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature 4 blogs / month
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature 3 quality backlinks / month
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature Dedicated expert team
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature Monitoring & reporting
                        a(href="pricing-plan.html").button.mt-24 Choose Plan
                .col-12.col-lg-4
                    .pricing-item.bg-white.p-40.bora-20.bg-white.border-outline
                        .heading5 Gold
                        .price.gap-8.mt-20
                            .heading2.text-purple $149.00
                            .caption1.text-on-surface-variant1 / per month
                        .list-feature.mt-24.d-flex.flex-column.gap-12.pt-32
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature 60 keywords
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature 6,000 monthly website visitors
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature 8 blogs / month
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature 10 quality backlinks / month
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature Dedicated expert team
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature Monitoring & reporting
                        a(href="pricing-plan.html").button.bg-purple.button-purple-hover.text-white.border-transparent.mt-24 Choose Plan
                .col-12.col-lg-4
                    .pricing-item.bg-white.p-40.bora-20.border-outline
                        .heading5 Platinum
                        .price.gap-8.mt-20
                            .heading2 $379.00
                            .caption1.text-on-surface-variant1 / per month
                        .list-feature.mt-24.d-flex.flex-column.gap-12.pt-32
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature 150 keywords
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature 20,000 monthly website visitors
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature 15 blogs / month
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature 20 quality backlinks / month
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature Dedicated expert team
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature Monitoring & reporting
                        a(href="pricing-plan.html").button.mt-24 Choose Plan

        .list-pricing-year.mt-40.hide
            .row.row-gap-32
                .col-12.col-lg-4
                    .pricing-item.bg-white.p-40.bora-20.border-outline
                        .heading5 Silver
                        .price.gap-8.mt-20
                            .heading2 $1069.2
                            .caption1.text-on-surface-variant1 / per month                        
                        .list-feature.mt-24.d-flex.flex-column.gap-12.pt-32
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature 20 keywords
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature 2,000 monthly website visitors
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature 4 blogs / month
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature 3 quality backlinks / month
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature Dedicated expert team
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature Monitoring & reporting
                        a(href="pricing-plan.html").button.mt-24 Choose Plan
                .col-12.col-lg-4
                    .pricing-item.bg-white.p-40.bora-20.bg-white.border-outline
                        .heading5 Gold
                        .price.gap-8.mt-20
                            .heading2.text-purple $1609.2
                            .caption1.text-on-surface-variant1 / per month                        
                        .list-feature.mt-24.d-flex.flex-column.gap-12.pt-32
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature 60 keywords
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature 6,000 monthly website visitors
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature 8 blogs / month
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature 10 quality backlinks / month
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature Dedicated expert team
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature Monitoring & reporting
                        a(href="pricing-plan.html").button.bg-purple.button-purple-hover.text-white.border-transparent.mt-24 Choose Plan
                .col-12.col-lg-4
                    .pricing-item.bg-white.p-40.bora-20.border-outline
                        .heading5 Platium
                        .price.gap-8.mt-20
                            .heading2 $4093.2
                            .caption1.text-on-surface-variant1 / per month                        
                        .list-feature.mt-24.d-flex.flex-column.gap-12.pt-32
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature 150 keywords
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature 20,000 monthly website visitors
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature 15 blogs / month
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature 20 quality backlinks / month
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature Dedicated expert team
                            .item.flex-item-center.gap-8 
                                i.ph.ph-check.fs-24.text-purple
                                .feature Monitoring & reporting
                        a(href="pricing-plan.html").button.mt-24 Choose Plan
