.section-success-stories.section-news.pt-80.pb-80 
    .container
        .heading.flex-between 
            .heading3 Success stories
            a(href="#!").text-button-small.display-inline-block.border-underline-purple-2px View All Solutions
        .row.row-gap-32.mt-40
            .col-4
                a(href="#!").item
                    .bg-img.bora-20.overflow-hidden
                        img(src="assets/images/success-stories/1.png", alt="").w-100.h-100.display-block
                    .title.flex-between.p-20.bora-16
                        .heading4 +40%
                        .heading6 Sales Revenue
            .col-4
                a(href="#!").item
                    .bg-img.bora-20.overflow-hidden
                        img(src="assets/images/success-stories/2.png", alt="").w-100.h-100.display-block
                    .title.flex-between.p-20.bora-16
                        .heading4 +50%
                        .heading6 Website Traffic
            .col-4
                a(href="#!").item
                    .bg-img.bora-20.overflow-hidden
                        img(src="assets/images/success-stories/3.png", alt="").w-100.h-100.display-block
                    .title.flex-between.p-20.bora-16
                        .heading4 +120%
                        .heading6 Online Presence
            //- .col-4
            //-     a(href="#!").item
            //-         .bg-img.bora-20.overflow-hidden
            //-             img(src="assets/images/success-stories/1.png", alt="").w-100.h-100.display-block
            //-         .title.flex-between.p-20.bora-16
            //-             .heading4 +40%
            //-             .heading6 Sales Revenue
