
<div class="top-nav style-two bg-white"> 
  <div class="container flex-between">
    <div class="left flex-item-center">
      <div class="select-language"> 
        <select class="caption2">
          <option value="English">English</option>
          <option value="France">France</option>
          <option value="Espana">Espana</option>
        </select><i class="ph-bold ph-caret-down"></i>
      </div>
      <div class="select-office"> 
        <select class="caption2">
          <option value="New York Office">New York Office</option>
          <option value="Montpellier Office">Montpellier Office</option>
          <option value="Barcelona Office">Barcelona Office</option>
        </select><i class="ph-bold ph-caret-down"></i>
      </div>
    </div>
    <div class="right flex-item-center">
      <div class="location flex-item-center"><i class="ph ph-map-pin fs-20"></i><span class="pl-8 caption1">101 E 129th St, East Chicago, IN 46312, US</span></div>
      <div class="mail pl-28 flex-item-center"><i class="ph ph-envelope fs-20"></i><span class="pl-8 caption1">hi.avitex@gmail.com</span></div>
    </div>
  </div>
</div>