.section-about.style-three.style-four.pt-80.pb-80
    .bg-img 
        img(src="assets/images/component/bg-about4.png", alt="")
    .container 
        .row.row-gap-40.flex-between
            .col-12.col-lg-6.pr-65.pr-col-lg-0
                .heading3.text-white Navigating the Digital Landscape with Expertise
                .desc.text-white.mt-20 Welcome to Byteware, your trusted companion in the realm of IoT services. We take pride in being a dedicated partner, committed to delivering state-of-the-art IoT solutions that propel the future of your business.
                .counter.d-flex.mt-16
                    .item 
                        .heading3.text-white 20
                        .text-title.text-white.mt-4 Years experiences
                    .item.pl-40
                        .heading3.text-white 1.8
                            span k
                        .text-title.mt-4.text-white Happy customers
                a(href="#!").button.bg-white.border-none.mt-40 Meet our team
            .col-12.col-lg-6.pl-65.pl-col-lg-0
                .text-box-circle.bg-white
                    .text-label 20yearsexperience20yearsexperience
                    i.icon-icon-logo
                img(src="assets/images/component/about4.png", alt="img").w-100
