.section-banner.style-two
    .list
        .heading4.text-uppercase.text-white Elevate Your Digital Presence Today
        i.icon-icon-logo.fs-36.text-white
        .heading4.text-uppercase.text-white Experience Digital Excellence
        i.icon-icon-logo.fs-36.text-white
        .heading4.text-uppercase.text-white Elevate Your Digital Presence Today
        i.icon-icon-logo.fs-36.text-white
        .heading4.text-uppercase.text-white Experience Digital Excellence
        i.icon-icon-logo.fs-36.text-white