.section-newsletter.bg-white.pt-80.pb-80 
    .container
        .row.flex-column-center
            .heading-icon.text-center
                i.ph.ph-paper-plane-tilt.text-white.bg-pink.fs-28.p-16.bora-50.display-inline-block
            .col-xxl-6.col-lg-7.col-md-8.col-sm-10.col-12.heading3.text-center.mt-12 Receive the top blog stories directly in your inbox
            .col-xl-5.col-lg-6.col-md-7.col-sm-9.col-12.block-input.flex-item-center.mt-40
                input(type="text" placeholder="Enter your e-mail").bg-surface.text-button.fw-500.pl-16.pr-16
                button.bg-pink.text-white.text-button.border-none Subscribe
