.section-portfolio.bg-white.pt-60   
    .heading3.text-center Our portfolio
    .row.mt-60
        .col-12.col-xl-3.col-sm-6
            a(href="#!").portfolio-item
                .bg-img 
                    img(src="assets/images/portfolio/1.png", alt="").w-100.h-100.display-block
                .title.bg-white.text-center.p-20
                    .text-on-surface-variant1 IT Solutions
                    .heading5.mt-4 Advanced Security Solutions
        .col-12.col-xl-3.col-sm-6
            a(href="#!").portfolio-item
                .bg-img 
                    img(src="assets/images/portfolio/2.png", alt="").w-100.h-100.display-block
                .title.bg-white.text-center.p-20
                    .text-on-surface-variant1 IT Solutions
                    .heading5.mt-4 Transforming Online Presence
        .col-12.col-xl-3.col-sm-6
            a(href="#!").portfolio-item
                .bg-img 
                    img(src="assets/images/portfolio/3.png", alt="").w-100.h-100.display-block
                .title.bg-white.text-center.p-20
                    .text-on-surface-variant1 IT Solutions
                    .heading5.mt-4 Enhancing Your Security
        .col-12.col-xl-3.col-sm-6
            a(href="#!").portfolio-item
                .bg-img 
                    img(src="assets/images/portfolio/4.png", alt="").w-100.h-100.display-block
                .title.bg-white.text-center.p-20
                    .text-on-surface-variant1 IT Solutions
                    .heading5.mt-4 Data Protection
