.section-testimonial.bg-white.pt-80.pb-80
    .container 
        .row.flex-center 
            .col-11
                .testimonial-item.overflow-hidden.bora-32
                    .content-main
                        .star.flex-item-center.gap-1.mt-32
                            i.ph-fill.ph-star.text-blue.fs-20
                            i.ph-fill.ph-star.text-blue.fs-20
                            i.ph-fill.ph-star.text-blue.fs-20
                            i.ph-fill.ph-star.text-blue.fs-20
                            i.ph-fill.ph-star.text-blue.fs-20
                        .heading4.mt-24 Byteware exceeded our expectations with their cloud computing solutions. Highly recommended!
                        .infor.mt-16
                            .heading6 Christina Smith
                            .text-on-surface-variant1 CEO Digital Avitex
                    .bg-img 
                        img(src="assets/images/avatar/avatar1.png", alt="avatar")