.section-testimonial.style-one.style-four.bg-white.pt-80.pb-80
    .container 
        .row.flex-between 
            .col-sm-6.col-12
                .testimonial-item.overflow-hidden.bora-32
                    .content-main
                        .star.flex-item-center.gap-1
                            i.ph-fill.ph-star.text-yellow.fs-20
                            i.ph-fill.ph-star.text-yellow.fs-20
                            i.ph-fill.ph-star.text-yellow.fs-20
                            i.ph-fill.ph-star.text-yellow.fs-20
                            i.ph-fill.ph-star.text-yellow.fs-20
                        .heading4.mt-24 Bytewave exceeded our expectations with their cloud computing solutions. Highly recommended!
                        .infor.mt-16
                            .heading6 Christina Smith
                            .text-on-surface-variant1 CEO Digital Avitex
                    .content-main
                        .star.flex-item-center.gap-1
                            i.ph-fill.ph-star.text-yellow.fs-20
                            i.ph-fill.ph-star.text-yellow.fs-20
                            i.ph-fill.ph-star.text-yellow.fs-20
                            i.ph-fill.ph-star.text-yellow.fs-20
                            i.ph-fill.ph-star.text-yellow.fs-20
                        .heading4.mt-24 Their expertise in market analysis and tailored solutions propelled our growth and competitiveness.
                        .infor.mt-16
                            .heading6 Alexander Parker
                            .text-on-surface-variant1 Designer FPT
                    .content-main
                        .star.flex-item-center.gap-1
                            i.ph-fill.ph-star.text-yellow.fs-20
                            i.ph-fill.ph-star.text-yellow.fs-20
                            i.ph-fill.ph-star.text-yellow.fs-20
                            i.ph-fill.ph-star.text-yellow.fs-20
                            i.ph-fill.ph-star.text-yellow.fs-20
                        .heading4.mt-24 These consultants are true partners in success. Their thorough understanding of our industry coupled.
                        .infor.mt-16
                            .heading6 Georgina Rodriguez 
                            .text-on-surface-variant1 CEO AliTechnology
            .col-sm-5.col-12.pl-65.pl-col-lg-0
                .list-avatar 
                    .bg-img.active&attributes({"data-name":"0"})
                        img(src="assets/images/avatar/avatar5.png", alt="avatar")
                    .bg-img&attributes({"data-name":"1"})
                        img(src="assets/images/avatar/avatar8.png", alt="avatar")
                    .bg-img&attributes({"data-name":"2"})
                        img(src="assets/images/avatar/avatar7.png", alt="avatar")