extends base/layout.pug
block title
    title About Us
block header
    div(class="style-subpage style-pages style-one")
        include components/header/menu/menu-one.pug
block content 
    include mixins/headingSubpage.pug
    include mixins/blogItem.pug
    .bg-subpage
    +headingSubpage({classname: 'pt-60', style:'style-one', heading:true, headingTitle:'About Us', subHeading:'Discover our story, our mission, and our passion for creativity and innovation.', category:'About Us', heading2:"Elevating Small and Mid-Sized Companies through Tailored IT Services", img:'assets/images/component/bg-about-us.png'})
    include components/home1/brand.pug
    .our-mission-block.pb-80
        .container 
            .border-line  
            .row.pt-80
                .col-lg-6.pr-45.pr-col-lg-0
                    .heading4 Our mission
                    .body2.mt-12 We go deep to unlock insight and have the courage to act. We bring the right people together to challenge established thinking and drive transformation. We work with our clients to build the capabilities that enable organizations to achieve sustainable advantage.
                    .body2.mt-12 We go deep to unlock insight and have the courage to act. We bring the right people together to challenge established thinking and drive transformation. We work with our clients to build the capabilities that enable organizations to achieve sustainable advantage.
                .col-lg-6.pl-45.pl-col-lg-0
                    .heading4 Our vision
                    .body2.mt-12 In our vision, innovation is not just a buzzword; it's a way of life. We aim to continuously push the boundaries of what's possible in the digital world. Through cutting-edge technologies, creative strategies, and forward-thinking solutions, we'll redefine industry standards and help our clients stay ahead of the curve.
                    .body2.mt-12 In the digital age, talent and creativity are invaluable assets. We envision ByteWare as a hub for nurturing and attracting the brightest minds in the industry.
            .counter.row.row-gap-24.pt-60
                .col-6.col-md-3 
                    .counter-item 
                        .count-number.heading3 20
                        .body1.mt-4 Years experiences
                .col-6.col-md-3 
                    .counter-item 
                        .flex-item-center
                            .count-number.heading3 1.8
                            span.heading3 k
                        .body1.mt-4 Happy customers
                .col-6.col-md-3 
                    .counter-item 
                        .count-number.heading3 460
                        .body1.mt-4 Project completed
                .col-6.col-md-3 
                    .counter-item 
                        .count-number.heading3 15
                        .body1.mt-4 Awards achievement
    div(class="style-about-us")
        include components/home7/about-first.pug
    .history-block.pt-80.pb-80 
        .container 
            .row.flex-center 
                .col-lg-10.col-md-12
                    .heading.text-center 
                        .heading3.text-center Our Journey Through Time
                        .body2.text-on-surface-variant1.text-center.mt-16 Tracing the Path of Our Legacy and Growth
                    .content-main.mt-40 
                        .row.flex-between.row-gap-24
                            .col-md-6.pr-125
                                .text-content.text-end.scroll-bottom-to-top2
                                    .text-on-surface-variant1 02/2016
                                    .heading5 The Early Days
                                    .text-on-surface-variant1.mt-12 In the early years, we were a small team with a big vision. We started with a handful of passionate individuals determined to make a difference.
                            .col-md-6.pl-125
                                .bg-img.scroll-right-to-left4
                                    img(src="assets/images/blog/item16.png", alt="").w-100.bora-20
                        .row.flex-between.row-gap-24.pt-40
                            .col-md-6.pr-125
                                .bg-img.scroll-left-to-right4
                                    img(src="assets/images/blog/item11.png", alt="").w-100.bora-20
                            .col-md-6.pl-125
                                .text-content.text-start.scroll-bottom-to-top2
                                    .text-on-surface-variant1 08/2019
                                    .heading5 Growth and Expansion
                                    .text-on-surface-variant1.mt-12 We expanded our operations, both in terms of scope and geography, to better serve the evolving needs of our clients.
                        .row.flex-between.row-gap-24.pt-40
                            .col-md-6.pr-125
                                .text-content.text-end.scroll-bottom-to-top2
                                    .text-on-surface-variant1 04/2022
                                    .heading5 Adapting to Change
                                    .text-on-surface-variant1.mt-12 We embraced emerging technologies, implemented sustainable practices, and fostered a culture of innovation that has allowed us to stay ahead cuve.
                            .col-md-6.pl-125
                                .bg-img.scroll-right-to-left4
                                    img(src="assets/images/blog/item14.png", alt="").w-100.bora-20
                        .row.flex-between.row-gap-24.pt-40
                            .col-md-6.pr-125
                                .bg-img.scroll-left-to-right4
                                    img(src="assets/images/blog/item15.png", alt="").w-100.bora-20
                            .col-md-6.pl-125
                                .text-content.text-start.scroll-bottom-to-top2
                                    .text-on-surface-variant1 06/2022
                                    .heading5 Our Team
                                    .text-on-surface-variant1.mt-12 They are the heart of our organization, and their unwavering commitment to excellence has been the driving force behind our growth.
                        .row.flex-between.row-gap-24.pt-40
                            .col-md-6.pr-125
                                .text-content.text-end.scroll-bottom-to-top2
                                    .text-on-surface-variant1 12/2022
                                    .heading5 Client-Centric Approach
                                    .text-on-surface-variant1.mt-12 We have always placed their needs and satisfaction at the center of everything we do. Their trust and loyalty have been instrumental in our journey.
                            .col-md-6.pl-125
                                .bg-img.scroll-right-to-left4
                                    img(src="assets/images/blog/item13.png", alt="").w-100.bora-20
                        .row.flex-between.row-gap-24.pt-40
                            .col-md-6.pr-125
                                .bg-img.scroll-left-to-right4
                                    img(src="assets/images/blog/item12.png", alt="").w-100.bora-20
                            .col-md-6.pl-125
                                .text-content.text-start.scroll-bottom-to-top2
                                    .text-on-surface-variant1 04/2023
                                    .heading5 Looking Ahead
                                    .text-on-surface-variant1.mt-12 We remain dedicated to pushing boundaries, delivering unmatched  IT Solution, and continuing to be a partner in the success of our clients.
                    .heading5.text-center.mt-40.pr-80.pl-80.pl-col-lg-0.pr-col-lg-0 Thank you for being a part of our history, and we look forward to a future filled with shared successes and continued excellence.
    .our-value-block.bg-linear.pt-80.pb-80
        .container 
            .heading.text-center
                .heading3.text-center Our Journey Through Time
                .text-center.mt-12 Discover exceptional experiences through testimonials from our satisfied customers.
            .list-values.row.row-gap-32.mt-40 
                .col-12.col-xxl-3.col-sm-6
                    .item.bg-white.p-32.bora-20.h-100
                        i.ph-light.ph-users.text-blue.fs-60
                        .heading5.fw-600.mt-24 Customer Centricity
                        .text-on-surface-variant1.mt-12 Our clients are our priority. We listen to their needs, understand their challenges, and work tirelessly to deliver IT solutions that meet and exceed their expectations. Their success is our success.
                .col-12.col-xxl-3.col-sm-6
                    .item.bg-white.p-32.bora-20.h-100
                        i.ph-light.ph-trophy.text-blue.fs-60
                        .heading5.fw-600.mt-24 Quality Assurance
                        .text-on-surface-variant1.mt-12 We have a relentless commitment to quality. We set high standards and rigorously test and monitor our IT services to ensure they meet those standards. Quality is non-negotiable.
                .col-12.col-xxl-3.col-sm-6
                    .item.bg-white.p-32.bora-20.h-100
                        i.ph-light.ph-crosshair.text-blue.fs-60
                        .heading5.fw-600.mt-24 Client Focus
                        .text-on-surface-variant1.mt-12 Our clients are the center of our IT universe. We listen to their needs, provide tailored solutions, and stand by them every step of the way. Their success is our success, excellence, integrity.
                .col-12.col-xxl-3.col-sm-6
                    .item.bg-white.p-32.bora-20.h-100
                        i.ph-light.ph-shield-check.text-blue.fs-60
                        .heading5.fw-600.mt-24 Integrity Always
                        .text-on-surface-variant1.mt-12 Integrity is the foundation of trust. We operate with complete transparency, ensuring the highest ethical standards in all our IT operations. Our clients rely on us for honesty and fairness.
    .award-block.bg-linear.pb-80
        .container 
            .row 
                .col-4.pr-32.pr-col-lg-0
                    .heading4 Outstanding Customer Service Recognition
                .col-8.pl-0.pl-col-lg-0
                    .list-award.flex-between 
                        .bg-img 
                            img(src="assets/images/award/1.png", alt="").w-120.h-120
                        .bg-img 
                            img(src="assets/images/award/2.png", alt="").w-120.h-120
                        .bg-img 
                            img(src="assets/images/award/3.png", alt="").w-120.h-120
                        .bg-img 
                            img(src="assets/images/award/4.png", alt="").w-120.h-120
                        .bg-img 
                            img(src="assets/images/award/5.png", alt="").w-120.h-120
    .teams-block.pt-80.pb-80
        .container
            .heading.text-center
                .heading3.text-center Meet our leader
                .text-center.mt-12 Discover exceptional experiences through testimonials from our satisfied customers.
            .list-member.row.row-gap-32.mt-40 
                .col-lg-4.col-sm-6
                    a(href="#!").member-item 
                        .bg-img 
                            img(src="assets/images/avatar/IMG-1.png", alt="").w-100.bora-28
                        .member-infor.mt-20.flex-between 
                            .left 
                                .heading5 John Smith
                                .caption1.text-on-surface-variant1.mt-4 Graphic Designer
                            .right 
                                a(href="https://twitter.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-twitter
                .col-lg-4.col-sm-6
                    a(href="#!").member-item
                        .bg-img 
                            img(src="assets/images/avatar/IMG-2.png", alt="").w-100.bora-28
                        .member-infor.mt-20.flex-between 
                            .left 
                                .heading5 Cameron Williamson
                                .caption1.text-on-surface-variant1.mt-4 CEM - digiNova
                            .right 
                                a(href="https://twitter.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-twitter
                .col-lg-4.col-sm-6
                    a(href="#!").member-item
                        .bg-img 
                            img(src="assets/images/avatar/IMG-3.png", alt="").w-100.bora-28
                        .member-infor.mt-20.flex-between 
                            .left 
                                .heading5 Floyd Miles
                                .caption1.text-on-surface-variant1.mt-4 Photographer
                            .right 
                                a(href="https://twitter.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-twitter
                .col-lg-4.col-sm-6
                    a(href="#!").member-item
                        .bg-img 
                            img(src="assets/images/avatar/IMG-4.png", alt="").w-100.bora-28
                        .member-infor.mt-20.flex-between 
                            .left 
                                .heading5 Chris Patt
                                .caption1.text-on-surface-variant1.mt-4 Photographer
                            .right 
                                a(href="https://twitter.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-twitter
                .col-lg-4.col-sm-6
                    a(href="#!").member-item
                        .bg-img 
                            img(src="assets/images/avatar/IMG-5.png", alt="").w-100.bora-28
                        .member-infor.mt-20.flex-between 
                            .left 
                                .heading5 Kathryn Murphy
                                .caption1.text-on-surface-variant1.mt-4 Graphic Designer
                            .right 
                                a(href="https://twitter.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-twitter
                .col-lg-4.col-sm-6
                    a(href="#!").member-item
                        .bg-img 
                            img(src="assets/images/avatar/IMG-6.png", alt="").w-100.bora-28
                        .member-infor.mt-20.flex-between 
                            .left 
                                .heading5 Katty Perry
                                .caption1.text-on-surface-variant1.mt-4 CEO - AIbank
                            .right 
                                a(href="https://twitter.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-twitter
                
    div(class="style-about-us")
        include components/home6/testimonial.pug
    include components/home1/contact.pug
block footer 
    div(class="style-subpage")
        include components/footer/footer.pug
