extends base/layout.pug
block title
    title Blog List
block header
    div(class="style-subpage style-blog style-two header-no-fixed")
        include components/header/menu/menu-one.pug
block content 
    include mixins/headingContent.pug
    include mixins/headingTitle.pug
    include mixins/blogItem.pug
    .bg-subpage
    +headingTitle({classname: 'pt-60', style:'style-desc', title:'The Latest New', desc:'The Latest Innovations in Bytewave'})
    +headingContent({classname: 'pt-60', style:'style-three', category:'E-commerce & Retail', title:'Enhancing IT Security with Multi-Factor Authentication', desc:"Discover how multi-factor authentication (MFA) is bolstering IT security and protecting sensitive data.", date:'February 22, 2023', img:'assets/images/component/bg-blog.png'})
    .blog-list-page.pt-80.pb-80
        .container 
            .row.row-gap-40
                .col-12.col-lg-9.pr-45.pr-col-lg-0
                    a(href="blog-detail.html").blog-item-filter.item-main.bora-16.overflow-hidden.display-block.border-outline
                        .row 
                            .col-md-6
                                .bg-img.w-100.h-100
                                    img(src="assets/images/blog/item5.png", alt="").w-100.h-100.display-block.object-fit-cover
                            .col-md-6.flex-item-center
                                .infor
                                    .category.caption1.fw-700.text-blue.bg-blue-surface.display-inline-block.pt-4.pb-4.pl-10.pr-10.bora-8 Performance Enhancement
                                    .title.heading5.mt-12 Digital Transformation: Navigating the Future of Business
                                    .desc.text-on-surface-variant1.mt-12 Dive into the world of digital transformation and learn how it's reshaping industries and customer experiences.
                                    .date.text-label.text-on-surface-variant1.mt-16 February 28, 2023
                    a(href="blog-detail.html").blog-item-filter.item-main.bora-16.overflow-hidden.display-block.border-outline.mt-40
                        .row 
                            .col-md-6
                                .bg-img.w-100.h-100
                                    img(src="assets/images/blog/item6.png", alt="").w-100.h-100.display-block.object-fit-cover
                            .col-md-6.flex-item-center
                                .infor
                                    .category.caption1.fw-700.text-blue.bg-blue-surface.display-inline-block.pt-4.pb-4.pl-10.pr-10.bora-8 Technology Solutions
                                    .title.heading5.mt-12 Managed IT Services vs. In-House IT: Pros and Cons
                                    .desc.text-on-surface-variant1.mt-12 Weigh the advantages and disadvantages of outsourcing IT services versus maintaining an in-house IT department.
                                    .date.text-label.text-on-surface-variant1.mt-16 February 22, 2023
                    a(href="blog-detail.html").blog-item-filter.item-main.bora-16.overflow-hidden.display-block.border-outline.mt-40
                        .row 
                            .col-md-6
                                .bg-img.w-100.h-100
                                    img(src="assets/images/blog/item11.png", alt="").w-100.h-100.display-block.object-fit-cover
                            .col-md-6.flex-item-center
                                .infor
                                    .category.caption1.fw-700.text-blue.bg-blue-surface.display-inline-block.pt-4.pb-4.pl-10.pr-10.bora-8 Managed IT Services
                                    .title.heading5.mt-12 Unlocking the Power of Data Analytics for Your Business
                                    .desc.text-on-surface-variant1.mt-12 Discover how data analytics can provide actionable insights, drive informed decisions, and boost business growth.
                                    .date.text-label.text-on-surface-variant1.mt-16 February 20, 2023
                    a(href="blog-detail.html").blog-item-filter.item-main.bora-16.overflow-hidden.display-block.border-outline.mt-40
                        .row 
                            .col-md-6
                                .bg-img.w-100.h-100
                                    img(src="assets/images/blog/item12.png", alt="").w-100.h-100.display-block.object-fit-cover
                            .col-md-6.flex-item-center
                                .infor
                                    .category.caption1.fw-700.text-blue.bg-blue-surface.display-inline-block.pt-4.pb-4.pl-10.pr-10.bora-8 Cybersecurity
                                    .title.heading5.mt-12 Cybersecurity Best Practices for Small Businesses
                                    .desc.text-on-surface-variant1.mt-12 Learn essential cybersecurity practices to protect your small business from cyber threats and data breaches.
                                    .date.text-label.text-on-surface-variant1.mt-16 February 18, 2023
                    a(href="blog-detail.html").blog-item-filter.item-main.bora-16.overflow-hidden.display-block.border-outline.mt-40
                        .row 
                            .col-md-6
                                .bg-img.w-100.h-100
                                    img(src="assets/images/blog/item13.png", alt="").w-100.h-100.display-block.object-fit-cover
                            .col-md-6.flex-item-center
                                .infor
                                    .category.caption1.fw-700.text-blue.bg-blue-surface.display-inline-block.pt-4.pb-4.pl-10.pr-10.bora-8 Data Analytics
                                    .title.heading5.mt-12 The Role of Cloud Computing in Modern Business
                                    .desc.text-on-surface-variant1.mt-12 Explore how cloud computing is revolutionizing business operations, reducing costs, and enhancing scalability.
                                    .date.text-label.text-on-surface-variant1.mt-16 February 12, 2023
                    .list-nav-number.flex-item-center.gap-8.mt-40
                        a(href="#!").nav-item.bora-50.flex-center.active 1
                        a(href="#!").nav-item.bora-50.flex-center 2
                        a(href="#!").nav-item.bora-50.flex-center 3
                        a(href="#!").nav-item.bora-50.flex-center
                            i.ph.ph-caret-right
                .col-12.col-lg-3.section-fixed-sidebar
                    .text-content
                        .search-block.bora-8
                            input(type="text" placeholder="Search").bora-8.w-100
                            i.ph.ph-magnifying-glass
                        .cate-block.mt-32
                            .heading6 Categories
                            .list-nav.mt-8.d-flex.flex-column
                                a(href="#!").nav-item.pointer.mt-8.active&attributes({"data-name":"tab-one"}) Digital Agency
                                a(href="#!").nav-item.pointer.mt-8&attributes({"data-name":"tab-two"}) IT Solution
                                a(href="#!").nav-item.pointer.mt-8&attributes({"data-name":"tab-three"}) Career
                                a(href="#!").nav-item.pointer.mt-8&attributes({"data-name":"tab-one"}) Company
                        .recent-post-block.mt-32
                            .heading6 Recent Posts
                            .list-recent-post.mt-20
                                a(href="blog-detail.html").recent-post-item.d-flex.item-start.gap-16
                                    .item-img
                                        img(src="assets/images/industry/1.png", alt="").w-80.h-80.bora-8.object-fit-cover
                                    .item-infor
                                        .caption2.bg-surface.pl-8.pr-8.display-inline-block Solutions
                                        .item-title.mt-4 Digital Marketing Success: E-Commerce Case
                                a(href="blog-detail.html").recent-post-item.d-flex.item-start.gap-16.mt-28
                                    .item-img
                                        img(src="assets/images/industry/2.png", alt="").w-80.h-80.bora-8.object-fit-cover
                                    .item-infor
                                        .caption2.bg-surface.pl-8.pr-8.display-inline-block Data
                                        .item-title.mt-4 Sustainable Practices in Manufacturing
                                a(href="blog-detail.html").recent-post-item.d-flex.item-start.gap-16.mt-28
                                    .item-img
                                        img(src="assets/images/industry/3.png", alt="").w-80.h-80.bora-8.object-fit-cover
                                    .item-infor
                                        .caption2.bg-surface.pl-8.pr-8.display-inline-block IT Services
                                        .item-title.mt-4 Enhancing User Experien in Mobile App Development
                        .tags-popular-block.mt-40
                            .tag-heading.heading7 Popular Tags
                            .list-tag.mt-16.d-flex.flex-wrap.gap-12
                                a(href="#!").caption2.pt-8.pb-8.pl-16.pr-16.bg-surface.bora-8.hover-button-blue Featured
                                a(href="#!").caption2.pt-8.pb-8.pl-16.pr-16.bg-surface.bora-8.hover-button-blue Experience
                                a(href="#!").caption2.pt-8.pb-8.pl-16.pr-16.bg-surface.bora-8.hover-button-blue Interview
                                a(href="#!").caption2.pt-8.pb-8.pl-16.pr-16.bg-surface.bora-8.hover-button-blue Skill
                                a(href="#!").caption2.pt-8.pb-8.pl-16.pr-16.bg-surface.bora-8.hover-button-blue Business
block footer 
    div(class="style-subpage style-blog")
        include components/footer/footer.pug
