extends base/layout.pug
block title
    title Blog Detail - Style 1
block header
    div(class="style-subpage style-blog style-five")
        include components/header/menu/menu-one.pug
block content 
    include mixins/blogItem.pug
    .bg-subpage
    .blog-detail-page.pt-60.pb-80
        .container 
            .row.flex-center
                .col-xl-8.col-lg-9.col-md-10
                    .heading.flex-column-center
                        .heading-infor.flex-center.gap-10.row-gap-4
                            .category.text-button.text-blue Performance Enhancement
                            i.ph-fill.ph-dot-outline.text-on-surface-variant1
                            .author.fw-400 Avitex
                            i.ph-fill.ph-dot-outline.text-on-surface-variant1
                            .date.fw-400 2 days ago
                        .title.heading3.text-center.mt-12 Navigating success: insights from business consulting experts
                    .blog-content.mt-40 
                        .main-img.bora-24.overflow-hidden
                            img(src="assets/images/component/bg-case-detail-benefit.png", alt="").w-100.d-block
                        .body2.text-on-surface-variant1.mt-40 Let us help you navigate the complexities of the financial world, maximize your earnings, and turn your creative passion into a lucrative venture. It's time to unleash your full potential and embark on a journey towards financial prosperity.
                        .body2.text-on-surface-variant1.mt-16 Saving money is an essential skill for financial stability and long-term success. We understand the importance of efficient resource management, and we're here to guide you through proven strategies to optimize your financial savings. Our experts will provide you with practical tips and insights, such as budgeting techniques, expense tracking, smart investment options, and ways to reduce unnecessary expenses.
                        .row.row-gap-32.mt-40
                            .col-sm-6 
                                img(src="assets/images/component/about4.png", alt="").w-100.bora-16
                            .col-sm-6 
                                img(src="assets/images/component/about5.png", alt="").w-100.bora-16
                        .heading5.mt-40 How to deal with employee quitting
                        .body2.text-on-surface-variant1.mt-16 Saving money is an essential skill for financial stability and long-term success. We understand the importance of efficient resource management, and we're here to guide you through proven strategies to optimize your financial savings. Our experts will provide you with practical tips and insights, such as budgeting techniques, expense tracking, smart investment options, and ways to reduce unnecessary expenses.
                        .list-li.mt-16
                            .body2.d-flex
                                i.ph-fill.ph-dot-outline.mt-4.d-block.fs-20
                                span.pl-8 Deep knowledge and experience with different security areas like identity and access management, cryptography, network security, etc.
                            .body2.d-flex.mt-8
                                i.ph-fill.ph-dot-outline.mt-4.d-block.fs-20
                                span.pl-8 Expert-level development skills in Java.
                            .body2.d-flex.mt-8
                                i.ph-fill.ph-dot-outline.mt-4.d-block.fs-20
                                span.pl-8 Ph.D. in the related field is a plus.
                            .body2.d-flex.mt-8
                                i.ph-fill.ph-dot-outline.mt-4.d-block.fs-20
                                span.pl-8 Strong fundamentals in computer science skills.
                            .body2.d-flex.mt-8
                                i.ph-fill.ph-dot-outline.mt-4.d-block.fs-20
                                span.pl-8 15+ years of industry experience designing, building, and supporting large-scale distributed systems in production, with recent experience in building large scale cloud services.
                            .body2.d-flex.mt-8
                                i.ph-fill.ph-dot-outline.mt-4.d-block.fs-20
                                span.pl-8 Deep knowledge and experience with different security areas like identity and access management, cryptography, network security, etc.
                            .body2.d-flex.mt-8
                                i.ph-fill.ph-dot-outline.mt-4.d-block.fs-20
                                span.pl-8 Experience with database systems and database internals, such as query engines and optimizers are a big plus.
                            .body2.d-flex.mt-8
                                i.ph-fill.ph-dot-outline.mt-4.d-block.fs-20
                                span.pl-8 Advanced degree in Computer Science or related degree.
                        .body2.text-on-surface-variant1.mt-16 Curabitur aliquam ac arcu in mattis. Phasellus pulvinar erat at aliquam hendrerit. Nam ut velit dolor. Sed fermentum tempus odio, ac faucibus elit scelerisque consequat. Fusce ac malesuada elit. Nam at aliquam libero, quis lacinia erat. In hac habitasse platea dictumst. Suspendisse id dolor orci. Vivamus at aliquam tellus. Vestibulum a augue ac purus suscipit varius non eget lectus. Nam lobortis mauris luctus tristique feugiat. Nulla eleifend risus sit amet nisi feugiat, id eleifend sapien malesuada. Phasellus venenatis convallis mattis. Duis vel tempor eros. Mauris semper sollicitudin neque, imperdiet ultrices urna maximus id.
                    .blog-tag.flex-between.mt-40.flex-wrap.gap-24
                        .tags.flex-item-center
                            .text-button.pr-12 Tag:
                            .list-tag.flex-item-center.flex-wrap.gap-12
                                a(href="blog.html").caption1.fw-700.pt-6.pb-6.pl-12.pr-12.bg-blue-surface.text-blue.bora-8.d-inline-block.hover-button-blue Healthcare
                                a(href="blog-two.html").caption1.fw-700.pt-6.pb-6.pl-12.pr-12.bg-blue-surface.text-blue.bora-8.d-inline-block.hover-button-blue Data
                                a(href="blog-three.html").caption1.fw-700.pt-6.pb-6.pl-12.pr-12.bg-blue-surface.text-blue.bora-8.d-inline-block.hover-button-blue IT Solutions
                        .share.flex-item-center.flex-wrap.gap-16
                            .text-button Share This Post:
                            .list-social.flex-item-center.gap-12
                                a(href="https://www.facebook.com/" target="_blank").item.bg-surface.bora-50.w-40.h-40.flex-center.hover-button-blue
                                    i.icon-facebook
                                a(href="https://www.linkedin.com/" target="_blank").item.bg-surface.bora-50.w-40.h-40.flex-center.hover-button-blue
                                    i.icon-linkedin.fs-14
                                a(href="https://www.twitter.com/" target="_blank").item.bg-surface.bora-50.w-40.h-40.flex-center.hover-button-blue
                                    i.icon-twitter.fs-14
                                a(href="https://www.instagram.com/" target="_blank").item.bg-surface.bora-50.w-40.h-40.flex-center.hover-button-blue
                                    i.icon-instagram.fs-14
                    .infor-below.mt-60
                        .border-line
                        .list-blog.flex-between.pt-24.pb-24.gap-24
                            .prev-block
                                a(href="blog-detail.html").text-start
                                    .text-button.text-on-surface-variant2 Previous
                                    .heading6.mt-4 How to choose the right customer 
                            .line-y
                            .next-block
                                a(href="blog-detail-two.html").text-end
                                    .text-button.text-on-surface-variant2 Next
                                    .heading6.mt-4 Starting your traveling blog with Vasco
                        .border-line
                    .blog-comment.mt-60
                        .heading.flex-between
                            .heading5 03 Comments 
                            .sort.flex-item-center.gap-8
                                .text-button Sort By:
                                select(name="sort").pt-6.pb-6.pl-8.pr-8.border-outline.bora-4
                                    option(value="Newest") Newest
                                    option(value="Oldest") Oldest
                                    option(value="Best Fit") Best Fit
                        .list-comment.mt-24
                            .comment-item.pb-24&attributes({"data-cmt":"cmt1"})
                                .heading.flex-between
                                    .left.flex-item-center.gap-16
                                        img.avatar(src="assets/images/avatar/3.png", alt="")
                                        .infor 
                                            .text-button Christina Georgina
                                            .caption1.text-on-surface-variant2 1 days ago
                                    .right 
                                        i.ph-fill.ph-dots-three-outline.text-on-surface-variant1
                                .content.mt-12 Metus vestibulum condimentum condimentum interdum suspendisse nostra id viverra aliquam curae dictum habitant cum venenatis a sem parturient eu ipsum suspendisse morbi suspendisse imperdiet curae commodo class.
                                .comment-infor.flex-between.mt-12
                                    .left.flex-item-center.gap-16
                                        .like.flex-item-center.pointer
                                            i.ph-light.ph-hands-clapping.fs-18
                                            .text-button.pl-4 20
                                        .cmt.flex-item-center.pointer
                                            i.ph.ph-chat.fs-18
                                            .text-button.pl-4 Show Replies
                                    .text-button.text-on-surface-variant1.pointer Reply
                            .list-reply.pl-40&attributes({"data-cmt":"cmt1"})
                                .comment-item.pb-24
                                    .heading.flex-between
                                        .left.flex-item-center.gap-16
                                            img.avatar(src="assets/images/avatar/1.png", alt="")
                                            .infor 
                                                .text-button Hayley Raymond
                                                .caption1.text-on-surface-variant2 1 days ago
                                        .right 
                                            i.ph-fill.ph-dots-three-outline.text-on-surface-variant1
                                    .content.mt-12 Metus vestibulum condimentum condimentum interdum suspendisse nostra id viverra aliquam curae dictum habitant cum venenatis a sem parturient eu ipsum suspendisse morbi suspendisse imperdiet curae commodo class.
                                    .comment-infor.flex-between.mt-12
                                        .left.flex-item-center.gap-16
                                            .like.flex-item-center.pointer
                                                i.ph-light.ph-hands-clapping.fs-18
                                                .text-button.pl-4 6
                                        .text-button.text-on-surface-variant1.pointer Reply
                            .border-line
                            .comment-item.pt-24.pb-24
                                .heading.flex-between
                                    .left.flex-item-center.gap-16
                                        img.avatar(src="assets/images/avatar/2.png", alt="")
                                        .infor 
                                            .text-button Justin Amstrong
                                            .caption1.text-on-surface-variant2 1 days ago
                                    .right 
                                        i.ph-fill.ph-dots-three-outline.text-on-surface-variant1
                                .content.mt-12 Metus vestibulum condimentum condimentum interdum suspendisse nostra id viverra aliquam curae dictum habitant cum venenatis a sem parturient eu ipsum suspendisse morbi suspendisse imperdiet curae commodo class.
                                .comment-infor.flex-between.mt-12
                                    .left.flex-item-center.gap-16
                                        .like.flex-item-center.pointer
                                            i.ph-light.ph-hands-clapping.fs-18
                                            .text-button.pl-4 14
                                    .text-button.text-on-surface-variant1.pointer Reply
                            .border-line
                    .blog-form-contact.mt-40.p-40.border-outline.bora-8
                        .heading5 Leave a Comment
                        form
                            .row.row-gap-20.mt-16
                                .col-sm-6 
                                    label Name
                                    input(type="text" placeholder="Your name").p-16.bora-8.bg-white.border-outline.w-100.mt-12
                                .col-sm-6
                                    label Email
                                    input(type="email" placeholder="hi.avitex@gmail.com").p-16.bora-8.bg-white.border-outline.w-100.mt-12
                                .col-12
                                    label Comment
                                    textarea(placeholder="Write comment").p-16.bora-8.bg-white.border-outline.mt-12
                            .checkbox.d-flex.mt-20 
                                input(type="checkbox", name="checkbox")
                                .caption1.text-on-surface-variant1.pl-8 Save my name, email, and website in this browser for the next time I comment.
                            button.button-blue.button-blue-hover.mt-32 Submit Comment
    include mixins/blogItem.pug
    .section-news.section-slide-shared.style-two.pb-80 
        .container
            .cursor.flex-center.gap-12
                i.ph.ph-caret-left.text-white
                i.ph.ph-caret-right.text-white
            .heading3.text-center Recent News Articles
            .text-center.mt-12 The Latest Innovations in Bytewave
            .list-news.mt-40
                .item
                    +blogItem({classname:'', style:'style-one', img:'assets/images/blog/item11.png', category:'Healthcare', title:'Navigating Success: Insights from Business Consulting Experts', desc:'Streamlining operations with a cloud-based EMR system for XYZ Medical Center...', date:'February 22, 2023'})
                .item
                    +blogItem({classname:'', style:'style-one', img:'assets/images/blog/item12.png', category:'E-commerce & Retail', title:"Strategies for Thriving: Unveiling Business Consulting's Impact", desc:'Thriving in a particular context, such as business, technology, or life....', date:'February 23, 2023'})
                .item
                    +blogItem({classname:'', style:'style-one', img:'assets/images/blog/item3.png', category:'Finance & Banking', title:'Elevating Business Performance: Exploring the World of Consulting', desc:'An exploration of the consulting world and its potential to enhance business performance...', date:'February 24, 2023'})
                .item
                    +blogItem({classname:'', style:'style-one', img:'assets/images/blog/item6.png', category:'Techlonogy', title:'Onlineization and Virtualization Trends Driving Tech Breakthroughs.', desc:'How the prevailing trends of onlineization and virtualization are serving as driving forces...', date:'February 25, 2023'})

block footer 
    div(class="style-subpage style-blog")
        include components/footer/footer.pug
