extends base/layout.pug
block title
    title Case Studies
block header
    div(class="style-subpage style-case-studies")
        include components/header/menu/menu-one.pug
block content 
    include mixins/headingSubpage.pug
    include mixins/blogItem.pug
    .bg-subpage
    div(class="style-case-studies")
        +headingSubpage({classname: 'pt-60', heading:true, headingTitle:'Success Stories', subHeading:'From Clients Who Achieved Excellence with ByteWave', category:'Case Studies', title:"Triumphs and Achievements. Our Success Stories", img:'assets/images/component/bg-case-studies.png'})
    .list-blog-page.section-case-studies.pt-80.pb-80
        .container
            .row.row-gap-40.list-news
                .col-sm-6.item
                    +blogItem({classname:'', style:'style-one', img:'assets/images/blog/item12.png', category:'Healthcare', title:'Navigating Success: Insights from Business Consulting Experts', desc:'Streamlining operations with a cloud-based EMR system for XYZ Medical Center...', date:'February 22, 2023'})
                .col-sm-6.item
                    +blogItem({classname:'', style:'style-one', img:'assets/images/blog/item11.png', category:'E-commerce & Retail', title:"Strategies for Thriving: Unveiling Business Consulting's Impact", desc:'Thriving in a particular context, such as business, technology, or life....', date:'February 23, 2023'})
                .col-sm-6.item
                    +blogItem({classname:'', style:'style-one', img:'assets/images/blog/item10.png', category:'Finance & Banking', title:'Elevating Business Performance: Exploring the World of Consulting', desc:'An exploration of the consulting world and its potential to enhance business performance...', date:'February 24, 2023'})
                .col-sm-6.item
                    +blogItem({classname:'', style:'style-one', img:'assets/images/blog/item1.png', category:'Techlonogy', title:'Onlineization and Virtualization Trends Driving Tech Breakthroughs.', desc:'How the prevailing trends of onlineization and virtualization are serving as driving forces...', date:'February 25, 2023'})
                .col-sm-6.item
                    +blogItem({classname:'', style:'style-one', img:'assets/images/blog/item8.png', category:'Healthcare', title:'Navigating Success: Insights from Business Consulting Experts', desc:'Streamlining operations with a cloud-based EMR system for XYZ Medical Center...', date:'February 22, 2023'})
                .col-sm-6.item
                    +blogItem({classname:'', style:'style-one', img:'assets/images/blog/item6.png', category:'Techlonogy', title:'Onlineization and Virtualization Trends Driving Tech Breakthroughs.', desc:'How the prevailing trends of onlineization and virtualization are serving as driving forces...', date:'February 25, 2023'})
            .list-nav-number.flex-center.mt-40
                a(href="#!").button-blue.button-blue-hover Load More
    div(class="style-case-studies pb-80")
        include components/home4/testimonial.pug
    include components/home1/contact.pug
block footer 
    div(class="style-subpage")
        include components/footer/footer.pug
