extends base/layout.pug
block title
    title Case Studies Style 2
block header
    div(class="style-subpage style-case-studies style-two")
        include components/header/menu/menu-one.pug
block content 
    include mixins/headingContent.pug
    include mixins/headingTitle.pug
    include mixins/blogItem.pug
    .bg-subpage
    +headingTitle({classname: 'pt-60', style:'style-desc', title:'Success Stories', desc:'From Clients Who Achieved Excellence with ByteWave'})
    +headingContent({classname: 'pt-60', style:'style-one', category:'Case Studies', title:'Real Results, Real Success', desc:"These real-world examples showcase how we've helped clients overcome challenges, achieve their goals, and drive measurable success through our services.", img:'assets/images/component/bg-blog.png'})
    .list-case-studies.pt-80.pb-80
        .container
            .row.row-gap-40
                .col-sm-6.item
                    .item-main 
                        .bg-img 
                            img(src="assets/images/blog/item13.png", alt="").w-100
                        a(href="case-studies-detail.html").infor.flex-column-center.bg-white.pt-24.pb-24.pl-20.pr-20
                            .caption1.fw-700.text-blue.bg-blue-surface.display-inline-block.pt-4.pb-4.pl-10.pr-10.bora-8 Performance Enhancement
                            .heading5.text-center.mt-12 Demystifying IT services: exploring tech trends
                .col-sm-6.item
                    .item-main 
                        .bg-img 
                            img(src="assets/images/blog/item11.png", alt="").w-100
                        a(href="case-studies-detail.html").infor.flex-column-center.bg-white.pt-24.pb-24.pl-20.pr-20
                            .caption1.fw-700.text-blue.bg-blue-surface.display-inline-block.pt-4.pb-4.pl-10.pr-10.bora-8 Performance Enhancement
                            .heading5.text-center.mt-12 Demystifying IT services: exploring tech trends
                .col-sm-6.item
                    .item-main 
                        .bg-img 
                            img(src="assets/images/blog/item1.png", alt="").w-100
                        a(href="case-studies-detail.html").infor.flex-column-center.bg-white.pt-24.pb-24.pl-20.pr-20
                            .caption1.fw-700.text-blue.bg-blue-surface.display-inline-block.pt-4.pb-4.pl-10.pr-10.bora-8 Performance Enhancement
                            .heading5.text-center.mt-12 Demystifying IT services: exploring tech trends
                .col-sm-6.item
                    .item-main 
                        .bg-img 
                            img(src="assets/images/blog/item3.png", alt="").w-100
                        a(href="case-studies-detail.html").infor.flex-column-center.bg-white.pt-24.pb-24.pl-20.pr-20
                            .caption1.fw-700.text-blue.bg-blue-surface.display-inline-block.pt-4.pb-4.pl-10.pr-10.bora-8 Performance Enhancement
                            .heading5.text-center.mt-12 Demystifying IT services: exploring tech trends
                .col-sm-6.item
                    .item-main 
                        .bg-img 
                            img(src="assets/images/blog/item5.png", alt="").w-100
                        a(href="case-studies-detail.html").infor.flex-column-center.bg-white.pt-24.pb-24.pl-20.pr-20
                            .caption1.fw-700.text-blue.bg-blue-surface.display-inline-block.pt-4.pb-4.pl-10.pr-10.bora-8 Performance Enhancement
                            .heading5.text-center.mt-12 Demystifying IT services: exploring tech trends
                .col-sm-6.item
                    .item-main 
                        .bg-img 
                            img(src="assets/images/blog/item4.png", alt="").w-100
                        a(href="case-studies-detail.html").infor.flex-column-center.bg-white.pt-24.pb-24.pl-20.pr-20
                            .caption1.fw-700.text-blue.bg-blue-surface.display-inline-block.pt-4.pb-4.pl-10.pr-10.bora-8 Performance Enhancement
                            .heading5.text-center.mt-12 Demystifying IT services: exploring tech trends
            .list-nav-number.flex-center.mt-40
                a(href="#!").button-blue.button-blue-hover Load More

    div(class="style-case-studies pb-80")
        include components/home4/testimonial.pug
    include components/home1/contact.pug
block footer 
    div(class="style-subpage")
        include components/footer/footer.pug
