extends base/layout.pug
block title
    title Check out
block header
    div(class="style-subpage style-pages style-eight")
        include components/header/menu/menu-one.pug
block content 
    .breadcrum-heading.bg-breadcrum
        .container 
            .flex-item-center.pt-8.pb-8
                a(href="index.html").fw-500.text-on-surface-variant2 Home 
                i.ph-fill.ph-dot-outline.text-on-surface-variant2.pl-12
                .fw-500.pl-12 Check out 
    .checkout-block-main.pt-80.pb-80 
        .container 
            .row.row-gap-40.flex-wrap-reverse
                .col-lg-8 
                    .login.bg-surface.pt-12.pb-12.pl-16.pr-16.flex-between.bora-4
                        .left.flex-item-center
                            span.text-on-surface-variant1.pr-4 Already have an account? 
                            span.text-button.text-on-surface.hover-underline.pointer Login
                        .right
                            i.ph.ph-caret-down.fs-20.d-block.pointer
                    .form-login-block 
                        form.p-20.border-outline.bora-8
                            .row
                                .email.col-sm-6
                                    label(for="username") Username or email address
                                    input#username(type="text" placeholder="Username or email").mt-12.border-outline.pl-16.pr-16.pt-12.pb-12.w-100.bora-4
                                .pass.col-sm-6
                                    label(for="password") Password
                                    input#password(type="password" placeholder="Password").mt-12.border-outline.pl-16.pr-16.pt-12.pb-12.w-100.bora-4
                            .block-button.mt-12
                                button.button-blue.button-blue-hover Login
                    .information.mt-40 
                        .heading5 Information
                        .form-checkout.mt-16 
                            form
                                .row.row-gap-20
                                    .col-sm-6
                                        label(for="firstName") First Name
                                        input#firstName(type="text" placeholder="First Name").mt-12.border-outline.pl-16.pr-16.pt-12.pb-12.w-100.bora-4
                                    .col-sm-6
                                        label(for="lastName") Last Name
                                        input#lastName(type="text" placeholder="Last Name").mt-12.border-outline.pl-16.pr-16.pt-12.pb-12.w-100.bora-4
                                    .col-sm-6
                                        label(for="email") Your Email
                                        input#email(type="email" placeholder="Your Email").mt-12.border-outline.pl-16.pr-16.pt-12.pb-12.w-100.bora-4
                                    .col-sm-6
                                        label(for="phoneNumber") Phone Numbers
                                        input#phoneNumber(type="number" placeholder="Phone Numbers").mt-12.border-outline.pl-16.pr-16.pt-12.pb-12.w-100.bora-4
                                    .col-12
                                        label(for="region") Country/Region
                                        select#region(name="region").mt-12.border-outline.pl-16.pr-16.pt-12.pb-12.w-100.bora-4
                                            option(value="India") India
                                            option(value="France") France
                                            option(value="Singapore") Singapore
                                        i.ph.ph-caret-down
                                    .col-sm-6
                                        label(for="city") Town/City
                                        input#city(type="text" placeholder="Town/City").mt-12.border-outline.pl-16.pr-16.pt-12.pb-12.w-100.bora-4
                                    .col-sm-6
                                        label(for="apartment") Apartment,suite,... (Optional)
                                        input#apartment(type="text" placeholder="Street,...").mt-12.border-outline.pl-16.pr-16.pt-12.pb-12.w-100.bora-4
                                    .col-sm-4
                                        label(for="country") Country
                                        select#country(name="country").mt-12.border-outline.pl-16.pr-16.pt-12.pb-12.w-100.bora-4
                                            option(value="India") India
                                            option(value="France") France
                                            option(value="Singapore") Singapore
                                        i.ph.ph-caret-down
                                    .col-sm-4
                                        label(for="state") State
                                        select#state(name="state").mt-12.border-outline.pl-16.pr-16.pt-12.pb-12.w-100.bora-4
                                            option(value="Single") Single
                                            option(value="Married") Married
                                        i.ph.ph-caret-down
                                    .col-sm-4
                                        label(for="postal") Postal Code*
                                        input#postal(type="text" placeholder="ex.12345").mt-12.border-outline.pl-16.pr-16.pt-12.pb-12.w-100.bora-4
                                    .col-12
                                        label(for="note") Note
                                        textarea#note(name="note" cols="30" rows="3" placeholder="Write note...").mt-12.border-outline.pl-16.pr-16.pt-12.pb-12.w-100.bora-4
                                .payment-block.mt-40 
                                    .heading5 Choose payment Option:
                                    .list-payment.mt-16
                                        .type.p-20.border-outline.bora-4
                                            input(type="radio", id="credit" name="payment").pointer
                                            label(for="credit").text-button.pl-8.pointer Credit Card
                                            .infor 
                                                .text-on-surface-variant1.mt-4 Make your payment directly into our bank account. Your order will not be shipped until the funds have cleared in our account.
                                                .row 
                                                    .col-12.mt-12 
                                                        .bg-img
                                                            img(src="assets/images/component/payment.png", alt="")
                                                        label(for="cardNumberCredit") Card Numbers
                                                        input(type="text", id="cardNumberCredit" placeholder="ex.1234567890").pointer.border-outline.pl-16.pr-16.pt-12.pb-12.w-100.bora-4.mt-8
                                                    .col-sm-6.mt-12 
                                                        label(for="dateCredit") Date
                                                        input(type="date", id="dateCredit" name="date").border-outline.pl-16.pr-16.pt-12.pb-12.w-100.bora-4.mt-8
                                                    .col-sm-6.mt-12 
                                                        label(for="ccvCredit") CCV
                                                        input(type="text", id="ccvCredit" placeholder="****").pointer.border-outline.pl-16.pr-16.pt-12.pb-12.w-100.bora-4.mt-8
                                                .flex-item-center.gap-8.mt-12
                                                    input(type="checkbox", id="saveCredit" name="save")
                                                    label(for="saveCredit").text-button Save Card Details
                                        .type.p-20.border-outline.bora-4.mt-20
                                            input(type="radio", id="delivery" name="payment").pointer
                                            label(for="delivery").text-button.pl-8.pointer Cash on delivery
                                            .infor 
                                                .text-on-surface-variant1.mt-4 Make your payment directly into our bank account. Your order will not be shipped until the funds have cleared in our account.
                                                .row 
                                                    .col-12.mt-12 
                                                        .bg-img
                                                            img(src="assets/images/component/payment.png", alt="")
                                                        label(for="cardNumberDelivery") Card Numbers
                                                        input(type="text", id="cardNumberDelivery" placeholder="ex.1234567890").pointer.border-outline.pl-16.pr-16.pt-12.pb-12.w-100.bora-4.mt-8
                                                    .col-sm-6.mt-12 
                                                        label(for="dateDelivery") Date
                                                        input(type="date", id="dateDelivery" name="date").border-outline.pl-16.pr-16.pt-12.pb-12.w-100.bora-4.mt-8
                                                    .col-sm-6.mt-12 
                                                        label(for="ccvDelivery") CCV
                                                        input(type="text", id="ccvDelivery" placeholder="****").pointer.border-outline.pl-16.pr-16.pt-12.pb-12.w-100.bora-4.mt-8
                                                .flex-item-center.gap-8.mt-12
                                                    input(type="checkbox", id="saveDelivery" name="save")
                                                    label(for="saveDelivery").text-button Save Card Details
                                        .type.p-20.border-outline.bora-4.mt-20
                                            input(type="radio", id="apple" name="payment").pointer
                                            label(for="apple").text-button.pl-8.pointer Apple Pay
                                            .infor 
                                                .text-on-surface-variant1.mt-4 Make your payment directly into our bank account. Your order will not be shipped until the funds have cleared in our account.
                                                .row 
                                                    .col-12.mt-12 
                                                        .bg-img
                                                            img(src="assets/images/component/payment.png", alt="")
                                                        label(for="cardNumberApple") Card Numbers
                                                        input(type="text", id="cardNumberApple" placeholder="ex.1234567890").pointer.border-outline.pl-16.pr-16.pt-12.pb-12.w-100.bora-4.mt-8
                                                    .col-sm-6.mt-12 
                                                        label(for="dateApple") Date
                                                        input(type="date", id="dateApple" name="date").border-outline.pl-16.pr-16.pt-12.pb-12.w-100.bora-4.mt-8
                                                    .col-sm-6.mt-12 
                                                        label(for="ccvApple") CCV
                                                        input(type="text", id="ccvApple" placeholder="****").pointer.border-outline.pl-16.pr-16.pt-12.pb-12.w-100.bora-4.mt-8
                                                .flex-item-center.gap-8.mt-12
                                                    input(type="checkbox", id="saveApple" name="save")
                                                    label(for="saveApple").text-button Save Card Details
                                        .type.p-20.border-outline.bora-4.mt-20
                                            input(type="radio", id="paypal" name="payment").pointer
                                            label(for="paypal").pl-8.pointer 
                                                img(src="assets/images/component/paypal.svg", alt="")
                                            .infor 
                                                .text-on-surface-variant1.mt-4 Make your payment directly into our bank account. Your order will not be shipped until the funds have cleared in our account.
                                                .row 
                                                    .col-12.mt-12 
                                                        .bg-img
                                                            img(src="assets/images/component/payment.png", alt="")
                                                        label(for="cardNumberPaypal") Card Numbers
                                                        input(type="text", id="cardNumberPaypal" placeholder="ex.1234567890").pointer.border-outline.pl-16.pr-16.pt-12.pb-12.w-100.bora-4.mt-8
                                                    .col-sm-6.mt-12 
                                                        label(for="datePaypal") Date
                                                        input(type="date", id="datePaypal" name="date").border-outline.pl-16.pr-16.pt-12.pb-12.w-100.bora-4.mt-8
                                                    .col-sm-6.mt-12 
                                                        label(for="ccvPaypal") CCV
                                                        input(type="text", id="ccvPaypal" placeholder="****").pointer.border-outline.pl-16.pr-16.pt-12.pb-12.w-100.bora-4.mt-8
                                                .flex-item-center.gap-8.mt-12
                                                    input(type="checkbox", id="savePaypal" name="save")
                                                    label(for="savePaypal").text-button Save Card Details
                                .block-button.mt-40 
                                    button.button-blue.button-blue-hover.w-100 Payment
                .col-lg-4.pl-45.pl-col-lg-0
                    .checkout-block.p-24.border-outline.bora-8
                        .heading5 Your Order
                        .list-product-checkout
                        
                        .total-block.pt-20.pb-20.flex-between.border-underline-outline
                            .text-button Subtotal
                            .text-button.total-product $0.00
                        .discount-block.pt-20.pb-20.flex-between.border-underline-outline
                            .text-button Discounts
                            .text-button -$
                                span.discount 10
                                span .00
                        .ship-block.pt-20.pb-20.flex-between.border-underline-outline
                            .text-button Shipping
                            .choose-type.d-flex.gap-12
                                .left 
                                    .type
                                        input#shipping(type="radio", name="ship", checked)
                                        label(for="shipping").pl-4 Free Shipping:
                                    .type.mt-4
                                        input#local(type="radio", name="ship")
                                        label(for="local").text-on-surface-variant1.pl-4 Local:
                                    .type.mt-4
                                        input#flat(type="radio", name="ship")
                                        label(for="flat").text-on-surface-variant1.pl-4 Flat Rate:
                                .right 
                                    .ship $0.00
                                    .local.text-on-surface-variant1.mt-4 $35.00
                                    .flat.text-on-surface-variant1.mt-4 $35.00
                        .total-cart-block.pt-20.flex-between 
                            .heading5 Total
                            .heading5.total-cart $0.00
block footer 
    div(class="style-subpage style-blog")
        include components/footer/footer.pug
