extends base/layout.pug
block title
    title Home 5 - Finance
block header
    div(class="menu-style-two menu-style-three menu-style-five")
        include components/header/menu/menu-five.pug
block content
    include components/slider/slider-five.pug
    include components/home5/benefit.pug
    include components/home5/solution.pug
    include components/home5/about.pug
    include components/home5/industry-above.pug
    include components/home5/testimonial.pug
    include components/home5/newsletter.pug
    include components/home5/industry-below.pug
    include components/home5/blog.pug
    include components/home5/contact.pug
block footer 
    div(class="footer-style-three footer-style-four")
        include components/footer/footer-four.pug