extends base/layout.pug
block title
    title Home 2 - Business Consulting
block header
    include components/header/top-nav/top-nav-two.pug
    div(class="menu-style-two")
        include components/header/menu/menu-two.pug
block content
    include components/slider/slider-two.pug
    include components/home2/about.pug
    include components/home2/benefit.pug
    include components/home2/solution.pug
    include components/home2/counter.pug
    include components/home2/banner.pug
    include components/home2/testimonial.pug
    include components/home2/news.pug
    include components/home1/brand.pug
    include components/home1/contact.pug
    include components/modal-video.pug
block footer 
    include components/footer/footer.pug