extends base/layout.pug
block title
    title Home 7 - Helpdesk
block header
    div(class="menu-style-two menu-style-four menu-style-seven")
        include components/header/menu/menu-seven.pug
block content
    include components/slider/slider-seven.pug
    include components/home7/solution.pug
    include components/home7/about-first.pug
    include components/home7/about-second.pug
    include components/home7/about-third.pug
    include components/home7/pricing.pug
    include components/home7/newsletter.pug
    include components/home7/testimonial.pug
    include components/modal-video.pug
block footer 
    div(class="footer-style-three footer-style-four")
        include components/footer/footer-four.pug