extends base/layout.pug
block title
    title Home 6 - Digital SEO Marketing
block header
    div(class="menu-style-two menu-style-four menu-style-six")
        include components/header/menu/menu-six.pug
block content
    include components/slider/slider-six.pug
    include components/home6/benefit-above.pug
    include components/home6/about.pug
    include components/home6/banner.pug
    include components/home6/solution.pug
    include components/home6/benefit-below.pug
    include components/home6/success-stories.pug
    include components/home6/pricing.pug
    div(class="brand-style-six")
        include components/home1/brand.pug
    include components/home6/testimonial.pug
    include components/home6/news.pug
    include components/modal-video.pug
block footer 
    div(class="footer-style-three footer-style-four footer-style-six")
        include components/footer/footer-four.pug