extends base/layout.pug
block title
    title Home 4 - Digital Agency
block header
    div(class="menu-style-two menu-style-four")
        include components/header/menu/menu-four.pug
block content
    include components/slider/slider-four.pug
    div(class="banner-style-four")
        include components/home4/banner.pug
    include components/home4/benefit.pug
    include components/home4/about.pug
    include components/home4/solution.pug
    include components/home4/portfolio.pug
    include components/home4/testimonial.pug
    include components/home4/news.pug
    include components/home4/newsletter.pug
block footer 
    div(class="footer-style-three footer-style-four")
        include components/footer/footer-four.pug