extends base/layout.pug
block title
    title Home 1 - IT Services
block header
    include components/header/menu/menu-one.pug
block content
    include components/slider/slider-one.pug
    include components/home1/about.pug
    include components/home1/benefit.pug
    include components/home1/solution.pug
    include components/home1/service.pug
    include components/home1/case-studies.pug
    include components/home1/banner.pug
    include components/home1/brand.pug
    include components/home1/testimonial.pug
    include components/home1/contact.pug
    include components/popup-newsletter.pug
block footer 
    include components/footer/footer.pug
