extends base/layout.pug
block title
    title List Testimonials
block header
    div(class="style-subpage style-company style-five")
        include components/header/menu/menu-one.pug
block content 
    include mixins/headingTitle.pug
    include mixins/headingContent.pug
    include mixins/blogItem.pug
    .bg-subpage
    +headingTitle({classname: 'pt-60', style:'style-desc', title:'Our Work Speaks for Itself', desc:'Feedback from Our Valued Clients'})
    +headingContent({classname: 'pt-60', style:'style-one', category:'Testimonials', title:'Words from Our Satisfied Clients', desc:'These testimonials from our satisfied clients are more than just words; they are a testament to our unwavering commitment to excellence.', img:'assets/images/component/bg-case-detail.png'})
    .list-testimonials-block.pt-80.pb-80
        .container 
            .heading3.text-center  Our Work Speaks for Itself
            .row.row-gap-32.mt-40 
                .col-lg-4.col-sm-6
                    .item.pl-32.pr-32.pt-40.pb-40.bg-white.bora-16.flex-item-center.gap-20.border-outline.h-100
                        .content
                            .star.flex-item-center.gap-1
                                i.ph-fill.ph-star.fs-20.text-yellow
                                i.ph-fill.ph-star.fs-20.text-yellow
                                i.ph-fill.ph-star.fs-20.text-yellow
                                i.ph-fill.ph-star.fs-20.text-yellow
                                i.ph-fill.ph-star.fs-20.text-yellow
                            .body2.mt-12 As our CTO, Sarah is the visionary leader responsible for shaping our technology strategy. With over 15 years of experience in the tech industry, she has a deep understanding of emerging technologies.
                            .infor.flex-item-center.mt-24
                                img(src="assets/images/avatar/IMG-1.png", alt="").bora-50.w-60.h-60.object-fit-cover.display-block
                                .user.pl-12
                                    .text-title Christina Smith
                                    .caption1.text-on-surface-variant1 Marketing JIDE
                .col-lg-4.col-sm-6
                    .item.pl-32.pr-32.pt-40.pb-40.bg-white.bora-16.flex-item-center.gap-20.border-outline.h-100
                        .content
                            .star.flex-item-center.gap-1
                                i.ph-fill.ph-star.fs-20.text-yellow
                                i.ph-fill.ph-star.fs-20.text-yellow
                                i.ph-fill.ph-star.fs-20.text-yellow
                                i.ph-fill.ph-star.fs-20.text-yellow
                                i.ph-fill.ph-star.fs-20.text-yellow
                            .body2.mt-12 David is the friendly face behind our exceptional customer service. With a warm and approachable demeanor, he's our clients' go-to person for any questions or concerns.
                            .infor.flex-item-center.mt-24
                                img(src="assets/images/avatar/IMG-2.png", alt="").bora-50.w-60.h-60.object-fit-cover.display-block
                                .user.pl-12
                                    .text-title Cameron Williamson
                                    .caption1.text-on-surface-variant1 DevOps Hant
                .col-lg-4.col-sm-6
                    .item.pl-32.pr-32.pt-40.pb-40.bg-white.bora-16.flex-item-center.gap-20.border-outline.h-100
                        .content
                            .star.flex-item-center.gap-1
                                i.ph-fill.ph-star.fs-20.text-yellow
                                i.ph-fill.ph-star.fs-20.text-yellow
                                i.ph-fill.ph-star.fs-20.text-yellow
                                i.ph-fill.ph-star.fs-20.text-yellow
                                i.ph-fill.ph-star.fs-20.text-yellow
                            .body2.mt-12 As our lead designer, she combines aesthetics with functionality to craft visually captivating and user-friendly solutions. Lisa's attention to detail ensures that every project exceeds our clients' expectations.
                            .infor.flex-item-center.mt-24
                                img(src="assets/images/avatar/IMG-3.png", alt="").bora-50.w-60.h-60.object-fit-cover.display-block
                                .user.pl-12
                                    .text-title Jerome Bell
                                    .caption1.text-on-surface-variant1 Designer GYE
                .col-lg-4.col-sm-6
                    .item.pl-32.pr-32.pt-40.pb-40.bg-white.bora-16.flex-item-center.gap-20.border-outline.h-100
                        .content
                            .star.flex-item-center.gap-1
                                i.ph-fill.ph-star.fs-20.text-yellow
                                i.ph-fill.ph-star.fs-20.text-yellow
                                i.ph-fill.ph-star.fs-20.text-yellow
                                i.ph-fill.ph-star.fs-20.text-yellow
                                i.ph-fill.ph-star.fs-20.text-yellow
                            .body2.mt-12 At the forefront of our software development projects is Michael. His coding prowess and problem-solving skills are second to none. Michael's dedication to writing clean, efficient code ensures that our software solutions are robust, secure, and highly effective.
                            .infor.flex-item-center.mt-24
                                img(src="assets/images/avatar/IMG-4.png", alt="").bora-50.w-60.h-60.object-fit-cover.display-block
                                .user.pl-12
                                    .text-title Eleanor Pena
                                    .caption1.text-on-surface-variant1 CEO Digital
                .col-lg-4.col-sm-6
                    .item.pl-32.pr-32.pt-40.pb-40.bg-white.bora-16.flex-item-center.gap-20.border-outline.h-100
                        .content
                            .star.flex-item-center.gap-1
                                i.ph-fill.ph-star.fs-20.text-yellow
                                i.ph-fill.ph-star.fs-20.text-yellow
                                i.ph-fill.ph-star.fs-20.text-yellow
                                i.ph-fill.ph-star.fs-20.text-yellow
                                i.ph-fill.ph-star.fs-20.text-yellow
                            .body2.mt-12 Emily is the driving force behind our marketing efforts. Her innovative campaigns and strategic insights connect us with our audience and help us share our story effectively. She's adept at navigating the ever-changing landscape of digital marketing to drive results.
                            .infor.flex-item-center.mt-24
                                img(src="assets/images/avatar/IMG-5.png", alt="").bora-50.w-60.h-60.object-fit-cover.display-block
                                .user.pl-12
                                    .text-title Savannah Nguyen
                                    .caption1.text-on-surface-variant1 CEO Avitex
                .col-lg-4.col-sm-6
                    .item.pl-32.pr-32.pt-40.pb-40.bg-white.bora-16.flex-item-center.gap-20.border-outline.h-100
                        .content
                            .star.flex-item-center.gap-1
                                i.ph-fill.ph-star.fs-20.text-yellow
                                i.ph-fill.ph-star.fs-20.text-yellow
                                i.ph-fill.ph-star.fs-20.text-yellow
                                i.ph-fill.ph-star.fs-20.text-yellow
                                i.ph-fill.ph-star.fs-20.text-yellow
                            .body2.mt-12 Nathan is our data guru. His analytical mindset and ability to extract valuable insights from complex data sets empower our clients to make data-driven decisions. With Nathan's expertise, we turn data into actionable intelligence.
                            .infor.flex-item-center.mt-24
                                img(src="assets/images/avatar/IMG-6.png", alt="").bora-50.w-60.h-60.object-fit-cover.display-block
                                .user.pl-12
                                    .text-title Wade Warren
                                    .caption1.text-on-surface-variant1 Leader FPRO
            .list-more.mt-32    
                .load-more-btn.text-center 
                    button.button-blue.button-blue-hover 
                        span Load more
                        i.ph.ph-circle-notch.text-white.fs-20
                .row.row-gap-32.list
                    .col-lg-4.col-sm-6
                        .item.pl-32.pr-32.pt-40.pb-40.bg-white.bora-16.flex-item-center.gap-20.border-outline.h-100
                            .content
                                .star.flex-item-center.gap-1
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                .body2.mt-12 Their team's expertise and commitment to excellence are unmatched. They delivered our project ahead of schedule and exceeded our expectations. We're thrilled with the results and look forward to future collaborations.
                                .infor.flex-item-center.mt-24
                                    img(src="assets/images/avatar/IMG-7.png", alt="").bora-50.w-60.h-60.object-fit-cover.display-block
                                    .user.pl-12
                                        .text-title Albert Flores
                                        .caption1.text-on-surface-variant1 Designer Lode
                    .col-lg-4.col-sm-6
                        .item.pl-32.pr-32.pt-40.pb-40.bg-white.bora-16.flex-item-center.gap-20.border-outline.h-100
                            .content
                                .star.flex-item-center.gap-1
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                .body2.mt-12 “From the initial consultation to project completion, demonstrated exceptional professionalism and attention to detail. They understood our unique needs and tailored their solutions to perfection. Their customer-centric approach is truly commendable."
                                .infor.flex-item-center.mt-24
                                    img(src="assets/images/avatar/IMG-8.png", alt="").bora-50.w-60.h-60.object-fit-cover.display-block
                                    .user.pl-12
                                        .text-title Guy Hawkins
                                        .caption1.text-on-surface-variant1 CEO Square
                    .col-lg-4.col-sm-6
                        .item.pl-32.pr-32.pt-40.pb-40.bg-white.bora-16.flex-item-center.gap-20.border-outline.h-100
                            .content
                                .star.flex-item-center.gap-1
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                .body2.mt-12 I can't express how satisfied I am with the services provided by ByteWare. They not only delivered a cutting-edge website but also provided ongoing support that has been invaluable to our business. Their dedication to our success is evident in every interaction.
                                .infor.flex-item-center.mt-24
                                    img(src="assets/images/avatar/IMG-9.png", alt="").bora-50.w-60.h-60.object-fit-cover.display-block
                                    .user.pl-12
                                        .text-title Dianne Russell
                                        .caption1.text-on-surface-variant1 DevOps Digital Avitex
                    .col-lg-4.col-sm-6
                        .item.pl-32.pr-32.pt-40.pb-40.bg-white.bora-16.flex-item-center.gap-20.border-outline.h-100
                            .content
                                .star.flex-item-center.gap-1
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                .body2.mt-12 Bytewave consistently goes above and beyond. They have a knack for turning complex concepts into user-friendly solutions. Their team is responsive, innovative, and a pleasure to work with. I highly recommend them to anyone seeking top-tier IT services."
                                .infor.flex-item-center.mt-24
                                    img(src="assets/images/avatar/IMG-10.png", alt="").bora-50.w-60.h-60.object-fit-cover.display-block
                                    .user.pl-12
                                        .text-title Ralph Edwards
                                        .caption1.text-on-surface-variant1 CEO Hunix
                    .col-lg-4.col-sm-6
                        .item.pl-32.pr-32.pt-40.pb-40.bg-white.bora-16.flex-item-center.gap-20.border-outline.h-100
                            .content
                                .star.flex-item-center.gap-1
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                .body2.mt-12 We've been partnering with Byteware for several years, and they continue to impress us with their expertise and reliability. Their IT solutions have streamlined our operations and contributed to our growth. They are an indispensable part of our success.
                                .infor.flex-item-center.mt-24
                                    img(src="assets/images/avatar/IMG-11.png", alt="").bora-50.w-60.h-60.object-fit-cover.display-block
                                    .user.pl-12
                                        .text-title Jacob Jones
                                        .caption1.text-on-surface-variant1 Leader Avitex
                    .col-lg-4.col-sm-6
                        .item.pl-32.pr-32.pt-40.pb-40.bg-white.bora-16.flex-item-center.gap-20.border-outline.h-100
                            .content
                                .star.flex-item-center.gap-1
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                    i.ph-fill.ph-star.fs-20.text-yellow
                                .body2.mt-12 Byteware stands out for their technical prowess and dedication to excellence. Their team's ability to adapt to our evolving needs is commendable. They have consistently delivered on time and within budget. We consider them a valuable extension of our team.
                                .infor.flex-item-center.mt-24
                                    img(src="assets/images/avatar/IMG-12.png", alt="").bora-50.w-60.h-60.object-fit-cover.display-block
                                    .user.pl-12
                                        .text-title Arlene McCoy
                                        .caption1.text-on-surface-variant1 CEO FPTU
                
    include components/home1/contact.pug
block footer 
    div(class="style-subpage")
        include components/footer/footer.pug
