extends base/layout.pug
block title
    title Our Team
block header
    div(class="style-subpage style-company style-two")
        include components/header/menu/menu-one.pug
block content 
    include mixins/headingTitle.pug
    include mixins/headingContent.pug
    include mixins/blogItem.pug
    .bg-subpage
    +headingTitle({classname: 'pt-60', style:'style-desc', title:'Meet Our Team', desc:'Get Acquainted with the Exceptional Individuals Comprising Our Talented Team.'})
    +headingContent({classname: 'pt-60', style:'style-two', desc:'American tech companies continue to propel the nation’s economy forward. Not only has technological innovation become an integral part of the way we live, it is also important to our nation’s economic success.', img:'assets/images/component/bg-heading-style2.png'})
    .teams-block.section-news.section-our-leader.style-two.pt-80.pb-80 
        .container
            .heading3.text-center Our Leadership
            .list-member.list-news.list-leader.mt-40
                .item.member-item
                    .main-item
                        a(href="team-detail.html").bg-img 
                            img(src="assets/images/avatar/IMG-1.png", alt="").w-100.bora-28
                        .member-infor.mt-20.flex-between 
                            a(href="team-detail.html").left 
                                .name.heading5 John Smith
                                .position.caption1.text-on-surface-variant1.mt-4 Graphic Designer
                            .right.flex-item-center.gap-12 
                                a(href="https://facebook.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-facebook
                                a(href="https://linkedin.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-linkedin
                                a(href="https://twitter.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-twitter
                .item.member-item
                    .main-item
                        a(href="team-detail.html").bg-img 
                            img(src="assets/images/avatar/IMG-2.png", alt="").w-100.bora-28
                        .member-infor.mt-20.flex-between 
                            a(href="team-detail.html").left 
                                .name.heading5 Lucas William
                                .position.caption1.text-on-surface-variant1.mt-4 CEM - digiNova
                            .right.flex-item-center.gap-12 
                                a(href="https://facebook.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-facebook
                                a(href="https://linkedin.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-linkedin
                                a(href="https://twitter.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-twitter
                .item.member-item
                    .main-item
                        a(href="team-detail.html").bg-img 
                            img(src="assets/images/avatar/IMG-3.png", alt="").w-100.bora-28
                        .member-infor.mt-20.flex-between 
                            a(href="team-detail.html").left 
                                .name.heading5 Floyd Miles
                                .position.caption1.text-on-surface-variant1.mt-4 Photographer
                            .right.flex-item-center.gap-12 
                                a(href="https://facebook.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-facebook
                                a(href="https://linkedin.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-linkedin
                                a(href="https://twitter.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-twitter
                .item.member-item
                    .main-item
                        a(href="team-detail.html").bg-img 
                            img(src="assets/images/avatar/IMG-4.png", alt="").w-100.bora-28
                        .member-infor.mt-20.flex-between 
                            a(href="team-detail.html").left 
                                .name.heading5 Chris Patt
                                .position.caption1.text-on-surface-variant1.mt-4 Photographer
                            .right.flex-item-center.gap-12 
                                a(href="https://facebook.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-facebook
                                a(href="https://linkedin.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-linkedin
                                a(href="https://twitter.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-twitter
                .item.member-item
                    .main-item
                        a(href="team-detail.html").bg-img 
                            img(src="assets/images/avatar/IMG-5.png", alt="").w-100.bora-28
                        .member-infor.mt-20.flex-between 
                            a(href="team-detail.html").left 
                                .name.heading5 Kathryn Murphy
                                .position.caption1.text-on-surface-variant1.mt-4 Graphic Designer
                            .right.flex-item-center.gap-12 
                                a(href="https://facebook.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-facebook
                                a(href="https://linkedin.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-linkedin
                                a(href="https://twitter.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-twitter
                .item.member-item
                    .main-item
                        a(href="team-detail.html").bg-img 
                            img(src="assets/images/avatar/IMG-6.png", alt="").w-100.bora-28
                        .member-infor.mt-20.flex-between 
                            a(href="team-detail.html").left 
                                .name.heading5 Katty Perry
                                .position.caption1.text-on-surface-variant1.mt-4 CEO - AIbank
                            .right.flex-item-center.gap-12 
                                a(href="https://facebook.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-facebook
                                a(href="https://linkedin.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-linkedin
                                a(href="https://twitter.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-twitter
                
    div(class="style-about-us")
        include components/home7/about-first.pug
    .teams-block.pt-80.pb-80
        .container
            .heading3 Team Member
            .list-member.row.row-gap-32.mt-40 
                .col-lg-3.col-sm-6
                    .member-item 
                        a(href="team-detail.html").bg-img 
                            img(src="assets/images/avatar/IMG-7.png", alt="").w-100.bora-28
                        .member-infor.mt-20.flex-between 
                            a(href="team-detail.html").left 
                                .name.heading5 Alexander Pato
                                .position.caption1.text-on-surface-variant1.mt-4 Graphic Designer
                            .right 
                                a(href="https://linkedin.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-linkedin
                .col-lg-3.col-sm-6
                    .member-item 
                        a(href="team-detail.html").bg-img 
                            img(src="assets/images/avatar/IMG-8.png", alt="").w-100.bora-28
                        .member-infor.mt-20.flex-between 
                            a(href="team-detail.html").left 
                                .name.heading5 Georgina Rodriguez
                                .position.caption1.text-on-surface-variant1.mt-4 Photographer
                            .right 
                                a(href="https://linkedin.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-linkedin
                .col-lg-3.col-sm-6
                    .member-item 
                        a(href="team-detail.html").bg-img 
                            img(src="assets/images/avatar/IMG-9.png", alt="").w-100.bora-28
                        .member-infor.mt-20.flex-between 
                            a(href="team-detail.html").left 
                                .name.heading5 Christina Pavard
                                .position.caption1.text-on-surface-variant1.mt-4 Graphic Designer
                            .right 
                                a(href="https://linkedin.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-linkedin
                .col-lg-3.col-sm-6
                    .member-item 
                        a(href="team-detail.html").bg-img 
                            img(src="assets/images/avatar/IMG-10.png", alt="").w-100.bora-28
                        .member-infor.mt-20.flex-between 
                            a(href="team-detail.html").left 
                                .name.heading5 Laura Diana
                                .position.caption1.text-on-surface-variant1.mt-4 DevOps
                            .right 
                                a(href="https://linkedin.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-linkedin
                .col-lg-3.col-sm-6
                    .member-item 
                        a(href="team-detail.html").bg-img 
                            img(src="assets/images/avatar/IMG-11.png", alt="").w-100.bora-28
                        .member-infor.mt-20.flex-between 
                            a(href="team-detail.html").left 
                                .name.heading5 Antonio Silva
                                .position.caption1.text-on-surface-variant1.mt-4 Developer
                            .right 
                                a(href="https://linkedin.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-linkedin
                .col-lg-3.col-sm-6
                    .member-item 
                        a(href="team-detail.html").bg-img 
                            img(src="assets/images/avatar/IMG-12.png", alt="").w-100.bora-28
                        .member-infor.mt-20.flex-between 
                            a(href="team-detail.html").left 
                                .name.heading5 Bella Smith
                                .position.caption1.text-on-surface-variant1.mt-4 Accountant
                            .right 
                                a(href="https://linkedin.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-linkedin
                .col-lg-3.col-sm-6
                    .member-item 
                        a(href="team-detail.html").bg-img 
                            img(src="assets/images/avatar/IMG-13.png", alt="").w-100.bora-28
                        .member-infor.mt-20.flex-between 
                            a(href="team-detail.html").left 
                                .name.heading5 Eirlys Rodriguez
                                .position.caption1.text-on-surface-variant1.mt-4 Photographer
                            .right 
                                a(href="https://linkedin.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-linkedin
                .col-lg-3.col-sm-6
                    .member-item 
                        a(href="team-detail.html").bg-img 
                            img(src="assets/images/avatar/IMG.png", alt="").w-100.bora-28
                        .member-infor.mt-20.flex-between 
                            a(href="team-detail.html").left 
                                .name.heading5 Mason Roberto
                                .position.caption1.text-on-surface-variant1.mt-4 Graphic Designer
                            .right 
                                a(href="https://linkedin.com/" target="_blank").icon.w-48.h-48.bora-50.bg-surface.flex-center.hover-button-blue
                                    i.icon-linkedin
        .cta-block.pt-80
            .container 
                .content-main.bg-blue.pt-40.pb-40.pl-60.pr-60.bora-20
                    .row.row-gap-32.flex-between
                        .col-lg-7.col-md-8.text-content
                            .heading3.text-white Join Our Team Explore Exciting Opportunities
                            .heading6.fw-400.text-white.mt-20 Empower your business with our expertise for growth and efficiency.
                        .col-lg-3.col-md-4.block-button.text-end
                            a(href="contact-us.html").button.bg-white.border-none Join us today!
    include components/home1/contact.pug
    include components/modal-video.pug
block footer 
    div(class="style-subpage")
        include components/footer/footer.pug
