/*
*** Section Footer: Start
*/
/*
*** Section Footer main: Start
*/
.footer-block .row .footer-navigate {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-block .row .company-contact .send-block {
  position: relative;
  height: 50px;
  width: 100%;
}
.footer-block .row .company-contact .send-block > i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: block;
  color: var(--on-surface-variant1);
}
.footer-block .row .company-contact .send-block input {
  color: var(--on-surface);
  background: transparent;
  height: 50px;
  width: 100%;
  padding: 14px 28px;
  border-bottom: 1px solid var(--on-surface);
}
.footer-block .row .company-contact .send-block input:focus, .footer-block .row .company-contact .send-block input:active {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--blue);
}
.footer-block .row .company-contact .send-block button {
  padding: 0;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.footer-block .row .company-contact .send-block button i {
  display: block;
  font-size: 20px;
  color: var(--on-surface);
  background-color: transparent;
  padding: 8px;
  border-radius: 50%;
  transition: all ease 0.4s;
}
.footer-block .row .company-contact .send-block button i:hover {
  background-color: var(--blue);
  color: var(--white);
}

@media (max-width: 767.99px) {
  .footer-block .footer-bottom {
    flex-direction: column;
    row-gap: 6px;
  }
}
@media (max-width: 575.99px) {
  .footer-block .row .footer-navigate {
    justify-content: space-between;
  }
  .footer-block .row .company-contact .mt-20 {
    margin-top: 8px;
  }
  .footer-block .footer-bottom .nav-link {
    gap: 6px;
  }
  .footer-block .footer-bottom .nav-link .caption1 {
    font-size: 12px;
  }
}
/*
*** Section Footer main: End
*/
/*
*** Section Footer Home3: Start
*/
.footer-style-three .footer-block {
  background-color: var(--on-surface);
  color: var(--on-surface-variant2);
}
.footer-style-three .footer-block a {
  color: var(--on-surface-variant2);
}
.footer-style-three .footer-block .border-line {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-style-three .footer-block .bg-white {
  background-color: var(--on-surface);
}
.footer-style-three .footer-block .logo svg path {
  fill: var(--white);
}
.footer-style-three .footer-block .item-heading,
.footer-style-three .footer-block .company-contact .heading {
  color: var(--white);
}
.footer-style-three .footer-block .list-social .item {
  border: 1px solid var(--on-surface-variant2);
}
.footer-style-three .footer-block .list-social .item:hover {
  background-color: var(--yellow);
  border: none;
}
.footer-style-three .footer-block .list-social .item:hover i {
  color: var(--black-surface);
}
.footer-style-three .footer-block .row .company-contact .send-block input {
  color: var(--white);
  border-bottom: 1px solid var(--white);
}
.footer-style-three .footer-block .row .company-contact .send-block input:focus, .footer-style-three .footer-block .row .company-contact .send-block input:active {
  border-bottom: 1px solid var(--yellow);
}
.footer-style-three .footer-block .row .company-contact .send-block button i {
  color: var(--white);
}
.footer-style-three .footer-block .row .company-contact .send-block button i:hover {
  background-color: var(--yellow);
  color: var(--on-surface);
}

/*
*** Section Footer Home3: End
*/
/*
*** Section Footer Home4: Start
*/
.footer-style-four .footer-block {
  background-color: var(--black-surface);
}
.footer-style-four .footer-block .container > .row .footer-navigate {
  align-items: flex-start;
}
.footer-style-four .footer-block .container > .row .list-infor .flex-item-center {
  display: inline-flex;
  border-bottom: 1px solid var(--pink);
}
.footer-style-four .footer-block .footer-bottom .list-social {
  margin-top: 0;
  gap: 4px;
}
.footer-style-four .footer-block .footer-bottom .list-social a {
  border: none;
}
.footer-style-four .footer-block .footer-bottom .list-social a i::before {
  color: var(--white);
}
.footer-style-four .footer-block .footer-bottom .list-social a:hover {
  background-color: var(--pink);
}

/*
*** Section Footer Home4: End
*/
/*
*** Section Footer Home5: Start
*/
.footer-style-four.footer-style-five .footer-block .container > .row .list-infor .flex-item-center {
  border-bottom: 1px solid var(--green);
}
.footer-style-four.footer-style-five .footer-block .footer-bottom .list-social a:hover {
  background-color: var(--green);
}
.footer-style-four.footer-style-five .footer-block .footer-bottom .list-social a:hover i::before {
  color: var(--on-surface);
}

/*
*** Section Footer Home5: End
*/
/*
*** Section Footer Home6: Start
*/
.footer-style-four.footer-style-six .footer-block .container > .row .list-infor .flex-item-center {
  border-bottom: 1px solid var(--purple);
}
.footer-style-four.footer-style-six .footer-block .footer-bottom .list-social a:hover {
  background-color: var(--purple);
}

/*
*** Section Footer Home6: End
*/
/*
*** Section Footer Home7: Start
*/
.footer-style-four.footer-style-seven .footer-block {
  background: #0C1228;
}
.footer-style-four.footer-style-seven .footer-block .container > .row .list-infor .flex-item-center {
  border-bottom: 1px solid var(--blue);
}
.footer-style-four.footer-style-seven .footer-block .bg-black-surface {
  background: #0C1228;
}
.footer-style-four.footer-style-seven .footer-block .footer-bottom .list-social a:hover {
  background-color: var(--blue);
}

/*
*** Section Footer Home7: End
*/
/*
*** Section Footer Style Blog: Start
*/
#footer .style-blog {
  border-top: 1px solid var(--outline);
}

/*
*** Section Footer Style Blog: End
*/
/*
*** Section Footer: End
*/