/*
*** Section Menu Header Home1: Start
*/
#header {
  position: relative;
  z-index: 3;
}

.header-menu {
  border-bottom: 1px solid var(--outline);
  position: relative;
}
.header-menu.style-one {
  position: relative;
  transition: all ease 0.5s;
  z-index: 2;
}
.header-menu.sticky {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.15);
  border-bottom: none;
}
.header-menu .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 74px;
}
.header-menu .menu-main {
  height: 100%;
}
.header-menu .menu-main > ul {
  height: 100%;
}
.header-menu .menu-main > ul li {
  cursor: pointer;
  position: relative;
  height: 100%;
  display: flex;
}
.header-menu .menu-main > ul li a {
  padding: 24px 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  transition: all ease 0.4s;
}
.header-menu .menu-main > ul li a::before {
  position: absolute;
  content: "";
  left: 12px;
  bottom: 24px;
  width: 0;
  height: 2px;
  background-color: var(--blue);
  transition: all ease 0.4s;
}
.header-menu .menu-main > ul li a.active::before, .header-menu .menu-main > ul li a:hover::before {
  width: calc(100% - 24px);
}
.header-menu .menu-main > ul li .sub-nav {
  position: absolute;
  width: 260px;
  left: -10px;
  top: 100px;
  padding-top: 4px;
  padding-bottom: 8px;
  background-color: #fff;
  z-index: 5;
  box-shadow: 0px 5px 25px rgba(58, 64, 67, 0.1);
  transition: all ease-in-out 0.3s;
  opacity: 0;
  visibility: hidden;
}
.header-menu .menu-main > ul li .sub-nav .sub-nav-item {
  padding: 0 24px;
}
.header-menu .menu-main > ul li .sub-nav .sub-nav-item a {
  position: relative;
  transition: all ease 0.3s;
  padding: 0;
  display: inline-block;
  padding: 16px 0;
}
.header-menu .menu-main > ul li .sub-nav .sub-nav-item a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 16px;
  transform: translateY(-50%);
  width: 0;
  height: 2px;
  background-color: var(--blue);
  border-radius: 6px;
  transition: all ease 0.3s;
}
.header-menu .menu-main > ul li .sub-nav .sub-nav-item:hover a {
  padding-left: 12px;
}
.header-menu .menu-main > ul li .sub-nav .sub-nav-item:hover a::before {
  width: calc(100% - 12px);
  left: 12px;
}
.header-menu .menu-main > ul li .sub-nav .sub-nav-item.active a {
  padding-left: 12px;
}
.header-menu .menu-main > ul li .sub-nav .sub-nav-item.active a::before {
  width: calc(100% - 12px);
  left: 12px;
}
.header-menu .menu-main > ul li:hover .sub-nav {
  top: 74px;
  opacity: 1;
  visibility: visible;
}
.header-menu .right-block {
  justify-content: right;
}
.header-menu .right-block .call-block {
  margin-right: 16px;
  border-radius: 999px;
  background: rgba(39, 75, 227, 0.1);
  display: flex;
  align-items: center;
  height: 42px;
  padding: 4px 12px 4px 6px;
}
.header-menu .right-block .call-block i {
  font-size: 18px;
  color: var(--blue);
  padding: 7px;
  background-color: var(--white);
  border-radius: 50%;
  display: inline-block;
}
.header-menu .right-block .call-block span {
  padding-left: 8px;
  font-weight: 700;
  line-height: 28px;
  text-transform: capitalize;
}
.header-menu .right-block a {
  margin-right: 40px;
}
.header-menu .right-block .search-icon {
  margin-right: 16px;
  cursor: pointer;
}
.header-menu .right-block .search-icon i {
  font-size: 18px;
  display: block;
  padding: 3px;
}
.header-menu .right-block .bag-icon {
  position: relative;
  cursor: pointer;
}
.header-menu .right-block .bag-icon i {
  font-size: 18px;
  display: block;
  padding: 3px;
}
.header-menu .right-block .bag-icon span {
  position: absolute;
  color: var(--white);
  border-radius: 50%;
  font-size: 10px;
  line-height: 12px;
  padding: 2px 5px;
  top: -4px;
  right: -6px;
}
.header-menu .menu-humburger {
  display: none;
  cursor: pointer;
}
.header-menu .menu-humburger i {
  display: block;
}
.header-menu #menu-mobile-block {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: #fff;
  transition: all ease 0.4s;
  transition-delay: 1s;
  z-index: 5;
  overflow-x: hidden;
}
.header-menu #menu-mobile-block .menu-mobile-main {
  width: 100%;
}
.header-menu #menu-mobile-block .menu-mobile-main .container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.header-menu #menu-mobile-block .menu-mobile-main .container .heading {
  width: 100%;
  opacity: 0;
  overflow: hidden;
  transition: all ease 0.5s;
  transition-delay: 0.6s;
}
.header-menu #menu-mobile-block .menu-mobile-main .container .heading .close-block i {
  font-size: 24px;
  font-weight: 600;
  display: block;
  cursor: pointer;
  transition: all ease 0.5s;
}
.header-menu #menu-mobile-block .menu-mobile-main .container .heading .close-block i:hover {
  transform: rotate(180deg);
}
.header-menu #menu-mobile-block .menu-mobile-main .container .menu-nav-mobile {
  width: 100%;
  height: 100%;
  padding-top: 20px;
}
.header-menu #menu-mobile-block .menu-mobile-main .container .menu-nav-mobile .nav-item-mobile {
  opacity: 0;
  transition: all ease 0.5s;
  overflow: hidden;
}
.header-menu #menu-mobile-block .menu-mobile-main .container .menu-nav-mobile .nav-item-mobile > a {
  font-size: 16px;
  font-weight: 600;
}
.header-menu #menu-mobile-block .menu-mobile-main .container .menu-nav-mobile .nav-item-mobile > a i {
  transition: all ease 0.4s;
}
.header-menu #menu-mobile-block .menu-mobile-main .container .menu-nav-mobile .nav-item-mobile .sub-nav-mobile {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  transition: all ease 0.8s;
}
.header-menu #menu-mobile-block .menu-mobile-main .container .menu-nav-mobile .nav-item-mobile.open .nav-link-mobile i {
  transform: rotate(90deg);
}
.header-menu #menu-mobile-block .menu-mobile-main .container .menu-nav-mobile .nav-item-mobile.open .sub-nav-mobile {
  max-height: 400px;
  opacity: 1;
  visibility: visible;
}
.header-menu #menu-mobile-block .menu-mobile-main .container .menu-nav-mobile .nav-item-mobile:nth-child(1) {
  transition-delay: 0.5s;
}
.header-menu #menu-mobile-block .menu-mobile-main .container .menu-nav-mobile .nav-item-mobile:nth-child(2) {
  transition-delay: 0.4s;
}
.header-menu #menu-mobile-block .menu-mobile-main .container .menu-nav-mobile .nav-item-mobile:nth-child(3) {
  transition-delay: 0.3s;
}
.header-menu #menu-mobile-block .menu-mobile-main .container .menu-nav-mobile .nav-item-mobile:nth-child(4) {
  transition-delay: 0.2s;
}
.header-menu #menu-mobile-block .menu-mobile-main .container .menu-nav-mobile .nav-item-mobile:nth-child(5) {
  transition-delay: 0.1s;
}
.header-menu #menu-mobile-block .menu-mobile-main .container .menu-nav-mobile .nav-item-mobile:nth-child(6) {
  transition-delay: 0s;
}
.header-menu #menu-mobile-block.open {
  height: 100vh;
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
.header-menu #menu-mobile-block.open .menu-mobile-main .container .heading {
  opacity: 1;
  transition-delay: 0.3s;
}
.header-menu #menu-mobile-block.open .menu-mobile-main .container .menu-nav-mobile .nav-item-mobile:nth-child(1) {
  opacity: 1;
  transition-delay: 0.4s;
}
.header-menu #menu-mobile-block.open .menu-mobile-main .container .menu-nav-mobile .nav-item-mobile:nth-child(2) {
  opacity: 1;
  transition-delay: 0.5s;
}
.header-menu #menu-mobile-block.open .menu-mobile-main .container .menu-nav-mobile .nav-item-mobile:nth-child(3) {
  opacity: 1;
  transition-delay: 0.6s;
}
.header-menu #menu-mobile-block.open .menu-mobile-main .container .menu-nav-mobile .nav-item-mobile:nth-child(4) {
  opacity: 1;
  transition-delay: 0.7s;
}
.header-menu #menu-mobile-block.open .menu-mobile-main .container .menu-nav-mobile .nav-item-mobile:nth-child(5) {
  opacity: 1;
  transition-delay: 0.8s;
}
.header-menu #menu-mobile-block.open .menu-mobile-main .container .menu-nav-mobile .nav-item-mobile:nth-child(6) {
  opacity: 1;
  transition-delay: 0.9s;
}
@media (max-width: 1200px) {
  .header-menu .right-block .call-block {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header-menu .menu-main {
    display: none;
  }
  .header-menu .right-block a {
    display: none;
  }
  .header-menu .right-block .search-icon i,
  .header-menu .right-block .bag-icon i {
    font-size: 24px;
  }
  .header-menu .right-block .menu-humburger {
    display: block;
    font-size: 24px;
    padding-left: 16px;
  }
}
@media (max-width: 576px) {
  .header-menu .container {
    height: 60px;
  }
  .header-menu .right-block .search-icon i,
  .header-menu .right-block .bag-icon i {
    font-size: 20px;
  }
  .header-menu .right-block .menu-humburger {
    font-size: 20px;
  }
}

/*
*** Section Menu Header Home1: End
*/
/*
*** Section Menu Header Home2: Start
*/
.menu-style-two .header-menu {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all linear 0.5s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.menu-style-two .header-menu .right-block .call-block {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
}
.menu-style-two .header-menu .right-block .call-block i {
  color: var(--on-surface);
}
.menu-style-two .header-menu.sticky {
  top: 0;
  position: fixed;
  background-color: #fff;
  color: var(--on-surface);
  box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.15);
}
.menu-style-two .header-menu.sticky .logo svg path {
  fill: var(--on-surface);
  transition: all linear 0.5s;
}
.menu-style-two .header-menu.sticky .menu-main ul li a {
  color: var(--on-surface);
  transition: all linear 0.5s;
}
.menu-style-two .header-menu.sticky .right-block .call-block {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
}
.menu-style-two .header-menu.sticky .right-block .call-block span {
  color: var(--on-surface);
}
.menu-style-two .header-menu.sticky .right-block > div i {
  color: var(--on-surface);
}
@media (min-width: 1850px) {
  .menu-style-two .header-menu .logo {
    margin-left: -250px;
  }
  .menu-style-two .header-menu .right-block {
    margin-right: -250px;
  }
}
@media (max-width: 1849.99px) {
  .menu-style-two .header-menu .container {
    justify-content: center;
  }
  .menu-style-two .header-menu .logo {
    position: absolute;
    left: 15px;
  }
  .menu-style-two .header-menu .right-block {
    position: absolute;
    right: 15px;
  }
}

/*
*** Section Menu Header Home2: End
*/
/*
*** Section Menu Header Home3: Start
*/
.menu-style-three .header-menu .container {
  justify-content: space-between;
}
.menu-style-three .header-menu .logo {
  margin-left: 0;
  left: 0;
  position: relative;
}
.menu-style-three .header-menu .menu-main ul li a::before {
  background-color: var(--yellow) !important;
}
.menu-style-three .header-menu .right-block {
  margin-right: 0;
  right: 0;
  position: relative;
}
.menu-style-three .header-menu .right-block a {
  margin-right: 0;
}
.menu-style-three .header-menu .right-block a:hover {
  background-color: var(--yellow);
}
.menu-style-three .header-menu .right-block .bag-icon span {
  color: var(--on-surface);
}
.menu-style-three .header-menu.sticky .container .right-block a {
  background-color: var(--yellow);
}
.menu-style-three .header-menu.sticky .container .right-block a:hover {
  background-color: #ebb41d;
}

/*
*** Section Menu Header Home3: End
*/
/*
*** Section Menu Header Home4: Start
*/
.menu-style-four .header-menu .container {
  justify-content: center;
}
.menu-style-four .header-menu .logo {
  margin-left: 0;
  position: absolute;
  left: 80px;
}
.menu-style-four .header-menu .menu-main ul li a::before {
  background-color: var(--pink) !important;
}
.menu-style-four .header-menu .right-block {
  margin-right: 0;
  position: absolute;
  right: 80px;
}
.menu-style-four .header-menu .right-block a {
  margin-right: 0;
}
@media (max-width: 1560px) {
  .menu-style-four .header-menu .container {
    justify-content: space-between;
  }
  .menu-style-four .header-menu .logo {
    margin-left: 0;
    position: relative;
    left: 0;
  }
  .menu-style-four .header-menu .right-block {
    margin-right: 0;
    position: relative;
    right: 0;
  }
}

/*
*** Section Menu Header Home4: End
*/
/*
*** Section Menu Header Home5: Start
*/
.menu-style-five .header-menu .menu-main ul li a::before {
  background-color: var(--green) !important;
}
.menu-style-five .header-menu .right-block .call-block {
  background-color: transparent;
  position: relative;
}
.menu-style-five .header-menu .right-block .call-block i {
  background-color: transparent;
  font-size: 20px;
  color: var(--white);
}
.menu-style-five .header-menu .right-block .call-block::before, .menu-style-five .header-menu .right-block .call-block::after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: var(--green);
  height: 75%;
  transform: rotate(20deg);
}
.menu-style-five .header-menu .right-block .call-block::before {
  left: 0;
}
.menu-style-five .header-menu .right-block .call-block::after {
  right: 0;
}
.menu-style-five .header-menu .right-block a:hover {
  background-color: #00ff40;
}
.menu-style-five .header-menu.sticky .container .right-block .call-block {
  background-color: transparent;
}
.menu-style-five .header-menu.sticky .container .right-block a {
  background-color: var(--green);
}
.menu-style-five .header-menu.sticky .container .right-block a:hover {
  background-color: #00ff40;
}

/*
*** Section Menu Header Home5: End
*/
/*
*** Section Menu Header Home6: Start
*/
.menu-style-six .header-menu .menu-main ul li a::before {
  background-color: var(--purple) !important;
}

/*
*** Section Menu Header Home6: End
*/
/*
*** Section Menu Header Home7: Start
*/
.menu-style-seven .header-menu .container {
  justify-content: space-between;
}
.menu-style-seven .header-menu .menu-main ul li a::before {
  background-color: var(--blue) !important;
}
@media (max-width: 1820px) {
  .menu-style-seven .header-menu .container {
    justify-content: space-between;
  }
  .menu-style-seven .header-menu .logo {
    position: absolute;
    margin-left: 0;
    left: 80px;
  }
  .menu-style-seven .header-menu .menu-main {
    position: absolute;
    left: 270px;
  }
  .menu-style-seven .header-menu .right-block {
    position: absolute;
    margin-right: 0;
    right: 80px;
  }
}
@media (max-width: 1500px) {
  .menu-style-seven .header-menu .menu-main {
    display: none;
  }
  .menu-style-seven .header-menu .right-block .menu-humburger {
    display: block;
    font-size: 20px;
    padding-left: 20px;
  }
  .menu-style-seven .header-menu .right-block .menu-humburger i {
    color: var(--white);
  }
  .menu-style-seven .header-menu #menu-mobile-block .logo {
    position: relative;
    left: 0;
    margin-left: 0;
  }
}
@media (max-width: 1465px) {
  .menu-style-seven .header-menu .logo {
    position: relative;
    margin-left: 0;
    left: 0;
  }
  .menu-style-seven .header-menu .right-block {
    position: relative;
    margin-right: 0;
    right: 0;
  }
}
@media (max-width: 1350px) {
  .menu-style-seven .header-menu .logo svg path {
    fill: var(--white);
  }
}

/*
*** Section Menu Header Home7: End
*/
/*
*** Remove active Home: Start
*/
.style-subpage .header-menu .menu-main > ul li a.active::before {
  width: 0;
}
.style-subpage .header-menu .menu-main > ul li .sub-nav .sub-nav-item.active a {
  padding-left: 0;
}
.style-subpage .header-menu .menu-main > ul li .sub-nav .sub-nav-item.active a::before {
  width: 0;
  left: 0;
}
.style-subpage .header-menu .menu-main > ul li .sub-nav .sub-nav-item.active:hover a {
  padding-left: 12px;
}
.style-subpage .header-menu .menu-main > ul li .sub-nav .sub-nav-item.active:hover a::before {
  width: calc(100% - 12px);
  left: 12px;
}
.style-subpage .header-menu .menu-main > ul li:hover > a::before {
  width: calc(100% - 24px);
}

/*
*** Remove active Home: Start
*/
/*
*** Blog Menu Header Page: Start
*/
.style-blog .header-menu .menu-main > ul > li:nth-child(5) > a::before {
  width: calc(100% - 24px);
}

/*
*** Blog Menu Header Page: End
*/
/*
*** Case Studies Menu Header Page: Start
*/
.style-case-studies .header-menu .menu-main > ul > li:nth-child(4) > a::before {
  width: calc(100% - 24px);
}
.style-case-studies.style-one .header-menu .menu-main > ul > li:nth-child(4) ul li:nth-child(1) > a {
  padding-left: 12px;
}
.style-case-studies.style-one .header-menu .menu-main > ul > li:nth-child(4) ul li:nth-child(1) > a::before {
  left: 12px;
  width: calc(100% - 12px);
}
.style-case-studies.style-two .header-menu .menu-main > ul > li:nth-child(4) ul li:nth-child(2) > a {
  padding-left: 12px;
}
.style-case-studies.style-two .header-menu .menu-main > ul > li:nth-child(4) ul li:nth-child(2) > a::before {
  left: 12px;
  width: calc(100% - 12px);
}
.style-case-studies.style-three .header-menu .menu-main > ul > li:nth-child(4) ul li:nth-child(3) > a {
  padding-left: 12px;
}
.style-case-studies.style-three .header-menu .menu-main > ul > li:nth-child(4) ul li:nth-child(3) > a::before {
  left: 12px;
  width: calc(100% - 12px);
}
.style-case-studies.style-four .header-menu .menu-main > ul > li:nth-child(4) ul li:nth-child(4) > a {
  padding-left: 12px;
}
.style-case-studies.style-four .header-menu .menu-main > ul > li:nth-child(4) ul li:nth-child(4) > a::before {
  left: 12px;
  width: calc(100% - 12px);
}
.style-case-studies.style-five .header-menu .menu-main > ul > li:nth-child(4) ul li:nth-child(5) > a {
  padding-left: 12px;
}
.style-case-studies.style-five .header-menu .menu-main > ul > li:nth-child(4) ul li:nth-child(5) > a::before {
  left: 12px;
  width: calc(100% - 12px);
}

/*
*** Case Studies Menu Header Page: End
*/