/*
*** Section Slider Home1: Start
*/
.slider-block.style-one {
  padding-top: 74px;
}
@media (max-width: 1199.99px) {
  .slider-block.style-one .row {
    flex-direction: column-reverse;
  }
  .slider-block.style-one .row .text .pr-55 {
    padding-right: 0;
  }
}
@media (max-width: 576px) {
  .slider-block.style-one {
    padding-top: 60px;
  }
  .slider-block .block-button.mt-40 {
    margin-top: 20px;
  }
}

/*
*** Section Slider Home1: End
*/
/*
*** Section Slider Home2: Start
*/
.slider-block.style-two {
  width: 100%;
  height: calc(100vh - 44px);
  position: relative;
}
.slider-block.style-two .slider-item {
  width: 100%;
  height: calc(100vh - 44px);
  position: relative;
}
.slider-block.style-two .slider-item .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.slider-block.style-two .slider-item .bg-img img {
  object-fit: cover;
}
.slider-block.style-two .slider-item .container {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider-block.style-two .slider-item .container .row {
  position: absolute;
  top: calc(44px + 50%);
  left: 15px;
  transform: translateY(-50%);
}
.slider-block.style-two .prev-arrow,
.slider-block.style-two .next-arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: flex !important;
  position: absolute;
  top: calc(44px + 50%);
  transform: translateY(-50%);
  transition: all ease 0.5s;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}
.slider-block.style-two .prev-arrow:hover,
.slider-block.style-two .next-arrow:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.slider-block.style-two .prev-arrow {
  left: 20px;
}
.slider-block.style-two .next-arrow {
  right: 20px;
}
.slider-block.style-two:hover .prev-arrow,
.slider-block.style-two:hover .next-arrow {
  opacity: 1;
  visibility: visible;
}
.slider-block.style-two .prev-arrow.slick-disabled,
.slider-block.style-two .next-arrow.slick-disabled {
  display: none !important;
}
@media (max-width: 767.99px) {
  .slider-block.style-two .prev-arrow,
  .slider-block.style-two .next-arrow {
    display: none !important;
  }
}
@media (max-width: 1350px) {
  .slider-block.style-two .container .row {
    left: 15px;
  }
}
@media (max-width: 991.99px) {
  .slider-block.style-two {
    height: calc(80vh - 44px);
  }
  .slider-block.style-two .slider-item {
    height: calc(80vh - 44px);
  }
}
@media (max-width: 575px) {
  .slider-block.style-two {
    height: calc(80vh - 44px);
  }
  .slider-block.style-two .slider-item {
    height: calc(80vh - 44px);
  }
  .slider-block.style-two .slider-item .mt-16 {
    margin-top: 8px !important;
  }
}

/*
*** Section Slider Home2: End
*/
/*
*** Section Slider Home4: Start
*/
.slider-block.style-four {
  height: 100vh;
}
.slider-block.style-four .slider-item {
  height: 100vh;
}
.slider-block.style-four .slider-item .container .row {
  top: calc(20px + 50%);
}
@media (max-width: 991.99px) {
  .slider-block.style-four {
    height: calc(80vh - 44px);
  }
  .slider-block.style-four .slider-item {
    height: calc(80vh - 44px);
  }
}
@media (max-width: 575px) {
  .slider-block.style-four {
    height: calc(70vh - 44px);
  }
  .slider-block.style-four .slider-item {
    height: calc(70vh - 44px);
  }
}

/*
*** Section Slider Home4: End
*/
/*
*** Section Slider Home5: Start
*/
.slider-block.style-five {
  height: 100vh;
}
.slider-block.style-five .slider-item {
  height: 100vh;
}
.slider-block.style-five .slider-item .container .row {
  top: unset;
  transform: unset;
  bottom: 80px;
}
@media (max-width: 991.99px) {
  .slider-block.style-five {
    height: calc(80vh - 44px);
  }
  .slider-block.style-five .slider-item {
    height: calc(80vh - 44px);
  }
}
@media (max-width: 575px) {
  .slider-block.style-five {
    height: calc(70vh - 44px);
  }
  .slider-block.style-five .slider-item {
    height: calc(70vh - 44px);
  }
}

/*
*** Section Slider Home5: End
*/
/*
*** Section Slider Home6: Start
*/
.slider-block.style-six {
  height: 90vh;
  background: linear-gradient(180deg, #EDDEF4 0%, rgba(255, 255, 255, 0.5) 100%);
}
.slider-block.style-six .container .row {
  width: 100%;
  height: 100%;
}
.slider-block.style-six .container .row > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-block.style-six .slider-item {
  height: 90vh;
  position: relative;
}
.slider-block.style-six .slider-item .heading1 {
  background: linear-gradient(90deg, #5B45F3 0%, #EFCA60 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.slider-block.style-six .slider-item .block-input {
  padding-right: 90px;
  width: 100%;
  background-color: transparent;
}
.slider-block.style-six .slider-item .block-input input {
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px 0 0 4px;
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.1);
}
.slider-block.style-six .slider-item .block-input button {
  height: 56px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 0 4px 4px 0;
}
.slider-block.style-six .slider-item .slider-img {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider-block.style-six .slider-item .slider-img img {
  position: absolute;
  top: 24%;
}
.slider-block.style-six .slider-item .slider-img img:first-child {
  width: 75%;
  right: 0;
}
.slider-block.style-six .slider-item .slider-img img:last-child {
  width: 101%;
  right: 20px;
  animation: slideY 10s linear infinite;
}
.slider-block.style-six .slider-item .sub-img-dots .dot {
  position: absolute;
  border-radius: 50%;
}
.slider-block.style-six .slider-item .sub-img-dots .dot:nth-child(1), .slider-block.style-six .slider-item .sub-img-dots .dot:nth-child(3), .slider-block.style-six .slider-item .sub-img-dots .dot:nth-child(4), .slider-block.style-six .slider-item .sub-img-dots .dot:nth-child(5), .slider-block.style-six .slider-item .sub-img-dots .dot:nth-child(6), .slider-block.style-six .slider-item .sub-img-dots .dot:nth-child(8) {
  width: 32px;
  height: 32px;
}
.slider-block.style-six .slider-item .sub-img-dots .dot:nth-child(2), .slider-block.style-six .slider-item .sub-img-dots .dot:nth-child(7) {
  width: 48px;
  height: 48px;
}
.slider-block.style-six .slider-item .sub-img-dots .dot:nth-child(1), .slider-block.style-six .slider-item .sub-img-dots .dot:nth-child(3), .slider-block.style-six .slider-item .sub-img-dots .dot:nth-child(8) {
  background: linear-gradient(90deg, #B84CA0, #B4AEE1);
}
.slider-block.style-six .slider-item .sub-img-dots .dot:nth-child(2), .slider-block.style-six .slider-item .sub-img-dots .dot:nth-child(4) {
  background: linear-gradient(90deg, #5B45F3, #EFCA60);
}
.slider-block.style-six .slider-item .sub-img-dots .dot:nth-child(5), .slider-block.style-six .slider-item .sub-img-dots .dot:nth-child(6), .slider-block.style-six .slider-item .sub-img-dots .dot:nth-child(7) {
  background: linear-gradient(90deg, #82B84C, #AED5E1);
}
.slider-block.style-six .slider-item .sub-img-dots .dot:nth-child(1) {
  left: 82px;
  top: 165px;
  animation: slide_1 15s ease-in-out alternate infinite;
}
.slider-block.style-six .slider-item .sub-img-dots .dot:nth-child(2) {
  left: 140px;
  top: 270px;
  animation: slide_2 10s ease-in-out alternate infinite;
}
.slider-block.style-six .slider-item .sub-img-dots .dot:nth-child(3) {
  left: 822px;
  top: 120px;
  animation: slide_1 20s ease-in-out alternate infinite;
}
.slider-block.style-six .slider-item .sub-img-dots .dot:nth-child(4) {
  right: 722px;
  top: 160px;
  animation: slide_2 15s ease-in-out alternate infinite;
}
.slider-block.style-six .slider-item .sub-img-dots .dot:nth-child(5) {
  right: 120px;
  top: 140px;
  animation: slide_1 21s ease-in-out alternate infinite;
}
.slider-block.style-six .slider-item .sub-img-dots .dot:nth-child(6) {
  left: 60px;
  bottom: 140px;
  animation: slide_2 12s ease-in-out alternate infinite;
}
.slider-block.style-six .slider-item .sub-img-dots .dot:nth-child(7) {
  left: 820px;
  bottom: 40px;
  animation: slide_2 25s ease-in-out alternate infinite;
}
.slider-block.style-six .slider-item .sub-img-dots .dot:nth-child(8) {
  right: 160px;
  bottom: 140px;
  animation: slide_2 22s ease-in-out alternate infinite;
}
@keyframes slide_1 {
  0% {
    transform: translate(0) rotate(0deg);
  }
  15% {
    transform: translate(10px, 10px) rotate(45deg);
  }
  30% {
    transform: translate(10px, -15px) rotate(20deg);
  }
  45% {
    transform: translate(-10px, -25px) rotate(50deg);
  }
  60% {
    transform: translate(0, 25px) rotate(35deg);
  }
  75% {
    transform: translate(-10px, -15px) rotate(-20deg);
  }
  90% {
    transform: translate(-5, -5px) rotate(-20deg);
  }
  100% {
    transform: translate(0) rotate(0deg);
  }
}
@keyframes slide_2 {
  0% {
    transform: translate(0) rotate(0deg);
  }
  25% {
    transform: translate(15px, -5px) rotate(15deg);
  }
  50% {
    transform: translate(-10px, 10px) rotate(10deg);
  }
  75% {
    transform: translate(5px, -5px) rotate(25deg);
  }
  100% {
    transform: translate(0) rotate(0deg);
  }
}
@media (max-width: 991.99px) {
  .slider-block.style-six {
    height: 400px;
  }
  .slider-block.style-six .sub-img-dots {
    display: none;
  }
  .slider-block.style-six .container .row > div:last-child {
    display: none;
  }
  .slider-block.style-six .slider-item {
    height: 400px;
  }
}
@media (max-width: 575.99px) {
  .slider-block.style-six {
    height: 400px;
  }
  .slider-block.style-six .slider-item {
    height: 400px;
  }
  .slider-block.style-six .slider-item .block-input {
    padding-right: 0;
  }
  .slider-block.style-six .slider-item .block-input input,
  .slider-block.style-six .slider-item .block-input button {
    height: 48px;
  }
  .slider-block.style-six .slider-item .block-input button {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@keyframes slideY {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}
/*
*** Section Slider Home6: End
*/
/*
*** Section Slider Home7: Start
*/
.slider-block.style-seven {
  position: relative;
  background-color: var(--yellow-surface);
}
.slider-block.style-seven .slider-item .row {
  justify-content: end;
}
.slider-block.style-seven .slider-item .row > div:first-child {
  position: absolute;
  left: 65px;
  top: 50%;
  transform: translateY(-50%);
}
/*
*** Section Slider Home7: End
*/