
<div class="section-about style-six mt-80 pb-80">
  <div class="container"> 
    <div class="row row-gap-32 flex-between">
      <div class="col-12 col-lg-6">
        <div class="heading3">Ready to Dominate the Online Market?</div>
        <div class="desc mt-16">Welcome to us - a dedicated and professional finance company committed to elevating your financial prosperity. Leveraging our extensive financial knowledge, we craft tailored solutions to help you achieve personal</div>
        <div class="block-button mt-32 d-flex gap-12 flex-wrap"><a class="button bg-purple button-purple-hover text-white border-none" href="#!">Let's Talk!</a><a class="button bora-99" href="#!"><i class="ph-fill ph-play-circle fs-28"></i><span>Video Presentation</span></a></div>
      </div>
      <div class="col-12 col-xxl-5 col-lg-6 col-md-8 pl-65 pl-col-lg-0">
        <div class="counter d-flex mt-16">
          <div class="item"> 
            <div class="flex-item-center"><i class="icon-slash-bora"></i>
              <div class="heading3 pl-8">20</div>
            </div>
            <div class="text-title mt-4">Years experiences</div>
          </div>
          <div class="item pl-40">
            <div class="flex-item-center"><i class="icon-slash-bora"></i>
              <div class="heading3 pl-8">1.8<span>k</span></div>
            </div>
            <div class="text-title mt-4">Happy customers</div>
          </div>
        </div>
        <div class="counter d-flex mt-16">
          <div class="item"> 
            <div class="flex-item-center"><i class="icon-slash-bora"></i>
              <div class="heading3 pl-8">250</div>
            </div>
            <div class="text-title mt-4">Project completed</div>
          </div>
          <div class="item pl-40">
            <div class="flex-item-center"><i class="icon-slash-bora"></i>
              <div class="heading3 pl-8">10</div>
            </div>
            <div class="text-title mt-4">Awards achievement</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>