
<div class="section-benefit style-six">
  <div class="container"> 
    <div class="row row-gap-32 flex-between">
      <div class="col-12 col-lg-6 col-sm-10"><img class="w-100" src="assets/images/component/benefit-below6.png" alt=""/></div>
      <div class="col-12 col-lg-6 pl-12 pl-col-lg-0">
        <div class="content">
          <div class="heading3">Transform Your Brand's Digital Landscape</div>
          <div class="list-feature mt-28">
            <div class="flex-item-center"> <i class="ph ph-check text-purple fs-28"> </i>
              <div class="text-title pl-12">We're your reliable allies, ensuring confidence and success.</div>
            </div>
            <div class="flex-item-center mt-16"><i class="ph ph-check text-purple fs-28"> </i>
              <div class="text-title pl-12">Our creative minds amplify your uniqueness for growth.</div>
            </div>
            <div class="flex-item-center mt-16"><i class="ph ph-check text-purple fs-28"> </i>
              <div class="text-title pl-12">Solutions aligned with your goals, resonating with your audience.</div>
            </div>
            <div class="flex-item-center mt-16"><i class="ph ph-check text-purple fs-28"> </i>
              <div class="text-title pl-12">Tangible results showcased through transparent reporting.</div>
            </div>
            <div class="block-button mt-36"><a class="button bg-purple text-white border-none" href="#!">Our Services</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>