
<div class="section-news style-two style-four style-six bg-yellow-surface pt-80 pb-80"> 
  <div class="container">
    <div class="cursor flex-center gap-12"><i class="ph ph-caret-left text-white"></i><i class="ph ph-caret-right text-white"></i></div>
    <div class="heading3 text-center">Last News</div>
    <div class="text-center mt-8">Empowering Your Success Through Expert Consulting Services</div>
    <div class="list-news mt-40">
      <div class="col-4 item">
        <div class="blog-item hover-box-shadow bg-white bora-20 overflow-hidden h-100 "><a class="main-item" href="#!">
            <div class="bg-img w-100 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/blog/item4.png" alt="Unveiling the Impact: New SEO Strategies for Enhanced Online Visibility"/>
              <div class="text-label bg-pink text-white pt-8 pb-8 pl-12 pr-12 display-inline-block">SEO Marketing</div>
            </div>
            <div class="infor p-28">
              <div class="heading5">Unveiling the Impact: New SEO Strategies for Enhanced Online Visibility</div>
              <div class="text-label text-on-surface-variant1 mt-16">February 22, 2023</div>
            </div></a>
        </div>
      </div>
      <div class="col-4 item">
        <div class="blog-item hover-box-shadow bg-white bora-20 overflow-hidden h-100 "><a class="main-item" href="#!">
            <div class="bg-img w-100 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/blog/item5.png" alt="Mastering Algorithm Shifts: Navigating SEO Tactics in Modern Marketing"/>
              <div class="text-label bg-pink text-white pt-8 pb-8 pl-12 pr-12 display-inline-block">SEO Marketing</div>
            </div>
            <div class="infor p-28">
              <div class="heading5">Mastering Algorithm Shifts: Navigating SEO Tactics in Modern Marketing</div>
              <div class="text-label text-on-surface-variant1 mt-16">February 23, 2023</div>
            </div></a>
        </div>
      </div>
      <div class="col-4 item">
        <div class="blog-item hover-box-shadow bg-white bora-20 overflow-hidden h-100 "><a class="main-item" href="#!">
            <div class="bg-img w-100 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/blog/item3.png" alt="Optimal SEO: Leveraging Content Strategies for Effective Campaigns"/>
              <div class="text-label bg-pink text-white pt-8 pb-8 pl-12 pr-12 display-inline-block">SEO Marketing</div>
            </div>
            <div class="infor p-28">
              <div class="heading5">Optimal SEO: Leveraging Content Strategies for Effective Campaigns</div>
              <div class="text-label text-on-surface-variant1 mt-16">February 24, 2023</div>
            </div></a>
        </div>
      </div>
      <div class="col-4 item">
        <div class="blog-item hover-box-shadow bg-white bora-20 overflow-hidden h-100 "><a class="main-item" href="#!">
            <div class="bg-img w-100 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/blog/item6.png" alt="Community Connection: Exploring Local SEO for Proximity Marketing"/>
              <div class="text-label bg-pink text-white pt-8 pb-8 pl-12 pr-12 display-inline-block">SEO Marketing</div>
            </div>
            <div class="infor p-28">
              <div class="heading5">Community Connection: Exploring Local SEO for Proximity Marketing</div>
              <div class="text-label text-on-surface-variant1 mt-16">February 25, 2023</div>
            </div></a>
        </div>
      </div>
    </div>
  </div>
</div>