
<div class="section-solution style-six bg-linear-purple pt-80 pb-80 mt-80"> 
  <div class="container">
    <div class="heading flex-between"> 
      <div class="heading3">Our solutions</div><a class="text-button-small display-inline-block border-underline-purple-2px" href="#!">View All Solutions</a>
    </div>
    <div class="row row-gap-32 mt-40">
      <div class="col-12 col-xl-3 col-sm-6">
        <div class="solution-item h-100 p-32 bora-20 bg-white"><a class="main-item" href="#!"><i class="icon-chart fs-60 display-block text-start"></i>
            <div class="desc text-start mt-24">
              <div class="heading5">Search Engine Optimization</div>
              <div class="text-on-surface-variant1 mt-12">Outsourcing IT management and maintenance, including network monitoring, data backup, cybersecurity, help desk support.</div>
            </div></a>
        </div>
      </div>
      <div class="col-12 col-xl-3 col-sm-6">
        <div class="solution-item h-100 p-32 bora-20 bg-white"><a class="main-item" href="#!"><i class="icon-sms fs-60 display-block text-start"></i>
            <div class="desc text-start mt-24">
              <div class="heading5">Social Media Marketing</div>
              <div class="text-on-surface-variant1 mt-12">Strategic guidance on IT strategy, digital transformation, software implementation, and project management.</div>
            </div></a>
        </div>
      </div>
      <div class="col-12 col-xl-3 col-sm-6">
        <div class="solution-item h-100 p-32 bora-20 bg-white"><a class="main-item" href="#!"><i class="icon-notification fs-60 display-block text-start"></i>
            <div class="desc text-start mt-24">
              <div class="heading5">Pay-Per-Click Advertising</div>
              <div class="text-on-surface-variant1 mt-12">Access to remote servers and infrastructure for data storage, application hosting, and scalable resources.</div>
            </div></a>
        </div>
      </div>
      <div class="col-12 col-xl-3 col-sm-6">
        <div class="solution-item h-100 p-32 bora-20 bg-white"><a class="main-item" href="#!"><i class="icon-hand-touch fs-60 display-block text-start"></i>
            <div class="desc text-start mt-24">
              <div class="heading5">Content Marketing</div>
              <div class="text-on-surface-variant1 mt-12">Protecting businesses from cyber threats through measures like network security, encryption, and training.</div>
            </div></a>
        </div>
      </div>
    </div>
  </div>
</div>