
<div class="section-success-stories section-news pt-80 pb-80"> 
  <div class="container">
    <div class="heading flex-between"> 
      <div class="heading3">Success stories</div><a class="text-button-small display-inline-block border-underline-purple-2px" href="#!">View All Solutions</a>
    </div>
    <div class="list-news mt-40">
      <div class="col-4 item"><a class="main-item" href="#!">
          <div class="bg-brand"> <img src="assets/images/brand/van-white.svg" alt=""/></div>
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/success-stories/1.png" alt=""/></div>
          <div class="title flex-between p-20 bora-16">
            <div class="heading4">+40%</div>
            <div class="heading6">Sales Revenue</div>
          </div></a></div>
      <div class="col-4 item"><a class="main-item" href="#!">
          <div class="bg-brand"> <img src="assets/images/brand/shang-white.svg" alt=""/></div>
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/success-stories/2.png" alt=""/></div>
          <div class="title flex-between p-20 bora-16">
            <div class="heading4">+50%</div>
            <div class="heading6">Website Traffic</div>
          </div></a></div>
      <div class="col-4 item"><a class="main-item" href="#!">
          <div class="bg-brand"> <img src="assets/images/brand/spotify-white.svg" alt=""/></div>
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/success-stories/3.png" alt=""/></div>
          <div class="title flex-between p-20 bora-16">
            <div class="heading4">+120%</div>
            <div class="heading6">Online Presence</div>
          </div></a></div>
      <div class="col-4 item"><a class="main-item" href="#!">
          <div class="bg-brand"> <img src="assets/images/brand/slack-white.svg" alt=""/></div>
          <div class="bg-img bora-20 overflow-hidden"><img class="w-100 h-100 display-block" src="assets/images/success-stories/2.png" alt=""/></div>
          <div class="title flex-between p-20 bora-16">
            <div class="heading4">+50%</div>
            <div class="heading6">Website Traffic</div>
          </div></a></div>
    </div>
  </div>
</div>