
<div class="section-testimonial style-two style-six pt-80 pb-80">
  <div class="container"> 
    <div class="heading3 text-center">Testimonials</div>
    <div class="text-center mt-8">Discover exceptional experiences through testimonials from our satisfied customers.</div>
    <div class="list-comment mt-40">
      <div class="col">
        <div class="item pl-32 pr-32 pt-40 pb-40 bg-white bora-16 flex-item-center gap-20 border-outline"><img class="bora-50 w-120 h-120 object-fit-cover display-block" src="assets/images/avatar/avatar1.png" alt=""/>
          <div class="content">
            <div class="star flex-item-center gap-1"><i class="ph-fill ph-star fs-20 text-yellow"></i><i class="ph-fill ph-star fs-20 text-yellow"></i><i class="ph-fill ph-star fs-20 text-yellow"></i><i class="ph-fill ph-star fs-20 text-yellow"></i><i class="ph-fill ph-star fs-20 text-yellow"></i></div>
            <div class="body2 mt-12">Bytewave exceeded our expectations with their cloud computing solutions. Highly recommended!</div>
            <div class="infor mt-12">
              <div class="text-title">Christina Smith</div>
              <div class="caption1 text-on-surface-variant1">CEO Digital Avitex</div>
              <div class="double-slash"><i class="icon-slash-bora"></i><i class="icon-slash-bora"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="item pl-32 pr-32 pt-40 pb-40 bg-white bora-16 flex-item-center gap-20 border-outline"><img class="bora-50 w-120 h-120 object-fit-cover display-block" src="assets/images/avatar/avatar2.png" alt=""/>
          <div class="content">
            <div class="star flex-item-center gap-1"><i class="ph-fill ph-star fs-20 text-yellow"></i><i class="ph-fill ph-star fs-20 text-yellow"></i><i class="ph-fill ph-star fs-20 text-yellow"></i><i class="ph-fill ph-star fs-20 text-yellow"></i><i class="ph-fill ph-star fs-20 text-yellow"></i></div>
            <div class="body2 mt-12">Bytewave exceeded our expectations with their cloud computing solutions. Highly recommended!</div>
            <div class="infor mt-12">
              <div class="text-title">Christina Smith</div>
              <div class="caption1 text-on-surface-variant1">CEO Digital Avitex</div>
              <div class="double-slash"><i class="icon-slash-bora"></i><i class="icon-slash-bora"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="item pl-32 pr-32 pt-40 pb-40 bg-white bora-16 flex-item-center gap-20 border-outline"><img class="bora-50 w-120 h-120 object-fit-cover display-block" src="assets/images/avatar/avatar3.png" alt=""/>
          <div class="content">
            <div class="star flex-item-center gap-1"><i class="ph-fill ph-star fs-20 text-yellow"></i><i class="ph-fill ph-star fs-20 text-yellow"></i><i class="ph-fill ph-star fs-20 text-yellow"></i><i class="ph-fill ph-star fs-20 text-yellow"></i><i class="ph-fill ph-star fs-20 text-yellow"></i></div>
            <div class="body2 mt-12">Bytewave exceeded our expectations with their cloud computing solutions. Highly recommended!</div>
            <div class="infor mt-12">
              <div class="text-title">Christina Smith</div>
              <div class="caption1 text-on-surface-variant1">CEO Digital Avitex</div>
              <div class="double-slash"><i class="icon-slash-bora"></i><i class="icon-slash-bora"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="item pl-32 pr-32 pt-40 pb-40 bg-white bora-16 flex-item-center gap-20 border-outline"><img class="bora-50 w-120 h-120 object-fit-cover display-block" src="assets/images/avatar/avatar4.png" alt=""/>
          <div class="content">
            <div class="star flex-item-center gap-1"><i class="ph-fill ph-star fs-20 text-yellow"></i><i class="ph-fill ph-star fs-20 text-yellow"></i><i class="ph-fill ph-star fs-20 text-yellow"></i><i class="ph-fill ph-star fs-20 text-yellow"></i><i class="ph-fill ph-star fs-20 text-yellow"></i></div>
            <div class="body2 mt-12">Bytewave exceeded our expectations with their cloud computing solutions. Highly recommended!</div>
            <div class="infor mt-12">
              <div class="text-title">Christina Smith</div>
              <div class="caption1 text-on-surface-variant1">CEO Digital Avitex</div>
              <div class="double-slash"><i class="icon-slash-bora"></i><i class="icon-slash-bora"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>