.our-mission-block {
    .counter {
        >div {
            .counter-item {
                border-left: 4px solid var(--blue);
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}

.history-block {
    .content-main {
        >.row {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 2px;
                // height: 100%;
                top: 0;
                bottom: 0;
                background-color: var(--outline);
                left: 50%;
                transform: translate(-50%);
            }
        }
    }

    @media (max-width: 991.99px) {
        .content-main>.row {
            .pr-125 {
                padding-right: 60px;
            }

            .pl-125 {
                padding-left: 60px;
            }
        }
    }

    @media (max-width: 767.99px) {
        .content-main>.row {
            &::before {
                display: none;
            }

            .pr-125 {
                padding-right: 15px;
            }

            .pl-125 {
                padding-left: 15px;
            }

            &:nth-child(1),
            &:nth-child(3),
            &:nth-child(5) {
                .text-end {
                    text-align: left !important;
                }
            }

            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(6) {
                flex-direction: column-reverse;
            }
        }

        .pr-80 {
            padding-right: 0;
        }

        .pl-80 {
            padding-left: 0;
        }
    }
}

.style-about-us {
    .section-brand.bg-white {
        background-color: transparent;
    }

    .section-about.style-seven-first {
        .container .row {
            padding: 60px;
            border-radius: 28px;
            background: linear-gradient(238deg, #FAF7EF 0%, #F4F6FC 99.66%);
        }

        @media (max-width: 767.99px) {
            .container .row {
                padding: 40px;
                border-radius: 20px;
            }
        }

        @media (max-width: 575.99px) {
            .container .row {
                border-radius: 12px;
                padding: 20px;
            }
        }
    }

    .section-testimonial {
        background: linear-gradient(238deg, #FAF7EF 0%, #F4F6FC 99.66%);
    }
}