/*
*** Case Studies - Style 1: Start
*/
.style-about-us.style-case-studies {
    .section-brand {
        padding-top: 60px;
        padding-bottom: 60px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            max-width: 1290px;
            left: 50%;
            transform: translateX(-50%);
            top: 0;
            width: 100%;
            height: 1px;
            background-color: var(--outline);
        }

        &::after {
            content: "";
            position: absolute;
            max-width: 1290px;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: var(--outline);
        }

        @media (max-width: 1290px) {

            &::before,
            &::after {
                left: 15px;
                right: 15px;
                transform: none;
            }
        }

        @media (max-width: 992px) {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        @media (max-width: 767.99px) {
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }
}


.section-success-stories .container .list-news .item {
    .main-item {
        .bg-img {
            overflow: hidden;

            img {
                transition: all ease 0.4s;
            }
        }

        .title {
            transition: all ease 0.4s;
        }

        &:hover {
            .bg-img {
                img {
                    transform: scale(1.06);
                }
            }

            .title {
                background: var(--white);
            }
        }
    }
}

/*
*** Case Studies - Style 1: End
*/

/*
*** Case Studies - Style 2: Start
*/
.list-case-studies {
    .row {
        .item-main {
            position: relative;
            border-radius: 16px;
            overflow: hidden;
            transition: all ease 0.5s;
            cursor: pointer;

            .bg-img {
                position: relative;

                img {
                    transition: all ease 0.5s;
                }
            }

            .infor {
                transition: all ease 0.5s;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -150px;
            }

            &:hover {
                box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.10);

                .bg-img {
                    img {
                        transform: scale(1.06);
                    }
                }

                .infor {
                    bottom: 0;
                }
            }
        }
    }
}

/*
*** Case Studies - Style 2: End
*/

/*
*** Case Studies - Style 3: Start
*/
.list-blog-page.section-case-studies {
    .container {
        overflow: hidden;

        .list-news {
            .item {
                cursor: pointer;

                .main-item {
                    cursor: pointer;
                }
            }
        }
    }
}

/*
*** Case Studies - Style 3: End
*/

/*
*** Case Studies - Style 4: Start
*/
.case-studies-list-block {
    .item {
        .item-main {
            border-radius: 20px;
            background: linear-gradient(238deg, #FAF7EF 0%, #F4F6FC 99.66%);
            overflow: hidden;
            display: block;

            .bg-img {
                overflow: hidden;
                height: 100%;

                img {
                    height: 100%;
                    object-fit: cover;
                    transition: all ease 0.4s;
                }
            }

            .text-button-small {
                position: relative;
                display: inline-block;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: var(--on-surface);
                    transition: all ease 0.4s;
                }

                &:hover {
                    &::before {
                        width: 100%;
                    }
                }
            }

            &:hover {
                .bg-img {
                    img {
                        transform: scale(1.05);
                    }
                }

                .heading4 {
                    text-decoration: underline;
                }
            }
        }
    }

    .list-nav-number {
        .nav-item {
            width: 48px;
            height: 48px;
            border-radius: 8px;
            transition: all ease 0.2s;

            &:hover,
            &.active {
                color: var(--white);
                background-color: var(--blue);
            }
        }
    }

    @media (max-width: 991.99px) {
        .item {
            .item-main {
                .row {
                    >div:last-child {
                        padding-left: 0;

                        .infor {
                            padding: 24px 0;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 767.99px) {
        .item {
            .item-main {
                border-radius: 12px;

                .row {
                    // flex-direction: column;

                    >div:first-child {
                        padding-right: 0;
                    }

                    >div:last-child {
                        padding-left: 15px;

                        .infor {
                            padding: 24px;
                        }
                    }
                }
            }
        }
    }
}

/*
*** Case Studies - Style 4: End
*/


/*
*** Case Studies Detail Page: Start
*/
.benefit-block {
    @media (max-width: 991.99px) {
        .heading {
            .body2 {
                text-align: left !important;
            }
        }
    }
}

.counter-block {
    .content-main .item {
        .heading3 {
            white-space: nowrap;
        }
    }
}

.feature-block {
    .row {
        >div:last-child {
            border-left: 1px solid var(--outline);
        }
    }
}

/*
*** Case Studies Detail Page: End
*/


/*
*** Case Studies Detail Page - Style2: Start
*/
.case-studies-detail-two {
    .section-testimonial {
        .slick-dots {
            margin-left: 0;
            margin-top: 24px;
            padding-bottom: 0;
        }
    }

    @media (max-width: 992px) {
        .container .row {
            flex-direction: column-reverse;
        }
    }

    @media (max-width: 400px) {
        .counter-block {
            .content-main {
                text-align: center;

                .list-counter {
                    flex-direction: column;
                }
            }
        }
    }
}

/*
*** Case Studies Detail Page - Style2: End
*/