/*
*** Form Login, Register Page: Start
*/
.form-login-block {
    .form {
        >.text-on-surface-variant1 {
            position: relative;

            span {
                position: relative;
                z-index: 1;
            }

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-color: var(--outline);
                z-index: 0;
            }
        }

        .list-login {
            a {
                transition: all ease 0.3s;

                i {
                    transition: all ease 0.3s;
                }

                &:hover {
                    background-color: var(--blue);
                    color: var(--white);

                    i, path {
                        color: var(--white) !important;
                        fill: var(--white) !important;
                    }
                }
            }
        }
    }
}

/*
*** Form Login, Register Page: End
*/