/*
*** Shop Page: Start
*/
.breadcrum-heading {
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

.list-products-block {
    .top-filter {
        .select-block {
            position: relative;

            select {
                -webkit-appearance: none;
            }

            i {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 12px;
            }
        }
    }

    .list-nav-number {
        .nav-item {
            width: 48px;
            height: 48px;
            border-radius: 8px;
            transition: all ease 0.2s;

            &:hover,
            &.active {
                color: var(--white);
                background-color: var(--blue);
            }
        }
    }
}
/*
*** Shop Page: End
*/