/*
*** Our Team Page: Start
*/
.teams-block {
    .list-member {
        .member-item {
            .bg-img {
                overflow: hidden;
                border-radius: 28px;
                display: block;

                img {
                    transition: all ease 0.3s;
                }
            }

            .heading5 {
                display: inline-block;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: var(--on-surface);
                    transition: all ease 0.3s;
                }
            }

            &:hover {
                .bg-img {
                    img {
                        transform: scale(1.04);
                    }
                }

                .heading5 {
                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }

    .cta-block {
        .heading6 {
            text-transform: unset;
        }

        a.button {
            transition: all ease 0.4s;

            &:hover {
                background-color: var(--on-surface);
                color: var(--white);
            }
        }

        @media (max-width: 576px) {
            .heading3 {
                br {
                    display: none;
                }
            }
        }
    }
}

/*
*** Our Team Page: End
*/

/*
*** Team Detail Page: Start
*/
.team-detail-block {
    .row {
        .content-detail {
            .list-social {
                a {
                    background-color: transparent;

                    i {
                        background-color: transparent;
                    }

                    &:hover {
                        i {
                            color: var(--blue);
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 991.99px) {
        .row {
            position: relative;

            .content-detail {
                .user-infor {
                    position: absolute;
                    left: calc(50% + 16px);
                    top: 0;
                }

                .user-desc {
                    >div:nth-child(1) {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    @media (max-width: 575.99px) {
        .row {
            position: relative;

            .content-detail {
                .user-infor {
                    position: relative;
                    left: 0;

                    .list-social {
                        a {
                            i {
                                font-size: 16px;
                            }
                        }
                    }
                }

                .user-desc {
                    >div:nth-child(1) {
                        margin-top: 20px;
                    }

                    .list-award {
                        img {
                            width: 80px;
                            height: 80px;
                        }
                    }
                }
            }
        }
    }
}

/*
*** Team Detail Page: End
*/