.list-social.flex-item-center.gap-10.mt-28
    a(href="https://www.facebook.com/" target="_blank").item.bora-50.w-40.h-40.flex-center.border-on-surface
        i.icon-facebook
    a(href="https://www.linkedin.com/" target="_blank").item.bora-50.w-40.h-40.flex-center.border-on-surface
        i.icon-linkedin
    a(href="https://www.twitter.com/" target="_blank").item.bora-50.w-40.h-40.flex-center.border-on-surface
        i.icon-twitter
    a(href="https://www.youtube.com/" target="_blank").item.bora-50.w-40.h-40.flex-center.border-on-surface
        i.icon-youtube
    a(href="https://www.instagram.com/" target="_blank").item.bora-50.w-40.h-40.flex-center.border-on-surface
        i.icon-instagram.fs-14