.confirm-delete-modal
    .confirm-delete-modal-container.flex-center.p-40.bg-white.bora-24
        .main-content
            .body2.text-center Are you sure you want to delete this product?
            .flex-item-center.gap-12.mt-16
                .delete.button.bg-critical.text-white.border-none.pointer Delete 
                .cancel.button.bg-surface.border-none.pointer Cancel 
