.cart-modal.js-cart-modal
    .cart-modal-container.js-cart-modal-container
        .cart-modal-header 
            .header-title Shopping Cart
            .header-close.js-modal-close Close 
        .cart-modal-list.list-product-main 
            
        .cart-modal-footer 
            .footer-heading 
                .heading-title Subtotal
                .heading-price $30.0
            .footer-btn-block 
                a.button.view-cart-btn(href="cart.html")  View cart