#popup-newsletter-block
    .popup-newsletter-main
        .bg-img 
            img(src="assets/images/component/bg-popup-newsletter.png", alt="").w-100.h-100
        .content 
            .close-block.text-end
                i.ph-bold.ph-x.d-block.fs-18.pointer
            .heading4 Get Our Newsletter
            .caption1.text-on-surface-variant1.mt-16 Gain access to in-depth articles and analysis from our team of IT experts.
            form.mt-32
                .form-input
                    input(type="text" placeholder="Email")
                    button
                        i.ph.ph-paper-plane-tilt.text-on-surface-variant1
                .flex-item-center.gap-8.mt-12
                    input(type="checkbox", name="prevent").prevent-popup-input
                    .caption1.text-on-surface-variant1 Prevent this Pop-up
